<div id="cmp-password_change" class="app_content-container-cmp height-100percent">
	<div id="cmp-wrapper">
		<h3 class="text-center">{{'fe.passwordChange.passwordChange' | translate}}</h3>
		<form #enterEmailForm="ngForm" *ngIf="!passwordChanged">
			<div class="form-group">
				<validation-messages [errors]="emailErrors">
					<label>{{'fe.generalComponentContent.username' | translate}}</label>
					<span *ngIf="!enterEmailForm.value.username" class="label label-danger pull-right">{{'fe.generalComponentContent.required' | translate}}</span>
					<input type="text" class="form-control" name="username" id="username" placeholder="{{'fe.generalComponentContent.username' | translate}}" [disabled]="requestState"
						ngModel required>
				</validation-messages>
				<span *ngIf="!requestState && enterEmailForm.value.email && !enterEmailForm?.controls?.email?.valid" class="label label-danger">{{'fe.generalComponentContent.invalidEmailFormat' | translate}}</span>
			</div>
			<div class="form-group text-center" *ngIf="!requestState">
				<button type="submit" class="btn btn-primary" (click)="forgotPasswordRequest(enterEmailForm.value.username)" [disabled]="!enterEmailForm.valid">{{'fe.passwordChange.sendRequest' | translate}}</button>
			</div>
		</form>
		<form #changePasswordForm="ngForm" *ngIf="!passwordChanged">
			<div class="form-group" *ngIf="requestState">
				<label>{{'fe.passwordChange.newPassword' | translate}}</label>
				<span *ngIf="!changePasswordForm.value.password" class="label label-danger pull-right">{{'fe.generalComponentContent.required' | translate}}</span>
				<div class="input-group">
				<input [type]="passwordType" class="form-control" name="password" placeholder="{{'fe.passwordChange.newPassword' | translate}}" ngModel validateEqual="changePasswordForm.value.confirmPassword"
					reverse="true" required>
				<div class="input-group-addon cursor-pointer" (click)="togglePasswordVisibility()"><i class="glyphicon glyphicon-eye-open"></i></div>
				</div>
			</div>
			<div class="form-group" *ngIf="requestState">
				<label>{{'fe.passwordChange.confirmPassword' | translate}}</label>
				<span *ngIf="changePasswordForm.value.password && changePasswordForm.value.confirmPassword && changePasswordForm.value.password != changePasswordForm.value.confirmPassword"
					class="label label-danger pull-right">{{'fe.passwordChange.passwordMismatch' | translate}}</span>
				<input [type]="passwordType" class="form-control" name="confirmPassword" placeholder="{{'fe.passwordChange.confirmPassword' | translate}}" ngModel reverse="false"
					required>
			</div>
			<div class="form-group" *ngIf="requestState">
				<validation-messages [errors]="formErrors" inputName="mailHash">
					<label>{{'fe.passwordChange.secredCode' | translate}}</label>
					<span *ngIf="!changePasswordForm.value.mailHashSecret" class="label label-danger pull-right">{{'fe.generalComponentContent.required' | translate}}</span>
					<input type="text" class="form-control" name="mailHashSecret" placeholder="Secret code" ngModel required>
				</validation-messages>
			</div>
			<div class="form-group" *ngIf="requestState">
				<div *ngIf="captcha.imageBase64" class="text-center">
					<img class="img-captcha" [src]="'data:image/jpeg;base64,' + captcha.imageBase64" />
				</div>
				<validation-messages [errors]="formErrors" inputName="captcha">
					<label>{{'fe.passwordChange.textAbove' | translate}}:</label>
					<span *ngIf="!changePasswordForm.value.captcha" class="label label-danger pull-right">{{'fe.generalComponentContent.required' | translate}}</span>
					<div class="input-group">
					<input class="form-control" type="text" name="captcha" placeholder="{{'fe.passwordChange.captcha' | translate}}" ngModel required>
					<div class="input-group-addon cursor-pointer" (click)="getCaptcha()"><i class="glyphicon glyphicon-refresh"></i></div>
					</div>
				</validation-messages>
			</div>
			<div class="form-group text-center" *ngIf="requestState">
				<button type="submit" class="btn btn-primary" (click)="changePasswordSubmit(changePasswordForm)" [disabled]="!changePasswordForm.valid">{{'fe.passwordChange.changePassword' | translate}}</button>
			</div>
			<div class="container-fluid form-group text-center">
				<a routerLink="/login">{{'fe.passwordChange.login' | translate}}</a>
			</div>
		</form>
		<div *ngIf="componentAlert.show" class="alert_box">
			<alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
				<span [innerHTML]="componentAlert.message"></span>
			</alert>
		</div>
	</div>
</div>