<navigation-menu *ngIf="_authService.getLoginStatus() && _authService.initState && _appService.initModuleLoaded"></navigation-menu>

<!-- Company css tag-->
<link rel="stylesheet" [href]="_appService.companyCss | safeResourceUrl" *ngIf="_appService.companyCss" >

<!-- Global loader for REST calls-->
<global-loader [loaderCounter]="_appService.globalLoaderCounter" loadingMessage="Loading..."></global-loader>

<div id="app_content-container" [ngClass]="{'component': _appService.initModuleLoaded}">
	<!-- Inner component loading -->
	<global-loader [loaderCounter]="_appService.getRestQueue()" loadingMessage="Loading..." position="local"></global-loader>
	<!-- Page change loading -->
	<global-loader [loaderCounter]="_appService.postLoginLoad" loadingMessage="Loading..." position="local"></global-loader>
	<!-- Routing container -->
	<div class="box-full_size overflow-auto" [ngClass]="{'overflow-hidden': _appService.getRestQueue()}">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding_sides-0 app_content-middle" [ngClass]="{'height-100percent': !_appService.initModuleLoaded}">
			<router-outlet></router-outlet>
		</div>
		<div class="col-md-1"></div>
		<footer-menu *ngIf="_authService.getLoginStatus() && _authService.initState && _appService.initModuleLoaded"></footer-menu>
	</div>
</div>