<navigation-menu *ngIf="_authService.getLoginStatus() && _authService.initState && _appService.initModuleLoaded"></navigation-menu>

<!-- Inner component loading -->
<!-- <global-loader [loaderCounter]="_appService.getRestQueue()" position="local"></global-loader> -->

<!-- Company css tag-->
<link rel="stylesheet" [href]="_appService.companyCss | safeResourceUrl" *ngIf="_appService.companyCss">

<!-- Global loader for REST calls-->
<global-loader [loaderCounter]="_appService.globalLoaderCounter" loadingMessage="Loading..."></global-loader>

<div id="app_content-container" [ngClass]="{'component': _appService.initModuleLoaded && _appService.currentPageRoute!='/'}">
	<!-- Page change loading -->
	<global-loader [loaderCounter]="_appService.postLoginLoad" loadingMessage="Loading..." position="local"></global-loader>
	<!-- Routing container -->
	<div class="box-full_size overflow-auto">
		<!-- <div class="box-full_size overflow-auto" [ngClass]="{'overflow-hidden': _appService.getRestQueue()}"> -->
		<div class="padding_sides-0 app_content-middle" [ngClass]="{'height-100percent': !_appService.initModuleLoaded, 'col-md-12': _appService.currentPageRoute=='/', 'col-md-10 col-md-offset-1': _appService.currentPageRoute!='/'}">
			<router-outlet></router-outlet>
		</div>
		<!-- Footer component -->
		<footer-menu *ngIf="_authService.getLoginStatus() && _authService.initState && _appService.initModuleLoaded"></footer-menu>
	</div>
</div>