#cmp-schedulers{
    .cronExpressionInput{
        float:left;
        width: 20%;
        margin-right:20px;
    }
    .cronLabel{
        max-width: 17%;
        min-width: 17%;
        display:inline-block;
    }
    .btnAdd{
        border-radius:20px;
        margin-right: 6px;
    }
    .btnCronOperation{
        margin-left:10px;
    }
    .statusColumn{
        text-align: center;
        width:40px;
    }
    .completed{
        background-color:green;
        display: inline-block;
        height: 12px;
        width:12px;
    }
    .failed{
        background-color:red;
        display: inline-block;
        height: 12px;
        width:12px;
    }
    .started{
        background-color:yellow;
        display: inline-block;
        height: 12px;
        width:12px;  
    }
    .stopped{
        background-color:purple;
        display: inline-block;
        height: 12px;
        width:12px;
    }
    .crashed {
        background-color: black;
        display: inline-block;
        height: 12px;
        width: 12px; 
    }
    .cronErrorLabel{
        margin-right: 520px;    
    }
    .cronFormGroup{
        margin-bottom: 10px;
    }
    .btnStopScheduler{
        background-color: #0d63ad;
    }
    .btnSaveScheduler{
        pointer-events: auto;
    }
    .statusTooltip .tooltip-inner {
        background-color: #f0f1f4;
        color:black;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .tooltip-wrapper{
        display:inline-block;
    }
    .tooltip.top .tooltip-arrow{
        display:none;
    }
    .forbiddenOpTooltip.tooltip-inner {
        background-color: #f0f1f4;
        color:black;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    th {
        cursor: pointer;
    }
    .refresherSpan{
        display: inline-table;
        width: 20px;
    }
    .radioOption{
         display:inline;
    }
    .paramsTable{
         width:70%;
    }
    .schedulerList{
         margin-bottom:10px;
    }
    .operationRow{
        margin-top:10px;
        margin-bottom:10px;
        text-align:right;
    }
    .delete-button {
        float: right;
        width: 30px;
        padding: 3px !important;
    }

    .edit-button {
        float: left;
        width: 30px;
        padding: 3px !important;
    }

    .search-span {
        float: left;
    }
    .scheduler-modal{
        padding: 20px;
        overflow-y: scroll;
        max-height: 730px;
        min-height: 730px;
    }
    .btnNewScheduler{
        margin-bottom: 10px;
    }
}