<div id="cmp-schedulers" class="app_content-container-cmp">
    <div *ngIf="componentAlert.show" class="alert_box">
        <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
            <span [innerHTML]="componentAlert.message"></span>
        </alert>
    </div>
    <h2 class="view-header clearfix">
        <div class="view-header-sub">
            {{'fe.schedulerManagement.mainHeader' | translate}}
        </div>
    </h2>
    <div class="col-md-9 form-group">
        <span class="search-span">
            <input #globalFilter type="text" class="form-control" [placeholder]="'fe.schedulerManagement.msgSearch' | translate">
        </span>
    </div>
    <div class="col-md-3">
        <div class="pull-right">
            <button class="btn btn-success" (click)="newSchedulerBtnClick()">{{'fe.schedulerManagement.btnNewScheduler' | translate}}</button>
        </div>
    </div>
    <div class="container-fluid">
        <p-dataTable [value]="schedulers" [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" selectionMode="single" [(selection)]="selectedScheduler" [globalFilter]="globalFilter" [paginator]="true" [rows]="15" tableStyleClass="schedulersTable" reorderableColumns="true">
            <p-column [style]="{'width':'4%','text-align':'center'}" field="color" header="">
                <template let-scheduler="rowData" pTemplate="body">
                    <span placement="top" tooltipClass="statusTooltip" [tooltip]="scheduler.lastExecutionStatus" [class]="scheduler.lastExecutionStatus  | lowercase"></span>
                </template>
            </p-column>
            <p-column [style]="{'width':'22%','text-align':'center'}" field="name" [header]="'fe.schedulerManagement.colSchedulerName' | translate" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
            <p-column [style]="{'width':'22%','text-align':'center'}" field="jobName"  [header]="'fe.schedulerManagement.colJobName' | translate" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
            <p-column [style]="{'width':'13%','text-align':'center'}" field="lastExecutionTime" [header]="'fe.schedulerManagement.colLastExecTime' | translate" sortable="true">
                <template let-scheduler="rowData" pTemplate="body"> {{scheduler.lastExecutionTime | date:'short'}} </template>
            </p-column>
            <p-column [style]="{'width':'13%','text-align':'center'}" field="nextExecutionTime" [header]="'fe.schedulerManagement.colNextExecTime' | translate" sortable="true">
                <template let-scheduler="rowData" pTemplate="body"> {{scheduler.nextExecutionTime| date:'short'}} </template>
            </p-column>
            <p-column [style]="{'width':'14%','text-align':'center'}" field="numberOfParameters" [header]="'fe.schedulerManagement.colNrOfParams' | translate" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
            <p-column [style]="{'width':'7%','text-align':'center'}" styleClass="col-button">
                <template let-scheduler="rowData" pTemplate="body">
                    <button type="button" class="btnStopScheduler" [disabled]="scheduler.lastExecutionStatus=='STARTED' || scheduler.lastExecutionStatus=='STOPPED'" pButton (click)="onStopClick(scheduler)" label="Stop"></button>
                </template>
            </p-column>
            <p-column [style]="{'width': '84px'}">
                <template pTemplate="header">
                    <span *ngIf="!isRefreshing">
                        <button class="btn btn-success" (click)="onRefreshListClick()">
                            <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    </span>
                </template>
                <template let-scheduler="rowData" pTemplate="body">
                    <div class="text-center">
                        <button class="btn btn-warning edit-button" (click)="editSchedulerClick(scheduler)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn btn-danger delete-button" [disabled]="scheduler.lastExecutionStatus=='STARTED'" (click)="schedulerNameToDelete=scheduler.name;confirmationModal.show();">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </template>
            </p-column>
        </p-dataTable>
    </div>

    <!--modal window for scheduler form -->
    <div bsModal #schedulerOperationsModal="bs-modal" class="modal fade" id="schedulerModal" tabindex="-1" role="dialog" aria-labelledby="schedulerModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="schedulerOperationsModal.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 *ngIf="!isNewScheduler" class="modal-title" id="myModalLabel">{{'fe.schedulerManagement.msgEditScheduler' | translate}}</h4>
                    <h4 *ngIf="isNewScheduler" class="modal-title" id="myModalLabel">{{'fe.schedulerManagement.msgNewScheduler' | translate}}</h4>
                </div>
                <form #schedulerForm="ngForm" (ngSubmit)="newSchedulerSubmit()">
                    <div class="modal-body scheduler-modal">
                        <div *ngIf="componentAlert.show && (componentAlert.type=='danger' || componentAlert.type=='warning')" class="alert_box">
                            <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
                                <span [innerHTML]="componentAlert.message"></span>
                            </alert>
                        </div>
                        <div class="form-group">
                            <validation-messages [errors]="formErrors" inputName="name">
                                <label [attr.for]="schedulerName">{{'fe.schedulerManagement.fieldSchedulerName' | translate}}</label>
                                <span *ngIf="!newScheduler.name" class="label label-danger pull-right">{{'fe.schedulerManagement.msgRequired' | translate}}</span>
                                <input class="form-control" type="text" name="schedulerName" [(ngModel)]="newScheduler.name" [placeholder]="'fe.schedulerManagement.fieldSchedulerName' | translate" aria-describedby="nameGenericNameHelpBlock">
                            </validation-messages>
                        </div>
                        <div class="form-group">
                            <validation-messages [errors]="formErrors" inputName="jobName">
                                <label [attr.for]="jobName">{{'fe.schedulerManagement.fieldJobName' | translate}}</label>
                                <span *ngIf="!newScheduler.jobName" class="label label-danger pull-right">{{'fe.schedulerManagement.msgRequired' | translate}}</span>
                                <input class="form-control" type="text" name="jobName" [(ngModel)]="newScheduler.jobName" [placeholder]="'fe.schedulerManagement.fieldJobName' | translate" aria-describedby="nameGenericNameHelpBlock">
                            </validation-messages>
                        </div>
                        <div class="form-group">
                            <validation-messages [errors]="formErrors" inputName="jobDescription">
                                <label [attr.for]="jobDescription">{{'fe.schedulerManagement.fieldJobDescription' | translate}}</label>
                                <span *ngIf="!newScheduler.jobDescription" class="label label-danger pull-right">{{'fe.schedulerManagement.msgRequired' | translate}}</span>
                                <input class="form-control" type="text" name="jobDescription" [(ngModel)]="newScheduler.jobDescription" [placeholder]="'fe.schedulerManagement.fieldJobDescription' | translate" aria-describedby="nameGenericNameHelpBlock">
                            </validation-messages>
                        </div>
                        <div class="form-group">
                            <validation-messages [errors]="formErrors" inputName="triggerName">
                                <label [attr.for]="triggerName">{{'fe.schedulerManagement.fieldTriggerName' | translate}}</label>
                                <span *ngIf="!newScheduler.triggerName" class="label label-danger pull-right">{{'fe.schedulerManagement.msgRequired' | translate}}</span>
                                <input class="form-control" type="text" name="triggerName" [(ngModel)]="newScheduler.triggerName" [placeholder]="'fe.schedulerManagement.fieldTriggerName' | translate" aria-describedby="nameGenericNameHelpBlock">
                            </validation-messages>
                        </div>
                        <!--cron expression editor section-->
                        <h4>{{'fe.schedulerManagement.fieldCronEditor' | translate}}</h4>
                        <div class="form-group">
                            <div>
                                <label class="cronLabel" for="cronMinute">{{'fe.schedulerManagement.fieldMinute' | translate}}</label>
                                <span *ngIf="cronFieldNotEmpty('minute') && (cronValues.minute.value<0 || cronValues.minute.value>59)" class="label label-danger">{{'fe.schedulerManagement.msgInvalidMinute' | translate}}</span>
                            </div>
                            <input onlyNumber type="text" class="form-control cronExpressionInput" id="cronMinute" name="cronMinute" [(ngModel)]="cronValues.minute.value" #minute="ngModel">
                            <div class="radio radioOption">
                                <label>
                                            <input type="radio" name="cronOption" value="minute" [(ngModel)]="cronOption">
                                            <b>{{'fe.schedulerManagement.msgMinute' | translate}}</b>
                                        </label>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="form-group cronFormGroup">
                            <div>
                                <label class="cronLabel" for="cronHour">{{'fe.schedulerManagement.fieldHours' | translate}}</label>
                                <span *ngIf="cronFieldNotEmpty('hour') && (cronValues.hour.value<0 || cronValues.hour.value>23)" class="label label-danger">{{'fe.schedulerManagement.msgInvalidHour' | translate}}</span>
                            </div>
                            <input onlyNumber type="text" class="form-control cronExpressionInput" id="cronHour" name="cronHour" [(ngModel)]="cronValues.hour.value">
                            <div class="radio radioOption">
                                <label>
                                        <input type="radio" name="cronOption" value="hour" [(ngModel)]="cronOption"> 
                                        <b>{{'fe.schedulerManagement.msgHours' | translate}}</b>
                                    </label>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="form-group cronFormGroup">
                            <div>
                                <label class="cronLabel" for="cronDayWeek">{{'fe.schedulerManagement.fieldDayOfWeek' | translate}}</label>
                                <span *ngIf="cronFieldNotEmpty('dayOfWeek') && (cronValues.dayOfWeek.value<1 || cronValues.dayOfWeek.value>7)" class="label label-danger">{{'fe.schedulerManagement.msgInvalidDayOfWeek' | translate}}</span>
                            </div>

                            <input onlyNumber [disabled]="cronFieldNotEmpty('dayOfMonth')" type="text" class="form-control cronExpressionInput" id="cronDayWeek" #dW name="cronDayWeek" [(ngModel)]="cronValues.dayOfWeek.value">
                            <div class="radio radioOption">
                                <label>
                                        <input *ngIf="cronFieldNotEmpty('dayOfMonth')" type="radio" disabled name="cronOption" value="dayOfWeek" [(ngModel)]="cronOption">
                                        <input *ngIf="!cronFieldNotEmpty('dayOfMonth')" type="radio" name="cronOption" value="dayOfWeek" [(ngModel)]="cronOption">
                                        <b>{{'fe.schedulerManagement.msgDayOfWeek' | translate}}</b>
                                    </label>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="form-group cronFormGroup">
                            <div>
                                <label class="cronLabel" for="cronDayMonth">{{'fe.schedulerManagement.fieldDayOfMonth' | translate}}</label>
                                <span *ngIf="cronFieldNotEmpty('dayOfMonth') && (cronValues.dayOfMonth.value<1 || cronValues.dayOfMonth.value>31)" class="label label-danger">{{'fe.schedulerManagement.msgInvalidDayOfMonth' | translate}}</span>
                            </div>

                            <input onlyNumber [disabled]="cronFieldNotEmpty('dayOfWeek')" type="text" class="form-control cronExpressionInput" id="cronDayMonth" name="cronDayMonth" [(ngModel)]="cronValues.dayOfMonth.value">
                            <div class="radio radioOption">
                                <label>
                                        <input *ngIf="cronFieldNotEmpty('dayOfWeek')" disabled type="radio" name="cronOption" value="dayOfMonth" [(ngModel)]="cronOption">
                                        <input *ngIf="!cronFieldNotEmpty('dayOfWeek')" type="radio" name="cronOption" value="dayOfMonth" [(ngModel)]="cronOption">
                                        <b>{{'fe.schedulerManagement.msgDayOfMonth' | translate}}</b>
                                    </label>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="form-group cronFormGroup">
                            <div>
                                <label class="cronLabel" for="cronMonth">{{'fe.schedulerManagement.fieldMonth' | translate}}</label>
                                <span *ngIf="cronFieldNotEmpty('month') && (cronValues.month.value<1 || cronValues.month.value>12)" class="label label-danger">{{'fe.schedulerManagement.msgInvalidMonth' | translate}}</span>
                            </div>
                            <input onlyNumber type="text" class="form-control cronExpressionInput" id="cronMonth" name="cronMonth" [(ngModel)]="cronValues.month.value">
                            <div class="radio radioOption">
                                <label>
                                        <input type="radio" name="cronOption" value="month" [(ngModel)]="cronOption">
                                        <b>{{'fe.schedulerManagement.msgMonth' | translate}}</b>
                                    </label>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <!--end of cron expressione editor section-->

                        <!--parameters section-->
                        <h4>{{'fe.schedulerManagement.msgParameters' | translate}}</h4>
                        <validation-messages [errors]="formErrors" inputName="kjcTaskParameterses"></validation-messages>
                        <table class="table table-bordered paramsTable">
                            <tr>
                                <th>{{'fe.schedulerManagement.fieldParamName' | translate}}</th>
                                <th>{{'fe.schedulerManagement.fieldParamValue' | translate}}</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let param of newScheduler.kjcTaskParameterses;let i=index">
                                <td><input type="text" class="form-control" name="paramName{{i}}" [(ngModel)]="param.name" /></td>
                                <td><input type="text" class="form-control" name="paramValue{{i}}" [(ngModel)]="param.value" /></td>
                                <td>
                                    <button type="button" class="btn" (click)="displayConfirmRemove(false,newScheduler.name,param.name,param.id);lgModal.show();">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                </td>
                            </tr>
                            <tr *ngFor="let newParam of newParams;let i=index">
                                <td><input type="text" class="form-control" name="newParamName{{i}}" [(ngModel)]="newParam.name" /></td>
                                <td><input type="text" class="form-control" name="newParamValue{{i}}" [(ngModel)]="newParam.value" /></td>
                                <td>
                                    <button type="button" class="btn" (click)="displayConfirmRemove(true,newScheduler.name,newParam.name);lgModal.show();">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                </td>
                            </tr>
                        </table>
                        <button type="button" class="btn btn-primary btnAdd" (click)="addParameterClick()"><span class="fa fa-plus"></span></button>{{'fe.schedulerManagement.btnAddParam' | translate}}
                        <!--end of parameters section-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="schedulerOperationsModal.hide();">{{'fe.schedulerManagement.btnClose' | translate}}</button>
                        <div *ngIf="newScheduler.lastExecutionStatus=='STARTED'" class="tooltip-wrapper" placement="top" tooltipClass="forbiddenOpTooltip" tooltip="The scheduler can not be modified while is running">
                            <button type="submit" disabled class="btn disabled btnCronOperation btnSaveScheduler btn-primary">{{'fe.schedulerManagement.btnSave' | translate}}</button>
                        </div>
                        <button type="submit" *ngIf="newScheduler.lastExecutionStatus!='STARTED'" [disabled]="validateSchedulerForm()==false" class="btn btnCronOperation btn-primary">{{'fe.schedulerManagement.btnSave' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--modal window for deleting parameter confirmation-->
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="lgModal.hide()">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                    <h4 class="modal-title">{{'fe.schedulerManagement.deleteConfirmation' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-class">{{'fe.schedulerManagement.msgParamDelete' | translate}}?</div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default modal-cancel" (click)="lgModal.hide();$event.stopPropagation()">{{'fe.schedulerManagement.btnNo' | translate}}</button>
                    <button class="btn btn-primary modal-delete" (click)="removeParameter();lgModal.hide();$event.stopPropagation()">{{'fe.schedulerManagement.btnYes' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->

    <!--modal window for deleting scheduler confirmation-->
    <div bsModal #confirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="confirmationModal.hide()">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                    <h4 class="modal-title">{{'fe.schedulerManagement.msgSchedulerDeleteConfirmation' | translate}}?</h4>
                    <div class="modal-body">
                        <div class="modal-class">{{schedulerNameToDelete}} ?</div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default modal-cancel" (click)="confirmationModal.hide();$event.stopPropagation()">{{'fe.schedulerManagement.btnNo' | translate}}</button>
                        <button class="btn btn-primary modal-delete" (click)="deleteScheduler();confirmationModal.hide();$event.stopPropagation()">{{'fe.schedulerManagement.btnYes' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>