#cmp-home {
    @mixin mod($n, $max, $attrs...) {
        @each $attr in $attrs {
            $i: 0;
            @while $i <= $max {
                .#{$attr}-#{$i} {
                    #{$attr}: #{$i}px;
                    @content;
                }
                .#{$attr}-#{$i} {
                    @extend #{$attr}-#{$i} !optional
                }
                $i: $i+$n;
            }
        }
    }

    @include mod(5, 100, padding-bottom, padding-top, margin-bottom, margin-top, padding-left);

    #search-form {
        .search-button {
            position: absolute;
            right: -60px;
            top: 0;
        }

        .glyphicon-remove {
            cursor: pointer;
            line-height: 1.4;
            top: -20px;
            right: 15px;
            position: absolute;
        }

        input {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    ul.search-list {
        padding: 0;
        list-style: none;
        z-index: 9999;
        position: absolute;
        background-color: rgba(255, 255, 255, .7);
        top: 34px;
        box-shadow: 5px 5px 19px -8px black;
        max-width: 410px;

        & > li {
            padding: 5px 10px 5px 10px;
            min-height: 30px;
            border: 1px solid darkgrey;

            &:not(:last-child) {
                border-bottom: 0;
            }

            &:first-child {
                border-top: 0;
            }

            &:hover {
                background-color: #c1c0bf;
                cursor: pointer;
            }
        }
    }

    .smaller-font {
        font-size: 8pt;
    }

    .timepicker {
        position: absolute;
        right: 50px;
        top: -22px;
    }

    .position-relative {
        position: relative;
    }

    .coordinates-header {
        font-size: 12px;
        padding-top: 5px;
    }

    .arrow {
        position: relative;
        margin-left: 15px;
        padding: 0;
    }

    .custom-time-box {
        width: 42px;
        background-color: #eee;
        color: #555;
        opacity: 1;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .break-header {
        word-break: break-word;
    }

    .clicked {
        height: auto;
    }

    .transition {
        -webkit-transition: max-height .5s;
        -moz-transition: max-height .5s;
        -ms-transition: max-height .5s;
        -o-transition: max-height .5s;
        transition: max-height .5s;
    }

    .ui-datepicker {
        top: -240px !important;
    }
    
    &.kjgri {
        .list-group-item:hover:not(.active) {
            background-color: #d8d8d8 !important;
        }
        
        .risk-item {
            border-bottom: 1px solid #ececec;
            cursor: pointer;
            font-size: 16px;
            padding: 5px 7px 5px 31px;
            word-break: break-word;

            &:last-child {
                border: 0;
            }

            &:hover {
                background: #e2e2e2;
            }

            &.active {
                background: #337ab7;
                color: #fff;
            }
        }

        .risk_container {
            margin-bottom: 15px;

            .title-command {
                cursor: pointer;
                float: right;
                right: 6px;
                top: -1px;
            }

            // Bootstrap overrides
            .list-group {
                margin-bottom: 0;
            }

            .list-group-item {
                cursor: pointer;
                padding: 3px 15px;

                &:hover {
                    background: #e8e8e8;
                }

                &.active {
                    background-color: #337ab7;
                }
            }

            .panel {
                margin-bottom: 5px;

                .panel-body {
                    overflow: hidden;
                }
            }

            .panel-heading {
                padding: 4px 11px 2px;
            }

            .panel-body {
                padding: 0;
            }
        }

        .accordion-heading {
            font-size: 18px;
            padding-right: 21px;
            position: relative;
            word-break: break-word;

            .heading-arrow {
                bottom: 0;
                height: 16px;
                margin: auto;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        // Bootstrap overrides
        .panel-body {
            padding: 5px 0;
        }

        .panel-heading {
            padding: 7px 11px 5px;
        }

        // List of locations
        .location-panel {
            .list-group {
                margin-bottom: 0;
            }

            .list-group-item {
                cursor: pointer;

                &.active {
                    background-color: #337ab7 !important;
                }

                &:hover {
                    background: #e7e7e7;
                }
            }
        }

        // Map
        .map-box {
            border: 1px solid #d8d7d7;
            overflow: hidden;
            position: relative;
            

            #map {
                border-bottom: 1px solid #d8d7d7;
                height: 650px;
            }

            // Side bar with risk index values
            .risk_legend {
                background: rgba(248, 248, 248, .93);
                box-shadow: -6px 0 6px -4px rgba(0, 0, 0, .39);
                height: 650px;
                opacity: 0;
                overflow: auto;
                padding: 3px 10px 3px 24px;
                position: absolute;
                right: -240px;
                top: 0;
                transition: all .7s;
                width: 271px;

                &.opened {
                    opacity: 1;
                    right: 0;

                    .risk-box,
                    .head {
                        visibility: visible;
                    }
                }

                .separator {
                    margin: 10px 0;
                }

                .risk-box,
                .head {
                    visibility: hidden;
                }

                .head {
                    h4 {
                        clear: right;
                        float: left;
                        width: 195px;
                    }

                    .exit_icon {
                        cursor: pointer;
                        font-size: 26px;
                        left: -3px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                .indexes-table {
                    width: 100%;

                    .item {
                        &:nth-child(odd) {
                            background: rgba(51, 51, 51, .18);
                        }

                        .risk_name {
                            padding: 1px 5px 1px 5px;
                            word-break: break-all;
                        }

                        .index_value {
                            padding-right: 5px;
                            text-align: right;
                            word-break: break-all;
                        }
                    }
                }
            }

            // Bottom bar with risk index style
            .risk_index-style_legend  {
                padding: 7px 3px;

                .item {
                    // border-right: 1px solid #aaa;
                    background: #fbfbfb;
                    border: 1px solid #e8e8e8;
                    display: inline-block;
                    font-size: 12px;
                    margin: 6px 11px;
                    padding: 5px 0 3px;
                    text-align: center;

                    // &:last-child {
                    //     border: 0;
                    // }

                    .range,
                    .color_box {
                        display: inline-block;
                        margin-left: 1px;
                        position: relative;
                    }

                    .color_box {
                        height: 12px;
                        margin-left: 3px;
                        position: relative;
                        top: 1px;
                        width: 16px;
                    }
                }
            }
        }

        // Slider
        .slider-box {
            margin-top: 10px;
            position: relative;

            .slider-buttons {
                margin-bottom: 9px;
            }

            .slider-values {
                margin: 5px -3px 0px;
            }

            .current_value {
                background: #e0e0e0;
                display: block;
                font-size: 18px;
                font-weight: bold;
                left: 0;
                margin: auto;
                padding: 2px 0;
                position: absolute;
                right: 0;
                text-align: center;
                width: 46px;
            }
        }

        // Primeng overrides
        .ui-datatable .ui-datatable-data > tr > td {
            padding: 3px 15px;
        }

        .history_table-title {
            margin: 23px 0 4px;

            .chart_button {
                margin-bottom: -4px;
                position: relative;
                top: -11px;
            }
        }
    }
}


@media screen and (max-width: 1700px) and (min-width: 1450px) {
    #cmp-home div.timepicker {
        right: -20px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1200px) {
    #cmp-home div.timepicker {
        right: -82px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
    #cmp-home div.timepicker {
        right: -100px;
    }
}

@media screen and (max-width: 1000px) {
    #cmp-home {
        #search-form {
            .search-button {
                position: absolute;
                right: 15px;
                top: 0;
            }
        }
    }
}