#cmp-home .padding-bottom-0 {
  padding-bottom: 0px; }
#cmp-home .padding-bottom-5 {
  padding-bottom: 5px; }
#cmp-home .padding-bottom-10 {
  padding-bottom: 10px; }
#cmp-home .padding-bottom-15 {
  padding-bottom: 15px; }
#cmp-home .padding-bottom-20 {
  padding-bottom: 20px; }
#cmp-home .padding-bottom-25 {
  padding-bottom: 25px; }
#cmp-home .padding-bottom-30 {
  padding-bottom: 30px; }
#cmp-home .padding-bottom-35 {
  padding-bottom: 35px; }
#cmp-home .padding-bottom-40 {
  padding-bottom: 40px; }
#cmp-home .padding-bottom-45 {
  padding-bottom: 45px; }
#cmp-home .padding-bottom-50 {
  padding-bottom: 50px; }
#cmp-home .padding-bottom-55 {
  padding-bottom: 55px; }
#cmp-home .padding-bottom-60 {
  padding-bottom: 60px; }
#cmp-home .padding-bottom-65 {
  padding-bottom: 65px; }
#cmp-home .padding-bottom-70 {
  padding-bottom: 70px; }
#cmp-home .padding-bottom-75 {
  padding-bottom: 75px; }
#cmp-home .padding-bottom-80 {
  padding-bottom: 80px; }
#cmp-home .padding-bottom-85 {
  padding-bottom: 85px; }
#cmp-home .padding-bottom-90 {
  padding-bottom: 90px; }
#cmp-home .padding-bottom-95 {
  padding-bottom: 95px; }
#cmp-home .padding-bottom-100 {
  padding-bottom: 100px; }
#cmp-home .padding-top-0 {
  padding-top: 0px; }
#cmp-home .padding-top-5 {
  padding-top: 5px; }
#cmp-home .padding-top-10 {
  padding-top: 10px; }
#cmp-home .padding-top-15 {
  padding-top: 15px; }
#cmp-home .padding-top-20 {
  padding-top: 20px; }
#cmp-home .padding-top-25 {
  padding-top: 25px; }
#cmp-home .padding-top-30 {
  padding-top: 30px; }
#cmp-home .padding-top-35 {
  padding-top: 35px; }
#cmp-home .padding-top-40 {
  padding-top: 40px; }
#cmp-home .padding-top-45 {
  padding-top: 45px; }
#cmp-home .padding-top-50 {
  padding-top: 50px; }
#cmp-home .padding-top-55 {
  padding-top: 55px; }
#cmp-home .padding-top-60 {
  padding-top: 60px; }
#cmp-home .padding-top-65 {
  padding-top: 65px; }
#cmp-home .padding-top-70 {
  padding-top: 70px; }
#cmp-home .padding-top-75 {
  padding-top: 75px; }
#cmp-home .padding-top-80 {
  padding-top: 80px; }
#cmp-home .padding-top-85 {
  padding-top: 85px; }
#cmp-home .padding-top-90 {
  padding-top: 90px; }
#cmp-home .padding-top-95 {
  padding-top: 95px; }
#cmp-home .padding-top-100 {
  padding-top: 100px; }
#cmp-home .margin-bottom-0 {
  margin-bottom: 0px; }
#cmp-home .margin-bottom-5 {
  margin-bottom: 5px; }
#cmp-home .margin-bottom-10 {
  margin-bottom: 10px; }
#cmp-home .margin-bottom-15 {
  margin-bottom: 15px; }
#cmp-home .margin-bottom-20 {
  margin-bottom: 20px; }
#cmp-home .margin-bottom-25 {
  margin-bottom: 25px; }
#cmp-home .margin-bottom-30 {
  margin-bottom: 30px; }
#cmp-home .margin-bottom-35 {
  margin-bottom: 35px; }
#cmp-home .margin-bottom-40 {
  margin-bottom: 40px; }
#cmp-home .margin-bottom-45 {
  margin-bottom: 45px; }
#cmp-home .margin-bottom-50 {
  margin-bottom: 50px; }
#cmp-home .margin-bottom-55 {
  margin-bottom: 55px; }
#cmp-home .margin-bottom-60 {
  margin-bottom: 60px; }
#cmp-home .margin-bottom-65 {
  margin-bottom: 65px; }
#cmp-home .margin-bottom-70 {
  margin-bottom: 70px; }
#cmp-home .margin-bottom-75 {
  margin-bottom: 75px; }
#cmp-home .margin-bottom-80 {
  margin-bottom: 80px; }
#cmp-home .margin-bottom-85 {
  margin-bottom: 85px; }
#cmp-home .margin-bottom-90 {
  margin-bottom: 90px; }
#cmp-home .margin-bottom-95 {
  margin-bottom: 95px; }
#cmp-home .margin-bottom-100 {
  margin-bottom: 100px; }
#cmp-home .margin-top-0 {
  margin-top: 0px; }
#cmp-home .margin-top-5 {
  margin-top: 5px; }
#cmp-home .margin-top-10 {
  margin-top: 10px; }
#cmp-home .margin-top-15 {
  margin-top: 15px; }
#cmp-home .margin-top-20 {
  margin-top: 20px; }
#cmp-home .margin-top-25 {
  margin-top: 25px; }
#cmp-home .margin-top-30 {
  margin-top: 30px; }
#cmp-home .margin-top-35 {
  margin-top: 35px; }
#cmp-home .margin-top-40 {
  margin-top: 40px; }
#cmp-home .margin-top-45 {
  margin-top: 45px; }
#cmp-home .margin-top-50 {
  margin-top: 50px; }
#cmp-home .margin-top-55 {
  margin-top: 55px; }
#cmp-home .margin-top-60 {
  margin-top: 60px; }
#cmp-home .margin-top-65 {
  margin-top: 65px; }
#cmp-home .margin-top-70 {
  margin-top: 70px; }
#cmp-home .margin-top-75 {
  margin-top: 75px; }
#cmp-home .margin-top-80 {
  margin-top: 80px; }
#cmp-home .margin-top-85 {
  margin-top: 85px; }
#cmp-home .margin-top-90 {
  margin-top: 90px; }
#cmp-home .margin-top-95 {
  margin-top: 95px; }
#cmp-home .margin-top-100 {
  margin-top: 100px; }
#cmp-home .padding-left-0 {
  padding-left: 0px; }
#cmp-home .padding-left-5 {
  padding-left: 5px; }
#cmp-home .padding-left-10 {
  padding-left: 10px; }
#cmp-home .padding-left-15 {
  padding-left: 15px; }
#cmp-home .padding-left-20 {
  padding-left: 20px; }
#cmp-home .padding-left-25 {
  padding-left: 25px; }
#cmp-home .padding-left-30 {
  padding-left: 30px; }
#cmp-home .padding-left-35 {
  padding-left: 35px; }
#cmp-home .padding-left-40 {
  padding-left: 40px; }
#cmp-home .padding-left-45 {
  padding-left: 45px; }
#cmp-home .padding-left-50 {
  padding-left: 50px; }
#cmp-home .padding-left-55 {
  padding-left: 55px; }
#cmp-home .padding-left-60 {
  padding-left: 60px; }
#cmp-home .padding-left-65 {
  padding-left: 65px; }
#cmp-home .padding-left-70 {
  padding-left: 70px; }
#cmp-home .padding-left-75 {
  padding-left: 75px; }
#cmp-home .padding-left-80 {
  padding-left: 80px; }
#cmp-home .padding-left-85 {
  padding-left: 85px; }
#cmp-home .padding-left-90 {
  padding-left: 90px; }
#cmp-home .padding-left-95 {
  padding-left: 95px; }
#cmp-home .padding-left-100 {
  padding-left: 100px; }
#cmp-home #search-form .search-button {
  position: absolute;
  right: -60px;
  top: 0; }
#cmp-home #search-form .glyphicon-remove {
  cursor: pointer;
  line-height: 1.4;
  top: -20px;
  right: 15px;
  position: absolute; }
#cmp-home #search-form input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
#cmp-home ul.search-list {
  padding: 0;
  list-style: none;
  z-index: 9999;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  top: 34px;
  box-shadow: 5px 5px 19px -8px black;
  max-width: 410px; }
  #cmp-home ul.search-list > li {
    padding: 5px 10px 5px 10px;
    min-height: 30px;
    border: 1px solid darkgrey; }
    #cmp-home ul.search-list > li:not(:last-child) {
      border-bottom: 0; }
    #cmp-home ul.search-list > li:first-child {
      border-top: 0; }
    #cmp-home ul.search-list > li:hover {
      background-color: #c1c0bf;
      cursor: pointer; }
#cmp-home .smaller-font {
  font-size: 8pt; }
#cmp-home .timepicker {
  position: absolute;
  right: 50px;
  top: -22px; }
#cmp-home .position-relative {
  position: relative; }
#cmp-home .coordinates-header {
  font-size: 12px;
  padding-top: 5px; }
#cmp-home .arrow {
  position: relative;
  margin-left: 15px;
  padding: 0; }
#cmp-home .custom-time-box {
  width: 42px;
  background-color: #eee;
  color: #555;
  opacity: 1;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
#cmp-home .break-header {
  word-break: break-word; }
#cmp-home .clicked {
  height: auto; }
#cmp-home .transition {
  -webkit-transition: max-height .5s;
  -moz-transition: max-height .5s;
  -ms-transition: max-height .5s;
  -o-transition: max-height .5s;
  transition: max-height .5s; }
#cmp-home .ui-datepicker {
  top: -240px !important; }
#cmp-home.kjgri .list-group-item:hover:not(.active) {
  background-color: #d8d8d8 !important; }
#cmp-home.kjgri .risk-item {
  border-bottom: 1px solid #ececec;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 7px 5px 31px;
  word-break: break-word; }
  #cmp-home.kjgri .risk-item:last-child {
    border: 0; }
  #cmp-home.kjgri .risk-item:hover {
    background: #e2e2e2; }
  #cmp-home.kjgri .risk-item.active {
    background: #337ab7;
    color: #fff; }
#cmp-home.kjgri .risk_container {
  margin-bottom: 15px; }
  #cmp-home.kjgri .risk_container .title-command {
    cursor: pointer;
    float: right;
    right: 6px;
    top: -1px; }
  #cmp-home.kjgri .risk_container .list-group {
    margin-bottom: 0; }
  #cmp-home.kjgri .risk_container .list-group-item {
    cursor: pointer;
    padding: 3px 15px; }
    #cmp-home.kjgri .risk_container .list-group-item:hover {
      background: #e8e8e8; }
    #cmp-home.kjgri .risk_container .list-group-item.active {
      background-color: #337ab7; }
  #cmp-home.kjgri .risk_container .panel {
    margin-bottom: 5px; }
    #cmp-home.kjgri .risk_container .panel .panel-body {
      overflow: hidden; }
  #cmp-home.kjgri .risk_container .panel-heading {
    padding: 4px 11px 2px; }
  #cmp-home.kjgri .risk_container .panel-body {
    padding: 0; }
#cmp-home.kjgri .accordion-heading {
  font-size: 18px;
  padding-right: 21px;
  position: relative;
  word-break: break-word; }
  #cmp-home.kjgri .accordion-heading .heading-arrow {
    bottom: 0;
    height: 16px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0; }
#cmp-home.kjgri .panel-body {
  padding: 5px 0; }
#cmp-home.kjgri .panel-heading {
  padding: 7px 11px 5px; }
#cmp-home.kjgri .location-panel .list-group {
  margin-bottom: 0; }
#cmp-home.kjgri .location-panel .list-group-item {
  cursor: pointer; }
  #cmp-home.kjgri .location-panel .list-group-item.active {
    background-color: #337ab7 !important; }
  #cmp-home.kjgri .location-panel .list-group-item:hover {
    background: #e7e7e7; }
#cmp-home.kjgri .map-box {
  border: 1px solid #d8d7d7;
  overflow: hidden;
  position: relative; }
  #cmp-home.kjgri .map-box #map {
    border-bottom: 1px solid #d8d7d7;
    height: 650px; }
  #cmp-home.kjgri .map-box .risk_legend {
    background: rgba(248, 248, 248, 0.93);
    box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.39);
    height: 650px;
    opacity: 0;
    overflow: auto;
    padding: 3px 10px 3px 24px;
    position: absolute;
    right: -240px;
    top: 0;
    transition: all .7s;
    width: 271px; }
    #cmp-home.kjgri .map-box .risk_legend.opened {
      opacity: 1;
      right: 0; }
      #cmp-home.kjgri .map-box .risk_legend.opened .risk-box,
      #cmp-home.kjgri .map-box .risk_legend.opened .head {
        visibility: visible; }
    #cmp-home.kjgri .map-box .risk_legend .separator {
      margin: 10px 0; }
    #cmp-home.kjgri .map-box .risk_legend .risk-box,
    #cmp-home.kjgri .map-box .risk_legend .head {
      visibility: hidden; }
    #cmp-home.kjgri .map-box .risk_legend .head h4 {
      clear: right;
      float: left;
      width: 195px; }
    #cmp-home.kjgri .map-box .risk_legend .head .exit_icon {
      cursor: pointer;
      font-size: 26px;
      left: -3px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    #cmp-home.kjgri .map-box .risk_legend .indexes-table {
      width: 100%; }
      #cmp-home.kjgri .map-box .risk_legend .indexes-table .item:nth-child(odd) {
        background: rgba(51, 51, 51, 0.18); }
      #cmp-home.kjgri .map-box .risk_legend .indexes-table .item .risk_name {
        padding: 1px 5px 1px 5px;
        word-break: break-all; }
      #cmp-home.kjgri .map-box .risk_legend .indexes-table .item .index_value {
        padding-right: 5px;
        text-align: right;
        word-break: break-all; }
  #cmp-home.kjgri .map-box .risk_index-style_legend {
    padding: 7px 3px; }
    #cmp-home.kjgri .map-box .risk_index-style_legend .item {
      background: #fbfbfb;
      border: 1px solid #e8e8e8;
      display: inline-block;
      font-size: 12px;
      margin: 6px 11px;
      padding: 5px 0 3px;
      text-align: center; }
      #cmp-home.kjgri .map-box .risk_index-style_legend .item .range,
      #cmp-home.kjgri .map-box .risk_index-style_legend .item .color_box {
        display: inline-block;
        margin-left: 1px;
        position: relative; }
      #cmp-home.kjgri .map-box .risk_index-style_legend .item .color_box {
        height: 12px;
        margin-left: 3px;
        position: relative;
        top: 1px;
        width: 16px; }
#cmp-home.kjgri .slider-box {
  margin-top: 10px;
  position: relative; }
  #cmp-home.kjgri .slider-box .slider-buttons {
    margin-bottom: 9px; }
  #cmp-home.kjgri .slider-box .slider-values {
    margin: 5px -3px 0px; }
  #cmp-home.kjgri .slider-box .current_value {
    background: #e0e0e0;
    display: block;
    font-size: 18px;
    font-weight: bold;
    left: 0;
    margin: auto;
    padding: 2px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 46px; }
#cmp-home.kjgri .ui-datatable .ui-datatable-data > tr > td {
  padding: 3px 15px; }
#cmp-home.kjgri .history_table-title {
  margin: 23px 0 4px; }
  #cmp-home.kjgri .history_table-title .chart_button {
    margin-bottom: -4px;
    position: relative;
    top: -11px; }

@media screen and (max-width: 1700px) and (min-width: 1450px) {
  #cmp-home div.timepicker {
    right: -20px; } }
@media screen and (max-width: 1450px) and (min-width: 1200px) {
  #cmp-home div.timepicker {
    right: -82px; } }
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  #cmp-home div.timepicker {
    right: -100px; } }
@media screen and (max-width: 1000px) {
  #cmp-home #search-form .search-button {
    position: absolute;
    right: 15px;
    top: 0; } }

/*# sourceMappingURL=kjgri.home.cmp.css.map */
