<div id="addJob">
    <h5>Add Job</h5>
    <form #addForm="ngForm" class="addJob-container">
      <mat-form-field>
        <input matInput name="jobName" [(ngModel)]="jobName" type="text" placeholder="Job Name" autocomplete="off">
        <!-- <mat-error >
            Job Name is required.
          </mat-error> -->

      </mat-form-field>
      <mat-form-field>
        <input matInput name="cronExpression" [(ngModel)]="cronExpression" placeholder="Cron Expression" autocomplete="off">
        <!-- <mat-error *ngIf="cronExpression.touched && cronExpression.errors">
            Cron Expression is required.
          </mat-error> -->
      </mat-form-field>
      <button type="submit" mat-raised-button class="formButton" (click)="addJob()">Submit</button>
    </form>
  </div>
