// #app-global_loader {
//     // background: rgba(255, 255, 255, .6);
//     background: transparent !important;
//     height: 64px !important;

//     .loader_container {
//         height: 69px !important;

//         // .loader-message {
//         //     display: none;
//         // }

//         #circularG {
//             position: absolute;
//             width: 90px;
//             height: 90px;
//             margin: auto;
//             right: -79%;
//             top: 0;
//             left: 0;
//             transform: scale(0.4);
//         }
//     }
// }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.active {
    color: #777 !important;
    background-color: #eee !important;
    border-color: transparent !important;
}
.padding_sides-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@media screen and (max-width: 1000px) {
    .alert_box {
        bottom: -5px;
        left: 0;
        margin: auto;
        position: fixed;
        right: 0;
        width: auto;
        word-break: break-word;
        z-index: 999;
    }
}
