@import '../../../../app.component.scss';

#addClass {
  display: flex;
  flex-direction: column;
  .mat-form-field {
    width: 100%;
    padding: 20px 20px;
  }
  .mat-dialog-content {
    height: 300px;
  }
  .buttons {
    float: right;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
    background: #64FFDA;
    margin-right: 10px;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #64FFDA;
    cursor: inherit;
    display: block;
  }
}
