<div id="addClass">
  <h1 class="dialog-title">Add Class </h1>
  <mat-dialog-content>
    <form [formGroup]="classForm" (ngSubmit)="addClass()">
      <mat-form-field>
        <mat-select [(ngModel)]="initialCategory" [ngModelOptions]="{standalone: true}" placeholder="Category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="description" type="text" placeholder="Class description" autocomplete="off" [(ngModel)]="description">
      </mat-form-field>
      <mat-error *ngIf="classForm.get('description').touched && classForm.get('description').hasError('required')">
        Must enter description!
      </mat-error>
      <mat-dialog-actions class="buttons">
        <label class="btn btn-default btn-file">
          {{javaFileButton}}
          <input style="display: none;" formControlName="javaFile" type="file" accept=".java" (change)="handleJavaFile($event.target.files)">
        </label>
        <label class="btn btn-default btn-file">
          {{compiledFileButton}}
          <input style="display: none;" formControlName="compiledFile" type="file" accept=".class"
            (change)="handleCompiledFile($event.target.files)">
        </label>
        <button type="submit" mat-raised-button [disabled]="classForm.invalid">Add class</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
