<div id="editJob">
  <h1 class="dialog-title">Edit Job </h1>
  <h5 class="label">Job Name: {{data.jobName}}</h5>
  <div *ngIf="data">
      <h3 class="dialog-subtitle">Basic information</h3>
    <form #editJobForm="ngForm" (ngSubmit)="editJob(editJobForm.value)">
      <mat-dialog-content>
        <div>
          <!-- Job Name -->
          <mat-form-field class="jobName">
            <input matInput name="jobName" type="text" [(ngModel)]="data.jobName" placeholder="Job Name" autocomplete="off">
          </mat-form-field>
          <!-- Cron Expression -->
          <mat-form-field>
            <input matInput name="cronExpression" type="text" [(ngModel)]="data.cronExpression" placeholder="Cron Expression" autocomplete="off">
          </mat-form-field>
          <!-- ClassLoading -->
          <mat-form-field>
            <mat-select [(ngModel)]="data.kjcClasses" placeholder="KjcClasses" required name="kjcClasses">
              <mat-option *ngFor="let job of classLoading; let i = index" [value]="job">{{job.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <hr>
          <h5 class="label"> Add Job Type & Status</h5>
          <!-- Job Type -->
          <mat-form-field class="jobName" *ngIf="data.jobType">
            <mat-select [(ngModel)]="data.jobType.typeName" placeholder="Job Type" required name="typeName">
              <mat-option *ngFor="let job of jobTypes; let i = index" [value]="job">{{job.typeName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Status -->
          <mat-form-field>
            <input matInput name="status" [(ngModel)]="data.status" placeholder="Status" autocomplete="off">
          </mat-form-field>
          <hr>
          <!-- Notifications -->
          <div *ngIf="data.listNotificationses">
            <mat-form-field>
              <mat-select [(ngModel)]="data.listNotificationses" placeholder="Notifications" name="listNotificationses" multiple required>
                <mat-option *ngFor="let job of notification; let i = index" [value]="job">{{job.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <hr>
        </div>
        <!-- Categories -->
        <h3 class="dialog-subtitle">Select categories & weight for each category</h3>
        <div class="categories">
          <div class="categories-box">
            <h5 class="label">Choose categories</h5>
            <div *ngFor="let job of categories">
              <mat-checkbox color="warn" (change)="checked($event, job)" labelPosition="after" multiple>
                {{job.categoryName}}
              </mat-checkbox>
            </div>
          </div>
          <!-- Selected Categories -->
          <div class="selected-categories">
            <h5 class="label">Choose weight for selected categories</h5>
            <div>
              <div *ngFor="let selected of listCategoryWeight; let i = index" class="selected-categories-box">
                <mat-icon class="unselect-icon" *ngIf="selected.category.categoryName" (click)="unchecked(selected)">close</mat-icon>
                <span>{{selected.category.categoryName}}</span>
                <mat-slider color="warn" max="5" min="1" step="1" thumbLabel="true" tickInterval="5" [value]="selected.weight" (change)="sliderChange($event, selected)">
                </mat-slider>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </mat-dialog-content>
      <mat-dialog-actions class="buttons">
        <button mat-button mat-dialog-close class="cancelButton">Cancel</button>
        <button type="submit" mat-raised-button color="warn" class="formButton">Submit</button>
      </mat-dialog-actions>
    </form>
  </div>
</div>
