<div id="editClass">
    <h1>Edit Class </h1>
    <mat-dialog-content>
        <form [formGroup]="classForm" (ngSubmit)="editClass()">
            <mat-form-field>
                <mat-select [(ngModel)]="initialCategory" [ngModelOptions]="{standalone: true}" placeholder="Category">
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="description" class="form-control" type="text" placeholder="Class description" autocomplete="off" [(ngModel)]="description">
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="classForm.get('description').touched && classForm.get('description').hasError('required')">
                Must enter description!
            </div>
            <label class="btn btn-default btn-file">
                 {{compiledFileButton}} <input style="display: none;" formControlName="compiledFile" class="form-control" type="file" accept=".class" (change)="handleCompiledFile($event.target.files)">
            </label>
            <mat-dialog-actions>
                <button type="submit" class="btn btn-default" [disabled]="classForm.invalid">Edit class</button>
            </mat-dialog-actions>
        </form>
    </mat-dialog-content>
</div>