<div id="cmp-alert_management" class="app_content-container-cmp">
    <div *ngIf="componentAlert.show" class="alert_box">
        <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
            <span [innerHTML]="componentAlert.message"></span>
        </alert>
    </div>

    <h2 class="view-header">
        <div class="view-header-sub">
            {{'fe.alertManagement.mainHeader' | translate}}
        </div>
    </h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 form-group">
                <!-- Disabled from 08.01.2018 -->
                <!-- <span class="label_text">
                    <span class="pull-right">
                        <button type="button" class="btn btn-warning button_icon" [disabled]="!selectedRisk" (click)="showModal(riskModal, 'editRisk')">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-success button_icon" (click)="showModal(riskModal, 'addRisk')">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger button_icon" [disabled]="!selectedRisk" (click)="showModal(deleteRiskModal)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </span>
                </span> -->
                <lazyload-dropdown [label]="'fe.alertManagement.risk' | translate" [(ngModel)]="selectedRisk" (ngModelChange)="onRisksChange()" [value]="risks" [placeholder]="'fe.generalComponentContent.select' | translate"
                    [filterPlaceholder]="'fe.generalComponentContent.search' | translate" display="name"></lazyload-dropdown>
            </div>
            <div class="col-md-6 form-group">
                <span class="label_text">
                    <!-- Disabled from 08.01.2018 -->
                    <!-- <span class="pull-right">
                        <button type="button" class="btn btn-warning button_icon" [disabled]="!selectedRiskSubtype" (click)="showModal(riskSubtypeModal, 'editSubtypeRisk')">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-success button_icon" [disabled]="!selectedRisk" (click)="showModal(riskSubtypeModal, 'addSubtypeRisk')">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger button_icon" [disabled]="!selectedRiskSubtype" (click)="showModal(deleteSubRiskModal)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </span> -->
                </span>
                <lazyload-dropdown [label]="'fe.alertManagement.riskSubtype' | translate" [(ngModel)]="selectedRiskSubtype" (ngModelChange)="onSubRisksChange()" [value]="selectedRisk?.dicRiskSubtypeses" [placeholder]="'fe.generalComponentContent.select' | translate"
                    [filterPlaceholder]="'fe.generalComponentContent.search' | translate" display="name"></lazyload-dropdown>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>{{'fe.alertManagement.subHeader' | translate}}</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <p-dataTable #dataTable [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" [value]="alerts" [rows]="10" [paginator]="true" [rowsPerPageOptions]="pageSizes" [globalFilter]="globalFilter" reorderableColumns="true" class="table">
            <p-column field="name" [header]="'fe.generalComponentContent.name' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.name}}</div>
                </template>
            </p-column>
            <p-column field="messageTitle" [header]="'fe.alertManagement.messageTitle' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.messageTitle}}</div>
                </template>
            </p-column>
            <p-column field="messageBody" [header]="'fe.alertManagement.messageBody' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.messageBody | slice:0:150}}</div>
                </template>
            </p-column>
            <p-column field="valueMin" [header]="'fe.alertManagement.valueMin' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.valueMin}}</div>
                </template>
            </p-column>
            <p-column field="valueMax" [header]="'fe.alertManagement.valueMax' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.valueMax}}</div>
                </template>
            </p-column>
            <p-column field="flEnabled" [header]="'fe.alertManagement.active' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.flEnabled}}</div>
                </template>
            </p-column>
            <p-column field="operations" [style]="{'width': '112px'}">
                <template pTemplate="header">
                    <button [disabled]="!selectedRisk || !selectedRiskSubtype" class="btn btn-success" (click)="showModal(alertModal, 'addAlert')">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </template>
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">
                        <button class="btn btn-warning" (click)="showModal(alertModal, 'editAlert', object)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="showModal(deleteAlertModal, 'deleteAlert', object)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </template>
            </p-column>
        </p-dataTable>
    </div>
    <!-- Add/Edit Risk Modal -->
    <div bsModal #riskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="riskModal" aria-hidden="true">
        <div *ngIf="riskForm" class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <form [formGroup]="riskForm" (ngSubmit)="riskFormSubmit(riskModal)">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="hideModal(riskModal)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title">{{ (riskForm.controls.id.value?'fe.alertManagement.edit':'fe.alertManagement.add') | translate}} risk</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="form-group">
                            <label for="name">{{ 'fe.generalComponentContent.name' | translate }}</label>
                            <control-messages [control]="riskForm.controls.name"></control-messages>
                            <input type="text" class="form-control" formControlName="name" placeholder="{{ 'fe.generalComponentContent.name' | translate }}" />
                        </div>
                        <div class="form-group">
                            <label for="name">{{ 'fe.alertManagement.code' | translate }}</label>
                            <control-messages [control]="riskForm.controls.code"></control-messages>
                            <input type="text" class="form-control" formControlName="code" placeholder="{{ 'fe.alertManagement.code' | translate }}" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="hideModal(riskModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                        <button type="submit" class="btn btn-success" [disabled]="riskForm.invalid">{{'fe.generalComponentContent.save' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Risk Modal -->
    <div bsModal #deleteRiskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteRiskModal" aria-hidden="true">
        <div *ngIf="selectedRisk" class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(deleteRiskModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">{{ 'fe.generalComponentContent.remove' | translate}}</h4>
                </div>
                <div class="modal-body clearfix">
                    <p>Are you sure you want to remove this item?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="hideModal(deleteRiskModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                    <button type="button" class="btn btn-success" (click)="removeRisk(deleteRiskModal)">{{'fe.generalComponentContent.remove' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add/Edit Risk Subtype Modal -->
    <div bsModal #riskSubtypeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="riskSubtypeModal" aria-hidden="true">
        <div *ngIf="riskSubtypeForm" class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <form [formGroup]="riskSubtypeForm" (ngSubmit)="riskSubtypeFormSubmit(riskSubtypeModal)">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="hideModal(riskSubtypeModal)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title">{{ (riskSubtypeForm.controls.id.value?'fe.alertManagement.edit':'fe.alertManagement.add') | translate}} risk subtype</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="form-group">
                            <label for="name">{{ 'fe.generalComponentContent.name' | translate }}</label>
                            <control-messages [control]="riskSubtypeForm.controls.name"></control-messages>
                            <input type="text" class="form-control" formControlName="name" placeholder="{{ 'fe.generalComponentContent.name' | translate }}" />
                        </div>
                        <div class="form-group">
                            <label for="code">{{ 'fe.alertManagement.code' | translate }}</label>
                            <control-messages [control]="riskSubtypeForm.controls.code"></control-messages>
                            <input type="text" class="form-control" formControlName="code" placeholder="{{ 'fe.alertManagement.code' | translate }}" />
                        </div>
                        <div class="form-group">
                            <label for="usage">{{ 'fe.alertManagement.usage' | translate }}</label>
                            <control-messages [control]="riskSubtypeForm.controls.usage"></control-messages>
                            <div class="col-md-12">
                                <p-radioButton name="usage" value="F" label="Forecasts" formControlName="usage"></p-radioButton>
                            </div>
                            <div class="col-md-12">
                                <p-radioButton name="usage" value="RF" label="Forecasts and Risks" formControlName="usage"></p-radioButton>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="hideModal(riskSubtypeModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                        <button type="submit" class="btn btn-success" [disabled]="riskSubtypeForm.invalid">{{'fe.generalComponentContent.save' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete SubRisk Modal -->
    <div bsModal #deleteSubRiskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteSubRiskModal" aria-hidden="true">
        <div *ngIf="selectedRiskSubtype" class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(deleteSubRiskModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">{{ 'fe.generalComponentContent.remove' | translate}}</h4>
                </div>
                <div class="modal-body clearfix">
                    <p>Are you sure you want to remove this item?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="hideModal(deleteSubRiskModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                    <button type="button" class="btn btn-success" (click)="removeSubRisk(deleteSubRiskModal)">{{'fe.generalComponentContent.remove' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add/Edit Alert Modal -->
    <div bsModal #alertModal="bs-modal" [config]="{ignoreBackdropClick: true}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alertModal" aria-hidden="true">
        <div *ngIf="alertForm" class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <form [formGroup]="alertForm" (ngSubmit)="alertFormSubmit(alertModal)">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="hideModal(alertModal)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title">{{ (alertForm.controls.id.value?'fe.alertManagement.edit':'fe.alertManagement.add') | translate}} alert</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="form-group">
                            <p><strong>{{ 'fe.alertManagement.risk' | translate }}</strong> <br>{{ selectedRisk?.name }}</p>
                        </div>
                        <div class="form-group">
                            <p><strong>{{ 'fe.alertManagement.riskSubtype' | translate }}</strong> <br>{{ selectedRiskSubtype?.name }}</p>
                        </div>
                        <div class="form-group">
                            <validation-messages [errors]="formErrors" inputName="name">
                                <label for="name">{{ 'fe.generalComponentContent.name' | translate }}</label>
                                <control-messages [control]="alertForm.controls.name"></control-messages>
                                <input type="text" class="form-control" formControlName="name" placeholder="{{ 'fe.generalComponentContent.name' | translate }}" />
                            </validation-messages>
                        </div>
                        <div class="form-group">
                            <label for="messageTitle">{{ 'fe.alertManagement.messageTitle' | translate }}</label>
                            <control-messages [control]="alertForm.controls.messageTitle"></control-messages>
                            <input type="text" class="form-control" formControlName="messageTitle" placeholder="{{ 'fe.alertManagement.messageTitle' | translate }}" />
                        </div>
                        <div class="form-group">
                            <label for="messageBody">{{ 'fe.alertManagement.messageBody' | translate }}</label>
                            <control-messages [control]="alertForm.controls.messageBody"></control-messages>
                            <textarea type="text" class="form-control" formControlName="messageBody" placeholder="{{ 'fe.alertManagement.messageBody' | translate }}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="messageText">{{ 'fe.alertManagement.messageText' | translate }}</label>
                            <control-messages [control]="alertForm.controls.messageText"></control-messages>
                            <textarea type="text" class="form-control" formControlName="messageText" placeholder="{{ 'fe.alertManagement.messageText' | translate }}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="notificationIconName">{{ 'fe.alertManagement.notificationIcon' | translate }}</label>
                            <control-messages [control]="alertForm.controls.notificationIconName"></control-messages>
                            <input type="text" class="form-control" formControlName="notificationIconName" placeholder="{{ 'fe.alertManagement.notificationIcon' | translate }}" />
                        </div>
                        <div class="form-group">
                            <validation-messages [errors]="formErrors" inputName="level">
                                <label for="level">{{ 'fe.alertManagement.alertLevel' | translate }}</label>
                                <control-messages [control]="alertForm.controls.level"></control-messages>
                                <input type="text" class="form-control" formControlName="level" placeholder="{{ 'fe.alertManagement.alertLevel' | translate }}" onlyNumber />
                            </validation-messages>
                        </div>
                        <div class="form-group">
                            <label for="flEnabled" style="display: block;">{{ 'fe.alertManagement.active' | translate }}</label>
                            <control-messages [control]="alertForm.controls.flEnabled"></control-messages>
                            <p-checkbox formControlName="flEnabled" binary="true"></p-checkbox>
                        </div>
                        <div class="form-group">
                            <validation-messages [errors]="formErrors" inputName="minAndMax">
                                <label for="minAndMax">{{ 'fe.alertManagement.minAndMax' | translate }}  {{ alertForm.controls.minAndMax.value[0] }} - {{ alertForm.controls.minAndMax.value[1] }}</label>
                                <control-messages [control]="alertForm.controls.minAndMax"></control-messages>
                                <p-slider (mousedown)="returnFalse($event)" formControlName="minAndMax" [min]="0" [max]="11" [range]="true" [step]="1"></p-slider>
                                <p class="row">
                                    <span class="col-md-5 col-xs-4 col-lg-5 col-sm-5 text-left">
                                        0
                                    </span>
                                    <span class="col-md-2 col-xs-4 col-lg-2 col-sm-2 text-center">
                                        5-6
                                    </span>
                                    <span class="col-md-5 col-xs-4 col-lg-5 col-sm-5 text-right">
                                        11
                                    </span>
                                </p>
                            </validation-messages>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="hideModal(alertModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                        <button type="submit" class="btn btn-success" [disabled]="alertForm.invalid">{{'fe.generalComponentContent.save' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Alert Modal -->
    <div bsModal #deleteAlertModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteAlertModal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(deleteAlertModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">{{ 'fe.generalComponentContent.remove' | translate}}</h4>
                </div>
                <div class="modal-body clearfix">
                    <p>Are you sure you want to remove this item?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="hideModal(deleteAlertModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                    <button type="button" class="btn btn-success" (click)="removeAlert(deleteAlertModal)">{{'fe.generalComponentContent.remove' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>