#cmp-alert_management {
    .button_icon {
        border-radius: 50%;
        color: #fff;
        font-size: 10px;
        height: 21px;
        padding: 3px 4px;
        position: relative;
        width: 21px;
    }
    .lazy_load_dropdown .glyphicon-remove {
        line-height: normal;
    }
}