<div id="landing-page">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#landing-page-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="" (click)="scrollTo()"><strong>KJGRI</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="landing-page-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="_utilityService.getToken() && _utilityService.getToken() != ''">
                        <a href="#/home" class="page-scroll"><i class="fa fa-cogs"></i> KJGRI App</a>
                    </li>
                    <li>
                        <a href="" class="page-scroll" (click)="scrollTo('features')">Features</a>
                    </li>
                    <li>
                        <a href="" class="page-scroll" (click)="scrollTo('download')">Download</a>
                    </li>
                    <li>
                        <a href="" class="page-scroll" (click)="scrollTo('clients')">Clients</a>
                    </li>
                    <li>
                        <a href="" class="page-scroll" (click)="scrollTo('contact')">Contact</a>
                    </li>
                    <li *ngIf="!_utilityService.getToken() || _utilityService.getToken() == ''">
                        <a href="#/login" class="page-scroll">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>KJGRI is a weather risk assessment and management system aimed at risk prediction and loss prevention.</h1>
                            <a href="" class="btn btn-outline btn-xl page-scroll">Start Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen mobile-device-bg">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <!--<img style="width: 100%;height: 100%;" src="app/kjgri/assets/images/demo-screen-new.png" class="img-responsive" alt="">-->
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="features" class="features">
        <div class="">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Features and Services</h2>
                        <p class="text-muted">Check out what, how and where you can use our product to grow your business.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="device-container">
                                    <div class="device-mockup macbook landscape white" data-device="iphone6_plus" data-orientation="landscape" data-color="white">
                                        <div class="device">
                                            <div class="screen first-slide-bg">
                                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                                <!--<img src="app/kjgri/assets/images/demo-screen-new-2.png" class="img-responsive" alt="">-->
                                            </div>
                                            <div class="button">
                                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="feature-item">
                                                <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                                                <h3>Global Map</h3>
                                                <p class="text-muted">Map presenting geographical areas and company locations with visual representation of different risk levels.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="feature-item">
                                                <i class="fa fa-tasks fa-2x"></i>
                                                <h3>Risk and Forecast Indexes</h3>
                                                <p class="text-muted">View risk indexes for different risk categories and forecasts of future index values.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="feature-item">
                                                <i class="fa fa-file-text-o fa-2x"></i>
                                                <h3>Loss Prevention Plans</h3>
                                                <p class="text-muted">Create loss prevention plans stating actions to be implemented in order to minimize potential loss and ensure business continuity.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="feature-item">
                                                <i class="fa fa-bell-o fa-2x"></i>
                                                <h3>Up-to-date Alerts</h3>
                                                <p class="text-muted">Receive alert notifications on your mobile phone on elevated risk indicators.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="device-container">
                                    <div class="device-mockup macbook landscape grey" data-device="macbook" data-orientation="landscape" data-color="grey">
                                        <div class="device">
                                            <div class="screen first-slide-bg">
                                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                                <!--<img src="app/kjgri/assets/images/demo-screen-new.png" class="img-responsive" alt="">-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="feature-item">
                                                <i class="fa fa-area-chart fa-2x"></i>
                                                <h3>Graph representation</h3>
                                                <p class="text-muted">Charts representing risk values and tendencies.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="feature-item">
                                                <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
                                                <h3>Cloud Storage</h3>
                                                <p class="text-muted">All the data is in the cloud, safe and centralized.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="feature-item">
                                                <i class="fa fa-laptop fa-2x"></i>
                                                <h3>Web Portal</h3>
                                                <p class="text-muted">Web portal for tracking clients risk indicators.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="feature-item">
                                                <i class="fa fa-mobile fa-2x"></i>
                                                <h3>Mobile Application</h3>
                                                <p class="text-muted">Mobile application for receiving alert notifications.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <h2>Insurance company customer</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="col-md-3 col-md-offset-3">
                                                <div class="feature-item mega-pricing-item gradient-style-1">
                                                    <h3><strong>Silver</strong> Plan</h3>

                                                    <ul>
                                                        <li><strong>Data and risk indexes:</strong> Unlimited access</li>
                                                        <li><strong>Forecasts and alerts:</strong> No</li>
                                                        <li><strong>Insurance company customers data:</strong> No</li>
                                                        <li><strong>Number of enabled users:</strong> Max 2</li>
                                                    </ul>
                                                    <h1><span>$</span>100</h1>
                                                    <p class="pricing-duration">Per month</p>
                                                    <a href="" class="bordered-btn">Buy now</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="feature-item mega-pricing-item gradient-style-1">
                                                    <h3><strong>Gold</strong> Plan</h3>

                                                    <ul>
                                                        <li><strong>Data and risk indexes:</strong> Unlimited access</li>
                                                        <li><strong>Forecasts and alerts:</strong> Unlimited access</li>
                                                        <li><strong>Insurance company customers data:</strong> No</li>
                                                        <li><strong>Number of enabled users:</strong> Max 5</li>
                                                    </ul>
                                                    <h1><span>$</span>200</h1>
                                                    <p class="pricing-duration">Per month</p>
                                                    <a href="" class="boxed-btn">Buy now</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="feature-item mega-pricing-item gradient-style-1">
                                                    <h3><strong>Platinum</strong> Plan</h3>

                                                    <ul>
                                                        <li><strong>Data and risk indexes:</strong> Unlimited access</li>
                                                        <li><strong>Forecasts and alerts:</strong> Unlimited access</li>
                                                        <li><strong>Insurance company customers data:</strong> Unlimited access (subject to customer's agreement)</li>
                                                        <li><strong>Number of enabled users:</strong> Max 10</li>
                                                    </ul>
                                                    <h1><span>$</span>200</h1>
                                                    <p class="pricing-duration">Per month</p>
                                                    <a href="" class="boxed-btn">Buy now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <h2>Company customer</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="col-md-3 col-md-offset-3">
                                                <div class="feature-item mega-pricing-item gradient-style-1">
                                                    <h3><strong>Silver</strong> Plan</h3>

                                                    <ul>
                                                        <li><strong>Data and risk indexes:</strong> Unlimited access only for the head</li>
                                                        <li><strong>Forecasts and alerts:</strong> Unlimited access only for the head office</li>
                                                        <li><strong>Number of enabled users:</strong> Max 1</li>
                                                    </ul>
                                                    <h1><span>$</span>100</h1>
                                                    <p class="pricing-duration">Per month</p>
                                                    <a href="" class="bordered-btn">Buy now</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="feature-item mega-pricing-item gradient-style-1">
                                                    <h3><strong>Gold</strong> Plan</h3>

                                                    <ul>
                                                        <li><strong>Data and risk indexes:</strong> Unlimited access for up to 5 company</li>
                                                        <li><strong>Forecasts and alerts:</strong> Unlimited access for up to 5 company headquarters</li>
                                                        <li><strong>Number of enabled users:</strong> Max 2</li>
                                                    </ul>
                                                    <h1><span>$</span>200</h1>
                                                    <p class="pricing-duration">Per month</p>
                                                    <a href="" class="boxed-btn">Buy now</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="feature-item mega-pricing-item gradient-style-1">
                                                    <h3><strong>Platinum</strong> Plan</h3>

                                                    <ul>
                                                        <li><strong>Data and risk indexes:</strong> Unlimited access for all company sites</li>
                                                        <li><strong>Forecasts and alerts:</strong> Unlimited access for all company sites</li>
                                                        <li><strong>Number of enabled users:</strong> Max 5</li>
                                                    </ul>
                                                    <h1><span>$</span>200</h1>
                                                    <p class="pricing-duration">Per month</p>
                                                    <a href="" class="boxed-btn">Buy now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

    <section id="download" class="download bg-blue text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Get the mobile app now</h2>
                    <div class="badges">
                        <a class="badge-link" href="#"><img src="app/kjgri/assets/images/google-play-badge.svg" alt=""></a>
                        <a class="badge-link" href="#"><img src="app/kjgri/assets/images/app-store-badge.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting.<br>Start acting.</h2>
                <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <section id="clients" class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Our Clients</h2>
                    <p class="text-muted">
                        KJGri is helping a wide range of organisations to maintain security and damage free environments for their clients. 
                        We work with clients – big and small – around the world to help them achieve better insurance plans and client communications. 
                        Some of our clients are listed below.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="clients-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#clients-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#clients-carousel" data-slide-to="1"></li>
                            <li data-target="#clients-carousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row text-center">
                                    <div class="col-md-4">
                                        <img style="height: 150px;" src="app/kjgri/assets/images/microsoft-client-logo.png" alt="" />
                                    </div>
                                    <div class="col-md-4">
                                        <img style="height: 150px;" src="app/kjgri/assets/images/generali-client-logo.png" alt="" />
                                    </div>
                                    <div class="col-md-4">
                                        <img style="height: 150px;" src="app/kjgri/assets/images/mediolanum-client-logo.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row text-center">
                                    <div class="col-md-4">
                                        <img style="height: 150px;" src="app/kjgri/assets/images/intesa-client-logo.png" alt="" />
                                    </div>
                                    <div class="col-md-4">
                                        <img style="height: 150px;" src="app/kjgri/assets/images/allianz-client-logo.jpg" alt="" />
                                    </div>
                                    <div class="col-md-4">
                                        <img style="height: 150px;" src="app/kjgri/assets/images/fiat-client-logo.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row text-center">
                                    <div class="col-md-4">
                                        <img style="height: 150px;" src="app/kjgri/assets/images/catolica-client-logo.png" alt="" />
                                    </div>
                                    <div class="col-md-4">
                                        <img style="height: 150px;" src="app/kjgri/assets/images/aviva-client-logo.png" alt="" />
                                    </div>
                                    <div class="col-md-4">
                                        <img style="height: 150px;" src="app/kjgri/assets/images/unipol-client-logo.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#clients-carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#clients-carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Contact us</h2>
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="message" placeholder="Contact us" rows="10" cols="6"></textarea>
                        </div>
                        <button type="submit" class="btn custom-btn btn-outline btn-xl">Email us</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>Social media</p>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
            <p>2017 &copy; KJGri. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>
</div>