@import '../app.component.scss';
#panel {
  mat-sidenav-container {
    background-color: $primary;
    min-height: 100vh;
    width: 20vw;
    min-width: 100px;
  }
  mat-list {
    padding-bottom: 5px;
    box-shadow: inset 0px 11px 8px -10px $primary, inset 0px -11px 8px -10px $primary;
  }
  mat-list:hover {
    box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;
    transition: 1s;
  }
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 1em;
  }

}
