<div id="panel">
  <div id="sidebar-content">
  <mat-sidenav-container>
    <mat-list>
      <mat-icon>home</mat-icon>
      <a mat-button routerLink=".">Home</a>
    </mat-list>
    <mat-list>
        <i class="material-icons">
            vertical_split
            </i>
      <a mat-button routerLink=".">Content</a>
    </mat-list>
    <mat-list>
      <a mat-button routerLink=".">Link</a>
    </mat-list>
    <mat-list>
      <a mat-button routerLink=".">Link</a>
    </mat-list>
  </mat-sidenav-container>
</div>
  <router-outlet></router-outlet>
</div>
