@import '../app.component.scss';
#panel {
  min-width: 100%;
  min-height: 100%;
  .router-outlet {
    width: 100%;
  }
  #sidebar-content {
    background: linear-gradient(to bottom, $primary, $accent);
    margin-left: 0;
    text-align: left;
    background-color: $primary;
    min-height: 100vh;
    width: 320px;
    padding-right: 15px;
    box-shadow: 0 5px 2px -1px rgba(0, 0, 0, .2), 0 3px 3px 0 rgba(0, 0, 0, .14), 0 5px 10px 3px rgba(0, 0, 0, .12);
    z-index: 1;
  }
  mat-sidenav-container {
    background: transparent;
    min-height: auto;
    width: 280px;
    margin: 0 20px;
    text-align: left;
  } // User image - info
  #placeholderUser {
    background-image: url("../../assets/client.png");
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px 0;
    background-repeat: no-repeat;
  }
  div#placeholderUser:hover {
    opacity: 0.8;
    transition: 1s;
  }
  #userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  p {
    color: white;
  }
  em::selection {
    background: $primary;
  }
  strong::selection {
    background: $primary;
  }
  hr {
    background-color: white;
    width: 100%;
    opacity: 0.6;
  } // List link style
  mat-nav-list {
    padding-bottom: 5px;
    overflow: hidden;
  }
  mat-nav-list:hover {
    box-shadow: inset 0px 11px 8px -10px #fff, inset 0px -11px 8px -10px #fff;
    transition: 1s;
  }
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  .material-icons {
    color: white;
    margin-right: 10px;
  }
  // Logout button style
  .secondSide {
    margin-top: 140%;
  }
  .logoutBut a {
    color: #009688;
  }
  .logoutBut i {
    color: #009688;
  }
  .logoutBut:hover {
    box-shadow: none;
    transition: 1s;
    border: none;
  }
  .mat-nav-list a.active {
    background: #00998a;
}
}
