@import '../app.component.scss';

#panel {

  min-width: 100%;

  .router-outlet {
    width: 100%;
  }

  #sidebar-content {
    margin-left: 0;
    text-align: left;
    background-color: $primary;
    min-height: 100vh;
    width: 19vw;
  }
  mat-nav-list {
    overflow: hidden;
  }
  mat-sidenav-container {
    background-color: $primary;
    min-height: 100vh;
    width: 15vw;
    margin: 0 20px;
    text-align: left;
  }
  mat-nav-list {
    padding-bottom: 5px;
    box-shadow: inset 0px 11px 8px -10px $primary, inset 0px -11px 8px -10px $primary;
  }
  mat-nav-list:hover {
    box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;
    transition: 1s;
  }
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  .material-icons {
    color: white;
    margin-right: 10px;
  }
}
