#cmp-admin-translation {

    .label_text {
        font-size: 14px;
        font-weight: bold;
    }

    .delete-button {
        float: right;
        width: 30px;
        padding: 3px !important;
    }

    .edit-button {
        float: left;
        width: 30px;
        padding: 3px !important;
    }

    .table_form {

        table {
           margin-bottom: 10px;
        }

        margin-top: 15px;
        width: 100%;

        td {
           padding: 5px 10px 5px 10px;
        }

        td:first-child {
           padding-left: 0;
        }

        td:last-child {
           padding-right: 0;
        }
    }

    .div-button {

        .btn-success{
            margin-top: 20px;

    }

    }

    .modal-body .modal-class {
      font-size: 15px;
      text-align: center !important;
    }

    .filters {
        background: whitesmoke;
        margin: 0 15px 15px;
        padding: 0 0 12px 0;
    }

    .button_icon {
        border-radius: 50%;
        color: #fff;
        font-size: 10px;
        float: left;
        height: 21px;
        bottom: 2px;
        padding: 3px 5px;
        position: relative;
        width: 21px;
    }

    .extension-error {
        color: #852525;
    }

    .hide-input {
        display: none !important;
    }

    .file-label {
        background: #337ab7;
        border: 1px solid #337ab7;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        float: right;
        font-size: 22px;
        margin-top: 2px;
        margin-bottom: 10px;
        margin-left: 0px;
        padding: 11px 0px;
        width: 100%;
    }

    .file-label:hover {
        background: #619dd0;
        border: 1px solid #4489c3;
     }

    .file-label-info {
        width: 90%;
        float: left;
        word-break: break-all;
        font-size: 14px;
        padding-left: 10px;
    }

    .file-label-upload-icon {
        float:right;
        padding-right: 5px;
    }

    .top-margin {
        margin-top: 10px;
    }

    .bottom-margin {
        margin-bottom: 10px;
    }

    .glyphicon-remove {
        cursor: pointer;
        line-height: 1.4;
    }

    .ui-chkbox-label {
        margin-bottom: -1px;
        cursor: pointer;
    }
}