<div id="cmp-error_log" class="app_content-container-cmp">
	<div *ngIf="componentAlert.show" class="alert_box">
		<alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
			<span [innerHTML]="componentAlert.message"></span>
		</alert>
	</div>
	<h2 class="view-header">

		<div class="view-header-sub">
			{{ 'fe.errorLog.mainHeader' | translate }}
		</div>

	</h2>

	<form [formGroup]="_errorLogService.errorLogForm" class="error_log-filter clearfix">
		<div class="col-md-2">
			<label>{{ 'fe.errorLog.filterFromDate' | translate }}</label>
			<span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" (click)="clearField('filterDateFrom')"></span>
			<p-calendar formControlName="filterDateFrom" readonlyInput="readonlyInput" [maxDate]="_errorLogService.errorLogForm.value.filterDateTo ? _errorLogService.errorLogForm.value.filterDateTo : maxDate"
			 placeholder="{{ 'fe.errorLog.selectDate' | translate }}" [yearNavigator]="true" [monthNavigator]="true" yearRange="2016:2030" showTime="showTime" dateFormat="yy-mm-dd"
			 timeFormat="HH:mm:ss" (onSelect)="validateFilter()" styleClass="date_input" inputStyleClass="form-control">
			</p-calendar>
			<span class="label label-danger pull-right" *ngIf="_errorLogService.errorLogForm.value.filterDateFrom &&
				_errorLogService.errorLogForm.value.filterDateTo &&
				_errorLogService.errorLogForm.value.filterDateFrom > _errorLogService.errorLogForm.value.filterDateTo">{{'fe.errorLog.invalidDateTime' | translate}}</span>
		</div>
		<div class="col-md-2">
			<label>{{ 'fe.errorLog.filterToDate' | translate }}</label>
			<span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" (click)="clearField('filterDateTo')"></span>
			<p-calendar formControlName="filterDateTo" readonlyInput="readonlyInput" [maxDate]="maxDate" [minDate]="_errorLogService.errorLogForm.value.filterDateFrom" placeholder="{{ 'fe.errorLog.selectDate' | translate }}"
			 [yearNavigator]="true" [monthNavigator]="true" yearRange="2016:2030" showTime="showTime" dateFormat="yy-mm-dd" timeFormat="HH:mm:ss" (onSelect)="validateFilter()"
			 styleClass="date_input" inputStyleClass="form-control">
			</p-calendar>
			<span class="label label-danger pull-right" *ngIf="_errorLogService.errorLogForm.value.filterDateFrom &&
				_errorLogService.errorLogForm.value.filterDateTo &&
				_errorLogService.errorLogForm.value.filterDateFrom > _errorLogService.errorLogForm.value.filterDateTo">{{'fe.errorLog.invalidDateTime' | translate}}</span>
		</div>
		<div class="col-md-4">
			<!--<lazyload-dropdown [value]="_errorLogService.cmbErrorNameObject" [callback]="selectErrorName.bind(context)" [displayValue]="_errorLogService.errorLogForm.value.filterErrorName?.name"
				[label]="'fe.errorLog.filterErrorName' | translate" [clear]="true" [clearMethod]="clearField.bind(context, 'filterErrorName')"
				[placeholder]="'fe.generalComponentContent.search' | translate"></lazyload-dropdown>-->
			<lazyload-dropdown formControlName="filterErrorName" [value]="_errorLogService.cmbErrorName" [label]="'fe.errorLog.filterErrorName' | translate" [clear]="true" display="name"
			 [placeholder]="'fe.generalComponentContent.select' | translate" [filterPlaceholder]="'fe.generalComponentContent.search' | translate" (onChange)="validateFilter()"></lazyload-dropdown>
		</div>
		<div class="col-md-2">
			<!--<lazyload-dropdown [value]="_errorLogService.cmbUsernameObject" [callback]="selectUsername.bind(context)" [displayValue]="_errorLogService.errorLogForm.value.filterUsername?.name"
				[label]="'fe.generalComponentContent.username' | translate" [clear]="true" [clearMethod]="clearField.bind(context, 'filterUsername')"
				[placeholder]="'fe.generalComponentContent.search' | translate"></lazyload-dropdown>-->
			<lazyload-dropdown formControlName="filterUsername" [value]="_errorLogService.cmbUsername" [label]="'fe.generalComponentContent.username' | translate" [clear]="true"
			 display="name" [placeholder]="'fe.generalComponentContent.select' | translate" [filterPlaceholder]="'fe.generalComponentContent.search' | translate" (onChange)="validateFilter()"></lazyload-dropdown>
		</div>
		<div class="col-md-2">
			<lazyload-dropdown formControlName="filterProcessType" [value]="_errorLogService.cmbProcessType" [label]="'fe.errorLog.filterProcessType' | translate" [clear]="true"
			 display="name" [placeholder]="'fe.generalComponentContent.select' | translate" [filterPlaceholder]="'fe.generalComponentContent.search' | translate" (onChange)="validateFilter()"></lazyload-dropdown>
		</div>
		<div class="col-md-12 filter_controls">
			<div class="text-right">
				<button type="button" class="btn btn-default" (click)="clearFilter()">{{ 'fe.generalComponentContent.clear' | translate }}</button>
				<button type="button" class="btn btn-primary" (click)="submitErrorLogForm(_errorLogService.errorLogForm)" [disabled]="validator">{{ 'fe.generalComponentContent.displayData' | translate }}</button>
			</div>
		</div>
	</form>

	<div class="col-md-2 form-group">
		<input #globalFilter type="text" class="form-control" [placeholder]="'fe.generalComponentContent.search' | translate">
	</div>

	<div class="container-fluid">
		<p-dataTable #errorLogDataTable [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" [value]="logs" [rows]="_errorLogService.pageRow.rows" [paginator]="true"
		 [rowsPerPageOptions]="[5, 10, 15, 20, 25, 50, 100, 250, 500]" [globalFilter]="globalFilter" reorderableColumns="true" selectionMode="single" class="table" (onRowClick)="selectErrorLog($event);"
		 (onPage)="changePage($event)">
			<p-column field="username" [header]="'fe.generalComponentContent.username' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '16%' }">
				<template let-object="rowData" pTemplate="body">
					<div class="text-center" [tooltip]="object.username" placement="top">{{object.username}}</div>
				</template>
			</p-column>
			<p-column field="thrownDate" [header]="'fe.errorLog.colDateThrown' | translate" sortable="true" [style]="{ 'width': '13%' }">
				<template let-object="rowData" pTemplate="body">
					<div class="text-center">
						<b>{{object.thrownDate | date: 'dd.MM.yyyy.'}}</b>
						<div>
							{{object.thrownDate | date: 'HH:mm'}}
						</div>
					</div>
				</template>
			</p-column>
			<p-column field="message" [header]="'fe.errorLog.colMessage' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '44%' }">
				<template let-object="rowData" pTemplate="body">
					<div class="text-center" [tooltip]="object.message" placement="top">{{object.message}}</div>
				</template>
			</p-column>
			<p-column field="errorName" [header]="'fe.errorLog.colName' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '25%' }">
				<template let-object="rowData" pTemplate="body">
					<div class="text-center" [tooltip]="object.errorName" placement="top">{{object.errorName | shortText: 100 : '...'}}</div>
				</template>
			</p-column>
			<p-column field="processType" [header]="'fe.errorLog.colProcessType' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '18%' }">
				<template let-object="rowData" pTemplate="body">
					<div class="text-center" [tooltip]="object.processType" placement="top">{{object.processType}}</div>
				</template>
			</p-column>
			<p-column field="processCategory" [header]="'fe.errorLog.colProcessCategory' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '21%' }">
				<template let-object="rowData" pTemplate="body">
					<div class="text-center" [tooltip]="object.processCategory" placement="top">{{object.processCategory}}</div>
				</template>
			</p-column>
			<p-column field="taskId" [header]="'fe.errorLog.colTaskId' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '13%' }">
				<template let-object="rowData" pTemplate="body">
					<div class="text-center" [tooltip]="object.taskId" placement="top">{{object.taskId}}</div>
				</template>
			</p-column>
			<p-column field="invokingUrl" [header]="'fe.errorLog.colInvokingUrl' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '25%' }">
				<template let-object="rowData" pTemplate="body">
					<div class="text-center" [tooltip]="object.invokingUrl" placement="top">{{object.invokingUrl}}</div>
				</template>
			</p-column>
		</p-dataTable>
	</div>

	<!-- Large modal -->
	<div bsModal #singleErrorLogModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="singleErrorLogModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" (click)="closeSingleErrorLogModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{{selectedErrorLog?.errorName}}</h4>
				</div>
				<div class="modal-body">
					<div class="col-md-12 overflow-scroll" [innerHtml]="trace | safeHtml"></div>
				</div>
			</div>
		</div>
	</div>
</div>