<div id="addNewPage">
  <mat-accordion>
    <mat-expansion-panel (closed)="resetData()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add New Page Content
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- S T E P 1,
      Material tabs -->
      <div *ngIf="step == 1" class="tabs-container">
        <!-- select pages -->
        <mat-form-field>
          <mat-select name="pages" placeholder="Pages" [(ngModel)]="pages"  required>
            <mat-option *ngFor="let pages of selectPage" [value]="pages">{{pages}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Position -->
        <mat-form-field>
          <input matInput placeholder="Position" name="position" id="position"  [(ngModel)]="position"  required minlength="2" maxlength="2">
        </mat-form-field>
        <!-- language -->
        <mat-form-field>
          <input matInput placeholder="Language" name="language" id="language" [(ngModel)]="language" required minlength="2" maxlength="2">
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="next(position, 1)">Next</button>
      </div>
      <!-- S T E P 1     END -->
      <!-- S T E P 2,
      Material tabs -->
      <div *ngIf="step == 2" class="tabs-container">
        <mat-tab-group color="warn">
          <mat-tab label="Categories">
              <div class="categories" >
                  <h5 class="label">Select categories for this position</h5>
                  <div class="categories-box">
                    <div *ngFor="let category of categories | filter : selectedPosition.contentCategorieses: 'categories'">
                      <mat-checkbox  color="warn" (change)="checked($event, category)" labelPosition="after">
                        {{category.description}}
                      </mat-checkbox>
                    </div>
                  </div>
                  <div *ngIf="selectedPosition.contentCategorieses.length > 0; else nodata">
                    <h5 class="label">Selected categories</h5>
                    <div *ngFor="let selected of selectedPosition.contentCategorieses" class="selected-categories-box" >
                      <span>{{selected.categories.description}}</span>
                      <mat-icon  *ngIf="selected.categories.description" class="unselect-icon" (click)="unchecked(selected)">close</mat-icon>
                    </div>
                  </div>
                  <ng-template #nodata>
                    <h6>
                      <i>No selected categories.</i>
                    </h6>
                  </ng-template>
                  <!-- <div class="buttons">
                    <button mat-button (click)="back(3)">Back</button>
                    <button mat-raised-button color="warn" (click)="next(selectedPosition, 3)">Next</button>
                  </div> -->
                </div>
          </mat-tab>
          <mat-tab label="HTML">
            <ng-template mat-tab-label>
              HTML
            </ng-template>
            <!-- Tabs Content -->
            <div class="tabs-content">
              <!-- Text -->
              <div class="tabs-text">
                <form class="form">
                  <mat-form-field class="textarea" appearance="outline">
                    <mat-label>Enter HTML code</mat-label>
                    <textarea matInput name="textarea" placeholder="Edit code" rows="15" cols="50" [(ngModel)]="html">
                       HTML
                    </textarea>
                    <mat-icon class="input-icon" matSuffix>code</mat-icon>
                  </mat-form-field>
                </form>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="CSS">
            <ng-template mat-tab-label>
              CSS
            </ng-template>
            <!-- Tabs Content -->
            <div class="tabs-content">
              <!-- Text -->
              <div class="tabs-text">
                <form class="form">
                  <mat-form-field class="textarea" appearance="outline">
                    <mat-label>Enter CSS code</mat-label>
                    <textarea matInput name="textarea" placeholder="Edit code" rows="15" cols="50" [(ngModel)]="css">

                    </textarea>
                    <mat-icon class="input-icon" matSuffix>code</mat-icon>
                  </mat-form-field>
                </form>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="JavaScript">
            <ng-template mat-tab-label>
              JavaScript
            </ng-template>
            <!-- Tabs Content -->
            <div class="tabs-content">
              <!-- Text -->
              <div class="tabs-text">
                <mat-form-field class="textarea" appearance="outline">
                  <mat-label>Enter JavaScript code</mat-label>
                  <textarea matInput name="textarea" placeholder="Edit code" rows="15" cols="50" [(ngModel)]="script">

                  </textarea>
                  <mat-icon class="input-icon" matSuffix>code</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
        <div class="buttons">
          <button mat-button (click)="back(2)">Back</button>
          <button mat-raised-button color="warn" (click)="next(selectedPosition, 2)">Next</button>
        </div>
      </div>
      <!-- S T E P 2       E N D -->
      <!-- S T E P 3 -->
      <!-- <div class="categories" *ngIf="step == 3">
        <h5 class="label">Select categories for this position</h5>
        <div class="categories-box">
          <div *ngFor="let category of categories | filter : selectedPosition.contentCategorieses: 'categories'">
            <mat-checkbox  color="warn" (change)="checked($event, category)" labelPosition="after">
              {{category.description}}
            </mat-checkbox>
          </div>
        </div>
        <div *ngIf="selectedPosition.contentCategorieses.length > 0; else nodata">
          <h5 class="label">Selected categories</h5>
          <div *ngFor="let selected of selectedPosition.contentCategorieses" class="selected-categories-box" >
            <span>{{selected.categories.description}}</span>
            <mat-icon  *ngIf="selected.categories.description" class="unselect-icon" (click)="unchecked(selected)">close</mat-icon>
          </div>
        </div>
        <ng-template #nodata>
          <h6>
            <i>No selected categories.</i>
          </h6>
        </ng-template>
        <div class="buttons">
          <button mat-button (click)="back(3)">Back</button>
          <button mat-raised-button color="warn" (click)="next(selectedPosition, 3)">Next</button>
        </div>
      </div> -->
      <!-- ****************************** -->
      <div class="categories" *ngIf="step == 3">
        <div *ngIf="listCategoryWeight.length > 0; else nodata">
          <div *ngFor="let item of listCategoryWeight">
            <h6>{{item.categories.description}}</h6>
            <mat-slider color="warn" max="5" min="1" step="1" thumbLabel="true" tickInterval="5" [(ngModel)]="item.weight">
            </mat-slider>
          </div>
        </div>
        <ng-template #nodata>
          <h6>
            <i>No selected categories.</i>
          </h6>
        </ng-template>
        <div class="buttons">
          <button mat-button (click)="back(3)">Back</button>
          <button mat-raised-button color="warn" (click)="save()">Save</button>
        </div>
      </div>
      <!-- S T E P 3    End -->
    </mat-expansion-panel>
  </mat-accordion>
</div>
