#cmp-client_companies {
    @mixin mod($n, $max, $attrs...) {
        @each $attr in $attrs {
            $i: 0;
            @while $i <= $max {
                .#{$attr}-#{$i} {
                    #{$attr}: #{$i}px;
                    @content;
                }
                .#{$attr}-#{$i} {
                    @extend #{$attr}-#{$i} !optional
                }
                $i: $i+$n;
            }
        }
    }

    @include mod(5, 100, padding-bottom, padding-top, margin-bottom, margin-top, padding-left);

    @media screen and (max-width: 700px) {
        .ui-datatable-reflow .ui-datatable-data td .ui-column-title {
            width: 40%;
        }
    }
}