#cmp-client_companies .padding-bottom-0 {
  padding-bottom: 0px; }
#cmp-client_companies .padding-bottom-5 {
  padding-bottom: 5px; }
#cmp-client_companies .padding-bottom-10 {
  padding-bottom: 10px; }
#cmp-client_companies .padding-bottom-15 {
  padding-bottom: 15px; }
#cmp-client_companies .padding-bottom-20 {
  padding-bottom: 20px; }
#cmp-client_companies .padding-bottom-25 {
  padding-bottom: 25px; }
#cmp-client_companies .padding-bottom-30 {
  padding-bottom: 30px; }
#cmp-client_companies .padding-bottom-35 {
  padding-bottom: 35px; }
#cmp-client_companies .padding-bottom-40 {
  padding-bottom: 40px; }
#cmp-client_companies .padding-bottom-45 {
  padding-bottom: 45px; }
#cmp-client_companies .padding-bottom-50 {
  padding-bottom: 50px; }
#cmp-client_companies .padding-bottom-55 {
  padding-bottom: 55px; }
#cmp-client_companies .padding-bottom-60 {
  padding-bottom: 60px; }
#cmp-client_companies .padding-bottom-65 {
  padding-bottom: 65px; }
#cmp-client_companies .padding-bottom-70 {
  padding-bottom: 70px; }
#cmp-client_companies .padding-bottom-75 {
  padding-bottom: 75px; }
#cmp-client_companies .padding-bottom-80 {
  padding-bottom: 80px; }
#cmp-client_companies .padding-bottom-85 {
  padding-bottom: 85px; }
#cmp-client_companies .padding-bottom-90 {
  padding-bottom: 90px; }
#cmp-client_companies .padding-bottom-95 {
  padding-bottom: 95px; }
#cmp-client_companies .padding-bottom-100 {
  padding-bottom: 100px; }
#cmp-client_companies .padding-top-0 {
  padding-top: 0px; }
#cmp-client_companies .padding-top-5 {
  padding-top: 5px; }
#cmp-client_companies .padding-top-10 {
  padding-top: 10px; }
#cmp-client_companies .padding-top-15 {
  padding-top: 15px; }
#cmp-client_companies .padding-top-20 {
  padding-top: 20px; }
#cmp-client_companies .padding-top-25 {
  padding-top: 25px; }
#cmp-client_companies .padding-top-30 {
  padding-top: 30px; }
#cmp-client_companies .padding-top-35 {
  padding-top: 35px; }
#cmp-client_companies .padding-top-40 {
  padding-top: 40px; }
#cmp-client_companies .padding-top-45 {
  padding-top: 45px; }
#cmp-client_companies .padding-top-50 {
  padding-top: 50px; }
#cmp-client_companies .padding-top-55 {
  padding-top: 55px; }
#cmp-client_companies .padding-top-60 {
  padding-top: 60px; }
#cmp-client_companies .padding-top-65 {
  padding-top: 65px; }
#cmp-client_companies .padding-top-70 {
  padding-top: 70px; }
#cmp-client_companies .padding-top-75 {
  padding-top: 75px; }
#cmp-client_companies .padding-top-80 {
  padding-top: 80px; }
#cmp-client_companies .padding-top-85 {
  padding-top: 85px; }
#cmp-client_companies .padding-top-90 {
  padding-top: 90px; }
#cmp-client_companies .padding-top-95 {
  padding-top: 95px; }
#cmp-client_companies .padding-top-100 {
  padding-top: 100px; }
#cmp-client_companies .margin-bottom-0 {
  margin-bottom: 0px; }
#cmp-client_companies .margin-bottom-5 {
  margin-bottom: 5px; }
#cmp-client_companies .margin-bottom-10 {
  margin-bottom: 10px; }
#cmp-client_companies .margin-bottom-15 {
  margin-bottom: 15px; }
#cmp-client_companies .margin-bottom-20 {
  margin-bottom: 20px; }
#cmp-client_companies .margin-bottom-25 {
  margin-bottom: 25px; }
#cmp-client_companies .margin-bottom-30 {
  margin-bottom: 30px; }
#cmp-client_companies .margin-bottom-35 {
  margin-bottom: 35px; }
#cmp-client_companies .margin-bottom-40 {
  margin-bottom: 40px; }
#cmp-client_companies .margin-bottom-45 {
  margin-bottom: 45px; }
#cmp-client_companies .margin-bottom-50 {
  margin-bottom: 50px; }
#cmp-client_companies .margin-bottom-55 {
  margin-bottom: 55px; }
#cmp-client_companies .margin-bottom-60 {
  margin-bottom: 60px; }
#cmp-client_companies .margin-bottom-65 {
  margin-bottom: 65px; }
#cmp-client_companies .margin-bottom-70 {
  margin-bottom: 70px; }
#cmp-client_companies .margin-bottom-75 {
  margin-bottom: 75px; }
#cmp-client_companies .margin-bottom-80 {
  margin-bottom: 80px; }
#cmp-client_companies .margin-bottom-85 {
  margin-bottom: 85px; }
#cmp-client_companies .margin-bottom-90 {
  margin-bottom: 90px; }
#cmp-client_companies .margin-bottom-95 {
  margin-bottom: 95px; }
#cmp-client_companies .margin-bottom-100 {
  margin-bottom: 100px; }
#cmp-client_companies .margin-top-0 {
  margin-top: 0px; }
#cmp-client_companies .margin-top-5 {
  margin-top: 5px; }
#cmp-client_companies .margin-top-10 {
  margin-top: 10px; }
#cmp-client_companies .margin-top-15 {
  margin-top: 15px; }
#cmp-client_companies .margin-top-20 {
  margin-top: 20px; }
#cmp-client_companies .margin-top-25 {
  margin-top: 25px; }
#cmp-client_companies .margin-top-30 {
  margin-top: 30px; }
#cmp-client_companies .margin-top-35 {
  margin-top: 35px; }
#cmp-client_companies .margin-top-40 {
  margin-top: 40px; }
#cmp-client_companies .margin-top-45 {
  margin-top: 45px; }
#cmp-client_companies .margin-top-50 {
  margin-top: 50px; }
#cmp-client_companies .margin-top-55 {
  margin-top: 55px; }
#cmp-client_companies .margin-top-60 {
  margin-top: 60px; }
#cmp-client_companies .margin-top-65 {
  margin-top: 65px; }
#cmp-client_companies .margin-top-70 {
  margin-top: 70px; }
#cmp-client_companies .margin-top-75 {
  margin-top: 75px; }
#cmp-client_companies .margin-top-80 {
  margin-top: 80px; }
#cmp-client_companies .margin-top-85 {
  margin-top: 85px; }
#cmp-client_companies .margin-top-90 {
  margin-top: 90px; }
#cmp-client_companies .margin-top-95 {
  margin-top: 95px; }
#cmp-client_companies .margin-top-100 {
  margin-top: 100px; }
#cmp-client_companies .padding-left-0 {
  padding-left: 0px; }
#cmp-client_companies .padding-left-5 {
  padding-left: 5px; }
#cmp-client_companies .padding-left-10 {
  padding-left: 10px; }
#cmp-client_companies .padding-left-15 {
  padding-left: 15px; }
#cmp-client_companies .padding-left-20 {
  padding-left: 20px; }
#cmp-client_companies .padding-left-25 {
  padding-left: 25px; }
#cmp-client_companies .padding-left-30 {
  padding-left: 30px; }
#cmp-client_companies .padding-left-35 {
  padding-left: 35px; }
#cmp-client_companies .padding-left-40 {
  padding-left: 40px; }
#cmp-client_companies .padding-left-45 {
  padding-left: 45px; }
#cmp-client_companies .padding-left-50 {
  padding-left: 50px; }
#cmp-client_companies .padding-left-55 {
  padding-left: 55px; }
#cmp-client_companies .padding-left-60 {
  padding-left: 60px; }
#cmp-client_companies .padding-left-65 {
  padding-left: 65px; }
#cmp-client_companies .padding-left-70 {
  padding-left: 70px; }
#cmp-client_companies .padding-left-75 {
  padding-left: 75px; }
#cmp-client_companies .padding-left-80 {
  padding-left: 80px; }
#cmp-client_companies .padding-left-85 {
  padding-left: 85px; }
#cmp-client_companies .padding-left-90 {
  padding-left: 90px; }
#cmp-client_companies .padding-left-95 {
  padding-left: 95px; }
#cmp-client_companies .padding-left-100 {
  padding-left: 100px; }
@media screen and (max-width: 700px) {
  #cmp-client_companies .ui-datatable-reflow .ui-datatable-data td .ui-column-title {
    width: 40%; } }

/*# sourceMappingURL=clientCompanies.cmp.css.map */
