<div id="cmp-activate_user" class="app_content-container-cmp height-100percent">
	<div id="cmp-wrapper">
		<h3 class="text-center">{{'fe.activateUser.mainHeader' | translate}}</h3>
		<form #enterEmailForm="ngForm" *ngIf="!userActivated">
			<div class="form-group">
				<validation-messages [errors]="emailErrors">
					<label>{{'fe.generalComponentContent.email' | translate}}</label>
					<span *ngIf="!enterEmailForm.value.email" class="label label-danger pull-right">{{'fe.generalComponentContent.required' | translate}}</span>
					<input type="text" class="form-control" name="email" id="email" [placeholder]="'fe.generalComponentContent.email' | translate" [disabled]="requestState" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])"
						ngModel required>
				</validation-messages>
				<span *ngIf="!requestState && enterEmailForm.value.email && !enterEmailForm?.controls?.email?.valid" class="label label-danger">{{'fe.generalComponentContent.invalidEmailFormat' | translate}}</span>
			</div>
			<div class="form-group text-center" *ngIf="!requestState">
				<button type="submit" class="btn btn-primary" (click)="activateUserRequest(enterEmailForm.value.email)" [disabled]="!enterEmailForm.valid">{{'fe.activateUser.sendRequest' | translate}}</button>
			</div>
		</form>
		<form #activateUserForm="ngForm" *ngIf="!userActivated">
			<div class="form-group" *ngIf="requestState">
				<label>{{'fe.activateUser.password' | translate}}</label>
				<span *ngIf="!activateUserForm.value.password" class="label label-danger pull-right">{{'fe.generalComponentContent.required' | translate}}</span>
				<div class="input-group">
				<input [type]="passwordType" class="form-control" name="password" [placeholder]="'fe.activateUser.password' | translate" ngModel validateEqual="activateUserForm.value.confirmPassword"
					reverse="true" required>
				<div class="input-group-addon cursor-pointer" (click)="togglePasswordVisibility()"><i class="glyphicon glyphicon-eye-open"></i></div>
				</div>
				<password-strength [passwordToCheck]="activateUserForm.value.password" [label]="'Strength:'"></password-strength>
			</div>
			<div class="form-group" *ngIf="requestState">
				<label>{{'fe.activateUser.confirmPassword' | translate}}</label>
				<span *ngIf="activateUserForm.value.password && activateUserForm.value.confirmPassword && activateUserForm.value.password != activateUserForm.value.confirmPassword"
					class="label label-danger pull-right">{{'fe.activateUser.passwordMismatch' | translate}}</span>
				<input [type]="passwordType" class="form-control" name="confirmPassword" placeholder="{{'fe.activateUser.confirmPassword' | translate}}" ngModel reverse="false"
					required>
			</div>
			<div class="form-group" *ngIf="requestState">
				<validation-messages [errors]="formErrors" inputName="mailHash">
					<label>{{'fe.activateUser.secredCode' | translate}}</label>
					<span *ngIf="!activateUserForm.value.mailHashSecret" class="label label-danger pull-right">{{'fe.generalComponentContent.required' | translate}}</span>
					<input type="text" class="form-control" name="mailHashSecret" placeholder="Secret code" ngModel required>
				</validation-messages>
			</div>
			<div class="form-group" *ngIf="requestState">
				<div *ngIf="captcha.imageBase64" class="text-center">
					<img class="img-captcha" [src]="'data:image/jpeg;base64,' + captcha.imageBase64" />
				</div>
				<validation-messages [errors]="formErrors" inputName="captcha">
					<label>{{'fe.activateUser.textAbove' | translate}}:</label>
					<span *ngIf="!activateUserForm.value.captcha" class="label label-danger pull-right">{{'fe.generalComponentContent.required' | translate}}</span>
					<div class="input-group">
					<input class="form-control" type="text" name="captcha" [placeholder]="'fe.activateUser.captcha' | translate" ngModel required>
					<div class="input-group-addon cursor-pointer" (click)="getCaptcha()"><i class="glyphicon glyphicon-refresh"></i></div>
					</div>
				</validation-messages>
			</div>
			<div class="form-group text-center" *ngIf="requestState">
				<button type="submit" class="btn btn-primary" (click)="activateUserSubmit(activateUserForm)" [disabled]="!activateUserForm.valid">{{'fe.activateUser.activate' | translate}}</button>
			</div>
			<div class="container-fluid form-group text-center">
				<a routerLink="/login">{{'fe.activateUser.login' | translate}}</a>
			</div>
		</form>
		<div *ngIf="componentAlert.show" class="alert_box">
			<alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
				<span [innerHTML]="componentAlert.message"></span>
			</alert>
		</div>
	</div>
</div>