<div id="cmp-jobs_history" class="app_content-container-cmp">
	<h2 class="view-header">
		<div class="view-header-sub">
            {{ 'fe.jobHistory.mainHeader' | translate }} {{'fe.jobHistory.forHeader' | translate}} {{currentJobName}}
		</div>
	</h2>
    <div class="container-fluid">
        <h3>
            <a class="glyphicon glyphicon-circle-arrow-left return_button" routerLink="/admin/jobs"></a>
            {{'fe.jobHistory.backToJobs' | translate}}
        </h3>
        <div class="dateSelectorContainer">
            {{'fe.generalComponentContent.showHistoryFrom' | translate}}:
            <p-calendar [(ngModel)]="startDate" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="Select date" styleClass="dateInput"></p-calendar> {{'fe.generalComponentContent.toWord' | translate}}:
            <p-calendar [(ngModel)]="endDate" [minDate]="startDate" dateFormat="dd/mm/yy" placeholder="Select date" [showIcon]="true" styleClass="dateInput"></p-calendar>
            <button type="button" class="btn btn-primary btn-history" [disabled]="startDate==null || endDate==null" (click)="viewHistory()">{{'fe.generalComponentContent.viewHistory' | translate}}</button>
        </div>
    </div>
    <div class="container-fluid">
        <p-dataTable [value]="jobHistory" [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" selectionMode="single" [(selection)]="selectedJob" (onRowSelect)="onRowSelect($event);(selectedJob.exitCode=='FAILED' || selectedJob.exitCode=='COMPLETED WITH ERRORS')?lgModal.show():lgModal.hide()" [paginator]="true" [rows]="15" [responsive]="true" reorderableColumns="true">
            <p-column [style]="{'width':'9%','text-align':'center'}" field="jobInstanceId" [header]="'fe.jobHistory.jobInstanceId' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-job="rowData" pTemplate="body">{{job.jobInstanceId}}</template>
            </p-column>
            <p-column [style]="{'width':'11%','text-align':'center'}" field="createTime" [header]="'fe.jobHistory.date' | translate" sortable="true">
                <template let-job="rowData" pTemplate="body">{{job.createTime | date:'dd/MM/y hh:mm:ss'}}</template>
            </p-column>
            <p-column [style]="{'width':'11%','text-align':'center'}" field="startTime" [header]="'fe.jobHistory.start' | translate" sortable="true">
                <template let-job="rowData" pTemplate="body">{{job.startTime | date:'dd/MM/y hh:mm:ss'}} </template>
            </p-column>
            <p-column [style]="{'width':'11%','text-align':'center'}" field="endTime" [header]="'fe.jobHistory.end' | translate" sortable="true">
                <template let-job="rowData" pTemplate="body">{{job.endTime | date:'dd/MM/y hh:mm:ss'}}</template>
            </p-column>
            <p-column [style]="{'width':'9%', 'text-align':'center'}" field="duration" [header]="'fe.jobHistory.duration' | translate" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
            <p-column [style]="{'width':'10%','text-align':'center'}" field="status" [header]="'fe.jobHistory.status' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-job="rowData" pTemplate="body">{{job.status}}</template>
            </p-column>
            <p-column [style]="{'width':'10%','text-align':'center'}" field="exitCode" [header]="'fe.jobHistory.exitCode' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-job="rowData" pTemplate="body">{{job.exitCode}}</template>
            </p-column>
        </p-dataTable>
        <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="errorDetailsModal" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-center" style="width: 75%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="lgModal.hide()">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                        <h4 class="modal-title">{{currentJobName}} - {{'fe.jobHistory.errorDetails' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-class"> {{selectedJobHistory.errorsDetails}}</div>
                        <h4>
                            {{'fe.jobHistory.runtimeErrors' | translate}}
                        </h4>
                        <p-dataTable [value]="runtimeErrors" [expandableRows]="true" (onRowExpand)="onRowClickRuntimeError($event)" [expandedRows]="expandedRuntimeErrors" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5, 10, 15, 20, 25, 50, 100, 250, 500]" reorderableColumns="true" class="table">
                            <p-column expander="true" [style]="{'width': '3%'}"></p-column>
                            <p-column field="username" [header]="'fe.generalComponentContent.username' | translate" [style]="{'width': '22%'}" sortable="true" [filter]="true" filterMatchMode="contains">
                                <template let-runtimeError="rowData" pTemplate="body">
                                    <div class="text-center" [tooltip]="runtimeError.username" placement="top">
                                        {{runtimeError.username}}
                                    </div>
                                </template>
                            </p-column>
                            <p-column field="thrownDate" [header]="'fe.jobHistory.thrownDate' | translate" [style]="{'width': '11%'}" sortable="true">
                                <template let-runtimeError="rowData" pTemplate="body">
                                    <div class="text-center">
                                        <b>{{runtimeError.thrownDate | date: 'dd.MM.yyyy'}}</b>
                                    </div>
                                </template>
                            </p-column>
                            <p-column field="batchJobInstanceId" [header]="'fe.jobHistory.batchJobId' | translate" [style]="{'width': '11%'}" sortable="true" [filter]="true" filterMatchMode="contains">
                                <template let-runtimeError="rowData" pTemplate="body">
                                    <div class="text-center" [tooltip]="runtimeError.batchJobInstanceId" placement="top">
                                        {{runtimeError.batchJobInstanceId}}
                                    </div>
                                </template>
                            </p-column>
                            <p-column field="taskId" [header]="'fe.jobHistory.taskId' | translate" [style]="{'width': '8%'}" sortable="true" [filter]="true" filterMatchMode="contains">
                                <template let-runtimeError="rowData" pTemplate="body">
                                    <div class="text-center" [tooltip]="runtimeError.taskId" placement="top">
                                        {{runtimeError.taskId}}
                                    </div>
                                </template>
                            </p-column>
                            <p-column field="errorName" [header]="'fe.generalComponentContent.type' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                                <template let-runtimeError="rowData" pTemplate="body">
                                    <div class="text-center" [tooltip]="runtimeError.errorName" placement="top">
                                        {{runtimeError.errorName | shortText: 100 : '...'}}
                                    </div>
                                </template>
                            </p-column>
                            <p-column field="message" [header]="'fe.jobHistory.message' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                                <template let-runtimeError="rowData" pTemplate="body">
                                    <div class="text-center" [tooltip]="runtimeError.message" placement="top">
                                        {{runtimeError.message | shortText: 100 : '...'}}
                                    </div>
                                </template>
                            </p-column>
                            <template let-runtimeError pTemplate="rowexpansion">
                                <div class="trace-box">
                                    {{traceRuntimeError}}
                                </div>
                            </template>
                        </p-dataTable>
                        <hr width="100%">
                        <h4>
                            {{'fe.jobHistory.batchValidationErrors' | translate}}
                        </h4>
                        <p-dataTable [value]="batchValidationErrors" [expandableRows]="true" (onRowExpand)="onRowClickBatchValidError($event)" [expandedRows]="expandedBatchValidErrors" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5, 10, 15, 20, 25, 50, 100, 250, 500]" reorderableColumns="true" class="table">
                            <p-column expander="true" [style]="{'width': '3%'}"></p-column>
                            <p-column [header]="'fe.generalComponentContent.username' | translate" field="username" [style]="{'width': '22%'}" [filter]="true" filterMatchMode="contains">
                                <template let-batchValidationError="rowData" pTemplate="body">
                                    <div class="text-center" [tooltip]="batchValidationError.username" placement="top">
                                        {{batchValidationError.username}}
                                    </div>
                                </template>
                            </p-column>
                            <p-column field="thrownDate" [header]="'fe.jobHistory.thrownDate' | translate" [style]="{'width': '11%'}" sortable="true">
                                <template let-batchValidationError="rowData" pTemplate="body">
                                    <div class="text-center">
                                        <b>{{batchValidationError.thrownDate | date: 'dd.MM.yyyy'}}</b>
                                    </div>
                                </template>
                            </p-column>
                            <p-column field="batchJobId" [header]="'fe.jobHistory.batchJobId' | translate" [style]="{'width': '11%'}" sortable="true" [filter]="true" filterMatchMode="contains">
                                <template let-batchValidationError="rowData" pTemplate="body">
                                    <div class="text-center" [tooltip]="batchValidationError.batchJobId" placement="top">
                                        {{batchValidationError.batchJobId}}
                                    </div>
                                </template>
                            </p-column>
                            <p-column field="taskId" [header]="'fe.jobHistory.taskId' | translate" [style]="{'width': '8%'}" sortable="true" [filter]="true" filterMatchMode="contains">
                                <template let-batchValidationError="rowData" pTemplate="body">
                                    <div class="text-center" [tooltip]="batchValidationError.taskId" placement="top">
                                        {{batchValidationError.taskId | shortText: 100 : '...'}}
                                    </div>
                                </template>
                            </p-column>
                            <p-column field="errorCode" [header]="'fe.jobHistory.errorCode' | translate" [style]="{'width': '11%'}" sortable="true" [filter]="true" filterMatchMode="contains">
                                <template let-batchValidationError="rowData" pTemplate="body">
                                    <div class="text-center" [tooltip]="batchValidationError.errorCode" placement="top">
                                        {{batchValidationError.errorCode}}
                                    </div>
                                </template>
                            </p-column>
                            <p-column field="errorMessage" [header]="'fe.jobHistory.message' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                                <template let-batchValidationError="rowData" pTemplate="body">
                                    <div class="text-center" [tooltip]="batchValidationError.errorMessage" placement="top">
                                        {{batchValidationError.errorMessage}}
                                    </div>
                                </template>
                            </p-column>
                            <template let-batchValidationError pTemplate="rowexpansion">
                                <div *ngIf="batchValidationError.kjcBatchJobErrorParamses.length >= 1" class="batch-params-box">
                                    <p-dataTable [value]="batchValidationError.kjcBatchJobErrorParamses" class="table">
                                        <p-column field="parameterName" [header]="'fe.jobHistory.parameterName' | translate" [style]="{'width': '50%'}">
                                            <template let-batchJobsErrorParam="rowData" pTemplate="body">
                                                <div class="text-center">
                                                    {{batchJobsErrorParam.parameterName}}
                                                </div>
                                            </template>
                                        </p-column>
                                        <p-column field="parameterValue" [header]="'fe.jobHistory.parameterValue' | translate" [style]="{'width': '50%'}">
                                            <template let-batchJobsErrorParam="rowData" pTemplate="body">
                                                <div class="text-center">
                                                    {{batchJobsErrorParam.parameterValue}}
                                                </div>
                                            </template>
                                        </p-column>
                                    </p-dataTable>
                                </div>
                                <div *ngIf="batchValidationError.kjcBatchJobErrorParamses.length < 1" class="no-records-box">
                                        {{'fe.jobHistory.noErrorsFound' | translate}}
                                </div>
                            </template>
                        </p-dataTable>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default modal-cancel" (click)="lgModal.hide();$event.stopPropagation()">{{'fe.generalComponentContent.close' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>