<div id="cmp-jobs" class="app_content-container-cmp">
    <div *ngIf="componentAlert.show" class="alert_box">
        <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
            <span [innerHTML]="componentAlert.message"></span>
        </alert>
    </div>
	<h2 class="view-header">
		<div class="view-header-sub">
			{{ 'fe.jobs.mainHeader' | translate }}
		</div>
	</h2>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btnRefresh pull-right" (click)="onRefreshListClick()">
                <span  class="refresherSpan" *ngIf="!isRefreshing"><i style="font-size:large" class="fa fa-refresh" aria-hidden="true"></i></span>
                <span *ngIf="isRefreshing">
                    <img style="width: 20px;" [src]="_constants.getAPP_FULL_REF_ROUTE_PREFIX() + 'assets/images/loadingClasses.gif'">
                </span>
                    {{ 'fe.generalComponentContent.refreshList' | translate }}
            </button>
        </div>
    </div>
    <p-dataTable [value]="jobs" [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" [paginator]="true" [rows]="15" [responsive]="true" reorderableColumns="true">
        <p-column [style]="{'text-align':'center'}" field="jobName" [header]="'fe.jobs.jobName' | translate" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column [style]="{'text-align':'center'}" field="jobDescription" [header]="'fe.jobs.jobDescription' | translate" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column [style]="{'text-align':'center'}" field="startTime" [header]="'fe.jobs.startTime' | translate" sortable="true">
            <template let-job="rowData" pTemplate="body"> {{job.startTime | date:'dd/MM/y hh:mm:ss'}} </template>
        </p-column>
        <p-column [style]="{'width':'15%','text-align':'center'}" field="endTime" [header]="'fe.jobs.endTime' | translate" sortable="true">
            <template let-job="rowData" pTemplate="body"> {{job.endTime | date:'dd/MM/y hh:mm:ss'}} </template>
        </p-column>
        <p-column [style]="{'width':'15%','text-align':'center'}" field="duration" [header]="'fe.jobs.duration' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
            <template let-job="rowData" pTemplate="body"> {{job.duration}} </template>
        </p-column>
        <p-column [style]="{'width':'15%','text-align':'center'}" field="lastExecutionStatus" [header]="'fe.jobs.status' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
            <template let-job="rowData" pTemplate="body"> {{job.lastExecutionStatus}} </template>
        </p-column>
        <p-column [style]="{'width':'10%','text-align':'center'}" styleClass="col-button">
            <template let-job="rowData" pTemplate="body">
                <button type="button" [disabled]="job.lastExecutionStatus=='STARTED'" pButton (click)="startJob(job.schedulerName)" [label]="'fe.generalComponentContent.start' | translate"></button>
            </template>
        </p-column>
        <p-column [style]="{'width':'10%','text-align':'center'}" styleClass="col-button">
            <template let-job="rowData" pTemplate="body">
                <button type="button" pButton (click)="viewHistory(job.jobName)" [label]="'fe.generalComponentContent.history' | translate"></button>
            </template>
        </p-column>
    </p-dataTable>
</div>