<div id="editJob">
  <h1 class="dialog-title">Edit Job </h1>
  <h5 class="selected-job-title">{{data.jobName}}</h5>
  <div *ngIf="data">
    <form #editJobForm="ngForm" (ngSubmit)="editJob(editJobForm.value)">
      <mat-dialog-content>
        <h3 class="dialog-subtitle">Basic information</h3>
        <div class="basic-inputs">
          <!-- Job Name -->
          <mat-form-field class="jobName">
            <input matInput name="jobName" type="text" [(ngModel)]="data.jobName" placeholder="Job Name" autocomplete="off">
          </mat-form-field>
          <!-- Cron Expression -->
          <mat-form-field>
            <input matInput name="cronExpression" type="text" [(ngModel)]="data.cronExpression" placeholder="Cron Expression" autocomplete="off">
          </mat-form-field>
        </div>
        <!-- CLASSLOADING -->
        <div class="basic-inputs" *ngIf="classLoadingList">
          <!-- Class Loading true/false  -->
          <div class="checkbox">
            <mat-checkbox color="warn" (change)="doCheck($event)" [checked]="isChecked" [disabled]="this.classLoadingList.length == 0">
              Class Loading </mat-checkbox>
          </div>
          <!-- ClassLoading -->
          <mat-form-field *ngIf="classLoadingList.length > 0 && isChecked">
            <mat-select placeholder="KjcClasses" [(ngModel)]="kjcClasses" required name="kjcClasses">
              <mat-option *ngFor="let job of classLoadingList; let i = index" [value]="job">{{job.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="classLoadingList.length == 0" class="no-data">
            No classes to show.
          </div>
        </div>
        <hr>
        <div class="basic-inputs">
          <h5 class="label"> Add Job Type & Status</h5>
          <!-- Job Type -->
          <mat-form-field class="jobName" *ngIf="data.jobType">
            <mat-select [(ngModel)]="data.jobType.typeName" placeholder="Job Type" required name="jobType">
              <mat-option *ngFor="let job of jobTypes; let i = index" [value]="job.typeName">{{job.typeName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Status -->
          <mat-form-field>
            <input matInput name="status" [(ngModel)]="data.status" placeholder="Status" autocomplete="off">
          </mat-form-field>
        </div>
        <hr>
        <!-- ----------- JOB PARAMS -------------- -->
        <div class="params-container">
          <div class="flex row">
            <div class="flex column params">
              <h5 class="label"> Add Job Params</h5>
              <!--  Param Name -->
              <mat-form-field class="param-field">
                <input [(ngModel)]="paramName" matInput name="paramName" placeholder="Name">
              </mat-form-field>
              <mat-error *ngIf="nameError">
                Param name is
                <strong>required</strong>
              </mat-error>
              <!-- Param Value -->
              <mat-form-field class="param-field">
                <input [(ngModel)]="paramValue" matInput name="paramValue" placeholder="Value">
              </mat-form-field>
              <mat-error *ngIf="valueError">
                Param value is
                <strong>required</strong>
              </mat-error>
              <!-- Description -->
              <mat-form-field class="param-field">
                <input [(ngModel)]="paramDescription" matInput name="paramDescription" placeholder="Description">
              </mat-form-field>
              <button class="param-button" mat-stroked-button color="primary" (click)="addJobParam()">Add</button>
              <div class="param-message" *ngIf="paramMesssage">
                <strong>Param with this name exists.</strong>
              </div>
            </div>
            <div class="added-params">
              <h5 class="label"> Added Params</h5>
              <div *ngFor="let param of data.jobParameterses; let i = index">
                <span class="params-show">
                  <mat-icon class="unselect-icon" (click)="removeJobParam(param, i)">close</mat-icon>
                  {{i+1}}. {{param.name}}
                  <i *ngIf="selectedParam != i" class="material-icons params-expand-icon" (click)="expandParamsInfo(i)">
                    expand_more
                  </i>
                  <i *ngIf="expand == true && selectedParam == i" class="material-icons params-expand-icon" (click)="expandParamsInfo(i)">
                    expand_less
                  </i>
                </span>
                <div *ngIf="expand == true && selectedParam == i">
                  <div class="params-expanded">
                    <span class="param-value">
                      <strong>Value: </strong>
                      <br> {{param.value}}
                    </span>
                    <span class="param-description">
                      <strong>Description: </strong>
                      <br> {{param.description}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Notifications -->
        <div class="basic-inputs" *ngIf="data.listNotificationses">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedNotifications" placeholder="Notifications" [ngModelOptions]="{standalone: true}" multiple
              required>
              <mat-option *ngFor="let notification of notifications; let i = index" [value]="notification.name">{{notification.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <hr>
        <!-- Categories -->
        <h3 class="dialog-subtitle">Select categories & weight for each category</h3>
        <div class="categories" *ngIf="categories">
          <div class="categories-box">
            <h5 class="label">Choose categories</h5>
            <div *ngFor="let job of categories | filter: listCategoryWeight : 'categories_add_edit'">
              <mat-checkbox color="warn" (change)="checked($event, job)" labelPosition="after" multiple>
                {{job.categoryName}}
              </mat-checkbox>
            </div>
          </div>
          <!-- Selected Categories -->
          <div class="selected-categories">
            <h5 class="label">Choose weight for selected categories</h5>
            <div>
              <div *ngFor="let selected of listCategoryWeight; let i = index" class="selected-categories-box">
                <mat-icon class="unselect-icon" *ngIf="selected.category.categoryName" (click)="unchecked(selected)">close</mat-icon>
                <span>{{selected.category.categoryName}}</span>
                <mat-slider color="warn" max="5" min="1" step="1" thumbLabel="true" tickInterval="5" [value]="selected.weight" (change)="sliderChange($event, selected)">
                </mat-slider>
              </div>
            </div>
          </div>
        </div>
        <hr>

      </mat-dialog-content>
      <mat-dialog-actions class="buttons">
        <button mat-button mat-dialog-close>Cancel</button>
        <button type="submit" mat-raised-button color="warn">Submit</button>
      </mat-dialog-actions>
    </form>
  </div>
</div>