#cmp-registration {
    padding-top: 71px;

    .img-captcha {
        padding: 5px;
    }

    .pointer-cursor {
        cursor: pointer;
        font-weight: bold;
    }

    .glyphicon-refresh {
        cursor: pointer;
        top: 4px;

        &:hover {
            color: green;
        }
    }

    .green-text {
        color: green;
    }

    .margin-top-20 {
        margin-top: 20px;
    }

    .break-word {
        word-wrap: break-word;
    }

}