<div id="cmp-registration" class="app_content-container-cmp">
    <div class="container-fluid">
        <div class="col-md-4 col-md-offset-4">
            <img class="img-responsive center-block" [src]="_appService.applicationData.serviceProviderLogoUrl">
        </div>
    </div>

    <h3 *ngIf="!registered" class="container-fluid text-center login-header margin-top-20">{{'fe.registration.signUp' | translate}}</h3>

    <div *ngIf="!registered" class="col-md-4 col-md-offset-4">
        <form [formGroup]="form" (ngSubmit)="submit(form)">
            <div class="form-group">
                <validation-messages [errors]="registrationFormErrors" inputName="firstName">
                    <label [attr.for]="firstName">{{'fe.generalComponentContent.firstName' | translate}}</label>
                    <control-messages [control]="form.controls.firstName"></control-messages>
                    <input class="form-control" formControlName="firstName" type="text" placeholder="{{'fe.generalComponentContent.firstName' | translate}}">
                </validation-messages>
            </div>

            <div class="form-group">
                <validation-messages [errors]="registrationFormErrors" inputName="lastName">
                    <label [attr.for]="lastName">{{'fe.generalComponentContent.lastName' | translate}}</label>
                    <control-messages [control]="form.controls.lastName"></control-messages>
                    <input class="form-control" formControlName="lastName" type="text" placeholder="{{'fe.generalComponentContent.lastName' | translate}}">
                </validation-messages>
            </div>

            <div class="form-group">
                <validation-messages [errors]="registrationFormErrors" inputName="username">
                    <label [attr.for]="username">{{'fe.generalComponentContent.username' | translate}}</label>
                    <control-messages [control]="form.controls.username"></control-messages>
                    <input class="form-control" formControlName="username" type="text" placeholder="{{'fe.generalComponentContent.username' | translate}}" minlength="3">
                </validation-messages>
            </div>

            <div class="form-group">
                <validation-messages [errors]="registrationFormErrors" inputName="email">
                    <label [attr.for]="email">{{'fe.generalComponentContent.email' | translate}}</label>
                    <control-messages [control]="form.controls.email"></control-messages>
                    <input class="form-control" formControlName="email" type="text" placeholder="{{'fe.generalComponentContent.email' | translate}}">
                </validation-messages>
            </div>

            <div class="form-group">
                <label [attr.for]="password">{{'fe.generalComponentContent.password' | translate}}</label>
                <control-messages [control]="form.controls.password"></control-messages>
                <div class="input-group">
                <input class="form-control" formControlName="password" [type]="password" (keyup)="checkPasswords(form.controls.password.value, form.controls.confirmPassword.value)"
                    placeholder="{{'fe.generalComponentContent.password' | translate}}">
                <div class="input-group-addon cursor-pointer" (click)="togglePassword()"><i class="glyphicon glyphicon-eye-open"></i></div>
                </div>
            </div>

            <div class="form-group">
                <label [attr.for]="confirmPassword">{{'fe.registration.confirmPassword' | translate}}</label>
                <control-messages [control]="form.controls.confirmPassword"></control-messages>
                <span *ngIf="passwordMismatch" class="label label-danger pull-right">Password mismatch</span>
                <input class="form-control" formControlName="confirmPassword" [type]="password" (keyup)="checkPasswords(form.controls.password.value, form.controls.confirmPassword.value)"
                    placeholder="{{'fe.registration.confirmPassword' | translate}}">
            </div>

            <div class="form-group">
                <label [attr.for]="defaultLanguage">{{'fe.registration.language' | translate}}</label>
                <control-messages [control]="form.controls.defaultLanguage"></control-messages>
                <select class="form-control" formControlName="defaultLanguage">
                    <option *ngFor="let l of languages" [ngValue]="l.languageCode">{{l.languageText}}</option>
                </select>
            </div>

            <div class="form-group">
                <validation-messages [errors]="registrationFormErrors" inputName="securityNumber">
                    <label [attr.for]="securityNumber">{{'fe.generalComponentContent.securityNumber' | translate}}</label>
                    <control-messages [control]="form.controls.securityNumber"></control-messages>
                    <input class="form-control" formControlName="securityNumber" type="text" placeholder="{{'fe.generalComponentContent.securityNumber' | translate}}">
                </validation-messages>
            </div>

            <div class="form-group" *ngIf="captchaImage && captchaHashed">
                <validation-messages [errors]="registrationFormErrors" inputName="captcha">
                    <div *ngIf="captchaImage" class="text-center">
                        <img class="img-captcha" [src]="'data:image/jpeg;base64,' + captchaImage" />
                    </div>
                    <label [attr.for]="captcha">{{'fe.registration.enterText' | translate}}:</label>
                    <control-messages [control]="form.controls.captcha"></control-messages>
                    <div class="input-group">
                    <input class="form-control" formControlName="captcha" type="text" placeholder="{{'fe.registration.captcha' | translate}}">
                    <div class="input-group-addon cursor-pointer" (click)="getCaptcha()"><i class="glyphicon glyphicon-refresh"></i></div>
                    </div>
                </validation-messages>
            </div>
            <div class="alert alert-danger break-word" role="alert" *ngIf="!captchaImage && !captchaHashed && captchaError">
                {{ captchaError | translate }}
            </div>

            <div class="form-group container-fluid row clear-both text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid || passwordMismatch">{{'fe.generalComponentContent.signUp' | translate}}</button>
            </div>

            <div class="container-fluid form-group text-center">
                <a routerLink="/login">{{'fe.registration.login' | translate}}</a>
            </div>
        </form>
    </div>

    <div *ngIf="registrationAlert.show" class="view-header-alert_box text-center col-md-4 col-md-offset-4">
        <alert [type]="registrationAlert.type" [dismissible]="false" (close)="this._utilityService.setAlert(this.registrationAlert)">
            <span [innerHTML]="registrationAlert.message | translate"></span>
        </alert>
    </div>

</div>