$primary: #009688;
$accent: #64FFDA;
$warn: #FFEE58;

// Flexbox classes
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.center {
    align-items: center;
    justify-content: center;
}

// Titles
.page-title {
    background: linear-gradient(to right, $primary, $accent);
    font-size: 32px;
    color: #fff;
    padding: 15px 20px;
}

// Wrapper
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-button {
    align-self: flex-end;
    margin-right: 50px!important;
    margin-bottom: 50px!important;
    margin-top: 10px!important;
}
.add-button:active {
    outline: none;
}
.add-button:focus {
    outline: none;
}

// Table
table {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}
tr.mat-header-row {
    background: $primary!important;
}
th.mat-header-cell {
    color: white;
    text-align: center;
}
td::selection {
    background: $primary;
    color: white;
}
th::selection {
    background: $primary;
}
th.mat-header-cell {
    text-align: left!important;
    padding-right: 24px !important;
    padding-top: 10px!important;
    padding-bottom: 10px;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding-right: 24px !important;
    padding-top: 10px!important;
    padding-bottom: 10px;
    text-align: left!important;
}
.mat-cell, .mat-footer-cell {
    font-size: 14px;
}

.table-icons {
    color: $primary;
    font-size: 19px;
    padding-right: 5px;
    text-align: center;
}
.table-icons:hover {
    cursor: pointer;
}
.table-icons::selection {
    background: $primary;
    color: white;
}

// Dialogs
.dialog-title {
    padding: 15px;
    margin-bottom: 20px;
    background: linear-gradient(to right, $primary, $accent);
    color: #fff;
}
.dialog-subtitle {
    display: flex;
    align-items: center;
    color: $primary;
    padding-left: 20px;
}
.dialog-subtitle>i {
    margin-right: 5px;
}

// No data class
.no-data {
    color: gray;
    font-style: italic;
}
