.lazy_load_dropdown {
    clear: both;
    position: relative;

    .dropdown {
        position: relative;
        clear: both;
        
        .dropdown-btn-value {
            min-height: 34px;
            position: relative;
        }
    }
    
    .glyphicon-remove {
        cursor: pointer;
        line-height: 1.4;
    }

    .center-label {
        margin-top: 5px;
    }

    .glyphicon-remove:hover {
        color: #d9534f;
    }

    .dropdown-menu {
        padding: 0 !important;
    }

    .dropdown-filter {
        margin: 5px 10px !important;
    }

    .dropdown-item {
        padding: 4px 8px 4px 8px;

        &:hover {
            background-color: #f4f3f4;
            color: #373a3c;
            cursor: pointer;
        }
    }

    .dropdown-item-test {
        background-color: #f4f3f4;
        color: #373a3c;
    }

    .dropdown-item-active {
        background-color: #0275d8 !important;
        color: #ffffff !important;
    }

    .value-container {
        width: 100%;
        padding-right: 11px;
    }

    .value {
        overflow: hidden;
    }

    .caret-container {
        width: 8px;
        position: absolute;
        right: 8px;
        top: 7px;
    }

    .ui-datascroller .ui-datascroller-content {
        padding: 0 !important;
    }

    .ui-datascroller-content.ui-widget-content {
        white-space: nowrap;
    }
}