<div class="lazy_load_dropdown">
    <label *ngIf="label && !inline">{{label}}</label>
    <span [ngClass]="{'glyphicon glyphicon-remove pull-right': true, 'visibility-hidden': (disabled && clear) || !clear}" aria-hidden="true" (click)="disabled || clearInput()"></span>
    <div class="dropdown">
        <label *ngIf="label && inline" class="col-md-2 center-label">{{label}}</label>
        <button #button [ngClass]="{'btn btn-default dropdown-toggle clearfix dropdown-btn-value': true, 'col-md-10':inline}" [disabled]="disabled" [ngStyle]="classStyles()" type="button" data-toggle="dropdown"
            aria-haspopup="true" ria-expanded="true" (click)="dropdownToggle()">
            <div class="text-left value-container">
                <div class="value">{{result ? (display ? result[display] : result) : placeholder}}</div>
            </div>
            <div class="pull-right caret-container">
                <span class="caret"></span>
            </div>
        </button>
        <div class="dropdown-menu dropdown-scroll" aria-labelledby="dropdownMenu1" [ngStyle]="{'width': '100%'}">
            <div *ngIf="showSearch" class="form-group dropdown-filter">
                <input #filterInput type="text" class="form-control" [(ngModel)]="filter" (ngModelChange)="toggle()" [ngModelOptions]="{standalone: true}" [placeholder]="filterPlaceholder || ''">
            </div>
            <div *ngIf="toggleVar && value">
                <p-dataScroller #scroller [value]="value | filterDropdown: filter:display" [rows]="20" [inline]="true" scrollHeight="250px">
                    <template let-object pTemplate="item">
                        <div [ngClass]="{'dropdown-item-active' : result && (display ? result[display] == object[display] : result == object)}" class="dropdown-item" (click)="writeValue(object); onClick.emit(result)"
                            [ngStyle]="{'word-break': 'break-all'}">
                            {{ display ? object[display] : object }}
                        </div>
                    </template>
                </p-dataScroller>
            </div>
        </div>
    </div>
</div>