<div id="login">
  <!-- Left Side -->
  <div id="leftSide"><h1>Content Management</h1><h4>"Neque porro quisquam est qui dolorem..."</h4></div>

  <!-- Right Side -->
  <div id="rightSide">
    <!-- Login Card -->
    <mat-card class="card-login">
      <!-- Card Header -->
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Enter your username and password to login.</mat-card-subtitle>
      </mat-card-header>

      <!-- Login Form  -->
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <mat-card-content>
          <div class="form-container">
            <!-- Username -->
            <p>
              <mat-form-field>
                <input formControlName="username" name="username" id="username" type="text" matInput placeholder="Username">
              </mat-form-field>
            </p>
            <!-- Password -->
            <p>
              <mat-form-field>
                <input formControlName="password" name="password" id="password" type="password" matInput placeholder="Password">
              </mat-form-field>
            </p>
          </div>
        </mat-card-content>
        <!-- Card Actions -->
        <mat-card-actions>
          <button type="submit"  [disabled]="username.errors ||  password.errors" align="end" mat-raised-button color="primary">Login</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
