#cmp-class_loading .container-custom, #cmp-categories .container-custom {
  margin-left: 75px;
  margin-right: 75px; }
#cmp-class_loading .center-div, #cmp-categories .center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 3px; }
#cmp-class_loading .hide-input, #cmp-categories .hide-input {
  display: none !important; }
#cmp-class_loading .label-text, #cmp-categories .label-text {
  font-size: 14px;
  font-weight: bold; }
#cmp-class_loading .separator, #cmp-categories .separator {
  margin-bottom: 15px; }
#cmp-class_loading .file-label, #cmp-categories .file-label {
  background: #337ab7;
  border: 1px solid #337ab7;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 22px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding: 11px 0px;
  width: 100%; }
#cmp-class_loading .file-label:hover, #cmp-categories .file-label:hover {
  background: #619dd0;
  border: 1px solid #4489c3; }
#cmp-class_loading .file-label-info, #cmp-categories .file-label-info {
  width: 90%;
  float: left;
  word-break: break-all;
  font-size: 14px;
  padding-left: 10px; }
#cmp-class_loading .file-label-upload-icon, #cmp-categories .file-label-upload-icon {
  float: right;
  padding-right: 5px; }
#cmp-class_loading .table-upload, #cmp-categories .table-upload {
  width: 100%; }
#cmp-class_loading .progress-image, #cmp-categories .progress-image {
  width: 30px; }
#cmp-class_loading .upload-form-container, #cmp-categories .upload-form-container {
  background: #ebedf0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px; }
#cmp-class_loading .edit-form-container, #cmp-categories .edit-form-container {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px; }
#cmp-class_loading .delete-button, #cmp-categories .delete-button {
  float: right;
  width: 30px;
  padding: 3px !important; }
#cmp-class_loading .edit-button, #cmp-categories .edit-button {
  float: left;
  width: 30px;
  padding: 3px !important; }
#cmp-class_loading .alert-message, #cmp-categories .alert-message {
  margin-top: 10px; }
@keyframes button_highlight {
  0% {
    box-shadow: 0 0 0 0; }
  50% {
    box-shadow: 0 0 8px 3px rgba(0, 130, 0, 0.9); }
  100% {
    box-shadow: 0 0 0 0; } }
#cmp-class_loading .button_highlight, #cmp-categories .button_highlight {
  animation: button_highlight 1s linear infinite; }
#cmp-class_loading .col-description, #cmp-categories .col-description {
  overflow: hidden;
  height: 20px; }
#cmp-class_loading .search-span, #cmp-categories .search-span {
  float: left; }
#cmp-class_loading .jvm-span, #cmp-categories .jvm-span {
  float: right;
  width: 168px; }
#cmp-class_loading textarea, #cmp-categories textarea {
  resize: vertical; }
#cmp-class_loading .alert, #cmp-categories .alert {
  word-break: break-word; }
#cmp-class_loading .modal-body .modal-class, #cmp-categories .modal-body .modal-class {
  font-size: 15px;
  text-align: center !important; }
#cmp-class_loading .categories-list, #cmp-categories .categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }
#cmp-class_loading .margin_top-10, #cmp-categories .margin_top-10 {
  margin-top: 10px; }

#cmp-class_loading_test .label_text {
  font-size: 14px;
  font-weight: bold; }
#cmp-class_loading_test .form-control {
  margin-bottom: 15px; }
#cmp-class_loading_test .response {
  color: #337ab7;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px; }

/*# sourceMappingURL=classLoading.cmp.css.map */
