@import '../app.component.scss';
#classLoading{
  width: 100%;

  #myTable {
    margin-left: 12%;
    margin-top: 15%;
}
table{
    min-width: 80%;
    margin-top: 15px;
    margin-left: 8px;;
}
button{
    margin-bottom: 10px;
    background: $warn;
    float:right;
}
#classLoading{
    width:100%;
    margin-right: 10%;
}

}
