<div id="historyDialog">
  <!-- <span *ngIf="data; else  no_data"></span>-->
    <!-- <ng-template #no_data>
      <span class="no-data">
        No data.
      </span>
    </ng-template> -->
  <h2 class="dialog-title">Job History</h2>
  <mat-dialog-content *ngFor="let history of data">
    <div class="flex">
      <div class="column">
        <mat-chip-list>
          <mat-chip [ngStyle]="{'backgroundColor':getColor(history.status)}"selected>{{history.status}}</mat-chip>
        </mat-chip-list>
        <span><strong>Id: </strong> {{history.id}}</span><br>
        <span><strong>Job Name: </strong> {{history.jobName}}</span>
      </div>
      <div class="column">
        <strong>Start Time: </strong>
        <span *ngIf="history.startTimestamp">{{history.startTimestamp | date }}</span><br>
        <strong>End Time: </strong>
        <span *ngIf="history.endTimestamp">{{history.endTimestamp | date }}</span>
      </div>
    </div>
    <hr>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close [mat-dialog-close]="true">Close</button>
  </mat-dialog-actions>
</div>
