@import '../../../app.component.scss';

#addContent {

    .basic-fileds {
        width: 50%!important;
    }
    .textarea-fields {
        width: 100%!important;
    }

    // Tabs
    .mat-tab-group {
        width: 100%;
        padding: 0 20px;
    }
    .mat-tab-labels {
        justify-content: center;
        align-items: center;
    }
    .tabs-body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }
    .basic-inputs {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .code-body {
        width: 100px;
        height: 100px;
    }
    .tabs {
        display: flex;
        align-items: center;
        justify-content: center;
    }

     //Categories
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .categories-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
  }
  .selected-categories {
      margin-left: 85px;
  }
  .selected-categories-box {
    display: flex;
    align-items: center;
  }
  .selected-categories-box>span {
      font-size: 15px;
  }
  .mat-checkbox-layout .mat-checkbox-label {
      font-size: 15px;
  }
  .label {
    margin-top: 20px;
    text-align: left;
    color: #bdbdbd;
  }

  mat-slider {
    width: 150px;
    margin-bottom: 5px;
    margin-left: 50px;
  }
  .buttons {
      float: right;
  }
}