@import '../app.component.scss';

#content {
    width: 80%;
    margin: 200px auto;


    // Expansion Panel
    mat-expansion-panel-header {
        background-color: $primary;
    }
    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
        color: #fff;
    }

    // Tabs
    .mat-tab-labels {
        justify-content: center;
    }
    .tabs-content {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    .tabs-icons {
        align-self: flex-end;
    }
    .tabs-icons>i {
        color: $primary;
        font-size: 28px;
        margin-top: 10px;
    }
    .tabs-icons>i:hover {
        color: $warn;
        cursor: pointer;
    }
    .tabs-text {
        padding: 50px 0;
    }
}