<div id="content">
  <!-- Accordion -->
  <mat-accordion>
    <!-- Expansion panel START -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Position 1
        </mat-panel-title>
        <mat-panel-description>
          Home
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Code inside expansion panel -->
      <!-- Tab - Material -->
      <mat-tab-group>
        <mat-tab label="HTML">
          <ng-template mat-tab-label>
            HTML
          </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
            rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
        <mat-tab label="CSS">
          <ng-template mat-tab-label>
            CSS
          </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
            rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
        <mat-tab label="JavaScript">
          <ng-template mat-tab-label>
            JavaScript
          </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
            rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
    <!-- Expansion panel END -->

    <!-- Expansion panel START -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Position 2
        </mat-panel-title>
        <mat-panel-description>
          Home
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Code inside expansion panel -->
      <!-- Tab - Material -->
      <mat-tab-group>
        <mat-tab label="HTML">
          <ng-template mat-tab-label>
            HTML
          </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
            rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
        <mat-tab label="CSS">
          <ng-template mat-tab-label>
            CSS
          </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
            rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
        <mat-tab label="JavaScript">
          <ng-template mat-tab-label>
            JavaScript
          </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
            rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
    <!-- Expansion panel END -->
  </mat-accordion>
</div>