<div id="content">
  <!-- Accordion -->
  <mat-accordion *ngIf="positions">
    <!-- Expansion panel START -->
    <mat-expansion-panel *ngFor="let position of positions">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{position.position}}
        </mat-panel-title>
        <mat-panel-description>
          {{position.page}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Code inside expansion panel -->
      <!-- Tab - Material -->
      <mat-tab-group>
        <mat-tab label="HTML">
          <ng-template mat-tab-label>
            HTML
          </ng-template>
          <div class="demo-tab-content">
            {{position.html}}
          </div>
        </mat-tab>
        <mat-tab label="CSS">
          <ng-template mat-tab-label>
            CSS
          </ng-template>
          <div class="demo-tab-content">
            {{position.css}}
          </div>
        </mat-tab>
        <mat-tab label="JavaScript">
          <ng-template mat-tab-label>
            JavaScript
          </ng-template>
          <div class="demo-tab-content">
            {{position.script}}
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
    <!-- Expansion panel END -->
  </mat-accordion>
</div>