<div id="content">
  <!-- Accordion -->
  <mat-accordion *ngIf="positions" color="accent">
    <!-- Expansion panel START -->
    <mat-expansion-panel *ngFor="let position of positions" (closed)="panelClosed()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{position.position}}
        </mat-panel-title>
        <mat-panel-description>
          {{position.page | uppercase}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Code inside expansion panel -->

      <!-- Tabs - Material -->
      <div *ngIf="step == 1" class="tabs-container">
        <mat-tab-group color="warn">
          <mat-tab label="HTML">
            <ng-template mat-tab-label>
              HTML
            </ng-template>
            <!-- Tabs Content -->
            <div class="tabs-content">
              <!-- Icons -->
              <span class="tabs-icons">
                <i matTooltip="Delete position" matTooltipPosition="above" class="material-icons">
                  delete
                </i>
              </span>
              <!-- Text -->
              <div class="tabs-text">
                <form class="form">
                  <mat-form-field class="textarea">
                    <textarea matInput name="textarea" placeholder="Edit code" rows="10" cols="50" [(ngModel)]="position.html">
                    {{position.html}}
                  </textarea>
                  </mat-form-field>
                </form>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="CSS">
            <ng-template mat-tab-label>
              CSS
            </ng-template>
            <!-- Tabs Content -->
            <div class="tabs-content">
              <!-- Icons -->
              <span class="tabs-icons">
                <i matTooltip="Delete position" matTooltipPosition="above" class="material-icons">
                  delete
                </i>
              </span>
              <!-- Text -->
              <div class="tabs-text">
                <form class="form">
                  <mat-form-field class="textarea">
                    <textarea matInput name="textarea" placeholder="Edit code" rows="10" cols="50" [(ngModel)]="position.css">
                      {{position.css}}
                    </textarea>
                  </mat-form-field>
                </form>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="JavaScript">
            <ng-template mat-tab-label>
              JavaScript
            </ng-template>
            <!-- Tabs Content -->
            <div class="tabs-content">
              <!-- Icons -->
              <span class="tabs-icons">
                <!-- Icon -->
                <i matTooltip="Delete position" matTooltipPosition="above" class="material-icons">
                  delete
                </i>
              </span>
              <!-- Text -->
              <div class="tabs-text">
                <mat-form-field class="textarea">
                  <textarea matInput name="textarea" placeholder="Edit code" rows="10" cols="50" [(ngModel)]="position.script">
                  {{position.script}}
                </textarea>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
        <button mat-raised-button color="warn" (click)="next(position)">Next</button>
      </div>
      <!-- Tabs - END -->

      <!-- Form -->
      <div class="categories" *ngIf="step == 2">
        <h5 class="label">Select categories for this position</h5>
        <div class="categories-box">
          <div *ngFor="let category of categories | filter : selectedPosition.contentCategorieses: 'categories'">
            <mat-checkbox color="warn" (change)="checked($event, category)" labelPosition="after">
              {{category.description}}
            </mat-checkbox>
            <!-- <mat-slider color="warn" max="5" min="1" step="1" thumbLabel="true" tickInterval="5" (change)="sliderChange($event, category.id, i)">
            </mat-slider> -->
          </div>

        </div>
        <h5 class="label">Selected categories</h5>
        <div>
          <div *ngFor="let selected of selectedPosition.contentCategorieses" class="selected-categories-box">
            <span>{{selected.categories.description}}</span>
            <mat-icon class="unselect-icon" (click)="unchecked(selected)">close</mat-icon>
          </div>
        </div>
        <div class="buttons">
          <button mat-button (click)="back()">Back</button>
          <button mat-raised-button color="warn" (click)="save()">Save</button>
        </div>
      </div>
      <!-- Form - END -->
    </mat-expansion-panel>
    <!-- Expansion panel END -->
  </mat-accordion>
</div>