<div id="editJob">
  <h1>Edit
    <h5>{{data.eventName}}</h5>
  </h1>
  <div *ngIf="data">
    <form #editEventForm="ngForm" class="editJob-container">
      <mat-dialog-content>
        <mat-form-field>
          <input matInput name="eventName" type="text" [(ngModel)]="data.eventName" placeholder="Event Name" autocomplete="off" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput name="eventType" type="text" [(ngModel)]="data.eventType" placeholder="Event Type" autocomplete="off" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-select name="jobs" [(ngModel)]="data.jobs" placeholder="Job Name" required>
            <mat-option *ngFor="let job of events; let i = index" [value]="job.jobs">{{job.jobs.jobName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput name="definition" [(ngModel)]="data.definition" placeholder="Definition" autocomplete="off">
        </mat-form-field>
        <br>

        <mat-form-field>
          <textarea matInput name="description" [(ngModel)]="data.description" placeholder="Description"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="status" [(ngModel)]="data.status" placeholder="Status">
        </mat-form-field>

      </mat-dialog-content>

      <mat-dialog-actions class="buttons">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="warn" [disabled]="editEventForm.invalid" (click)="editJob(editEventForm.value)">Save</button>
      </mat-dialog-actions>
    </form>
  </div>
</div>