#deleteDialog {
    mat-dialog-actions {
        float: right;
    }
    mat-dialog-content {
        padding: 20px 0;
        text-align: center;
    }
    button:focus {
        outline: none;
    }
}