<div style="display:flex">
  <app-panel></app-panel>
  <div id="events">
    <h1>Events</h1>
    <!-- Add Job Button -->
    <button matTooltip="Add Job" matTooltipPosition="above" (click)="openAddDialog()" mat-mini-fab>
      <i class="material-icons plus">add</i>
    </button>
    <!-- Table template -->
    <div>
      <!-- Table -->
      <table mat-table [dataSource]="events" class="mat-elevation-z8">
        <!-- ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <!-- Event Name -->
        <ng-container matColumnDef="eventName">
          <th mat-header-cell *matHeaderCellDef> Event Name </th>
          <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
        </ng-container>
        <!-- Job Name -->
        <ng-container matColumnDef="jobName">
          <th mat-header-cell *matHeaderCellDef> Job Name </th>
          <td mat-cell *matCellDef="let element"> {{element.jobs.jobName}} </td>
        </ng-container>
        <!-- Event Type -->
        <ng-container matColumnDef="eventType">
          <th mat-header-cell *matHeaderCellDef> Event Type </th>
          <td mat-cell *matCellDef="let element"> {{element.eventType}} </td>
        </ng-container>
        <!-- Cron Ex -->
        <ng-container matColumnDef="definition">
          <th mat-header-cell *matHeaderCellDef> Definition</th>
          <td mat-cell *matCellDef="let element"> {{element.jobs.cronExpression}} </td>
        </ng-container>
        <!-- Description -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description</th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <!-- Status -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <!-- Change Status -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">
            <i matTooltip="Start Job" matTooltipPosition="above" class="material-icons" (click)="start(element)">
              play_arrow
            </i>
            <i matTooltip="Stop Job" matTooltipPosition="above" class="material-icons" (click)="stop(element)">
              stop
            </i>
          </td>
        </ng-container>
        <!-- History -->
        <ng-container matColumnDef="history">
          <th mat-header-cell *matHeaderCellDef> History</th>
          <td mat-cell *matCellDef="let element">
            <i matTooltip="History" matTooltipPosition="above" class="material-icons">
              history
            </i>
          </td>
        </ng-container>
        <!-- Actions -->
        <ng-container matColumnDef="editing">
          <th mat-header-cell *matHeaderCellDef> Editing</th>
          <td mat-cell *matCellDef="let element">
            <i matTooltip="Edit Job" matTooltipPosition="above" class="material-icons" (click)="editDialog(element)">
              edit
            </i>
            <i matTooltip="Delete Job" matTooltipPosition="above" class="material-icons" (click)="deleteJob(element.id)">
              delete
            </i>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <!-- Add Job -->
    <!-- <app-add-job *ngIf="addJobShow"></app-add-job> -->

    <!-- Edit Job Template -->
    <!-- <app-edit-job *ngIf="editJobShow" [currentJob]="currentJob"></app-edit-job> -->


  </div>
</div>