<div id="cmp-admin_roles" class="app_content-container-cmp">
    <div *ngIf="componentAlert.show" class="alert_box">
        <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
            <span [innerHTML]="componentAlert.message"></span>
        </alert>
    </div>
    <h2 class="view-header clearfix">
        <div class="view-header-sub">
            {{'fe.adminRoles.mainHeader' | translate}}
        </div>
    </h2>

    <div class="col-md-9 form-group text-left">
        <span class="search-span">
            <input #globalFilter type="text" class="form-control" [placeholder]="'fe.generalComponentContent.search' | translate">
        </span>
    </div>
    <div class="col-md-3 text-right">
        <button class="btn btn-success" (click)="showModal(addRoleModal)">{{'fe.adminRoles.btnNewRole' | translate}}</button>
    </div>

    <div class="col-md-12">
        <p-dataTable #dataTable [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" [value]="allRoles" [rows]="10" [paginator]="true" [rowsPerPageOptions]="pageSizes"
            [globalFilter]="globalFilter" reorderableColumns="true" class="table">
            <p-column field="name" [header]="'fe.generalComponentContent.name' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center" >{{object.name}}</div>
                </template>
            </p-column>
            <p-column field="timeout" [header]="'fe.adminRoles.colTimeout' | translate" sortable="true">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">
                        {{object.timeout}}
                    </div>
                </template>
            </p-column>
            <p-column field="operations" [style]="{'width': '84px'}">
                <template pTemplate="header">
                    <span>
                        <button class="btn btn-success" (click)="loadRoles()">
                            <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    </span>
                </template>
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">
                        <button class="btn btn-warning edit-button" (click)="showModal(editRoleModal, 'edit', object)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn btn-danger delete-button" (click)="showModal(deleteRoleModal, 'delete', object)">
                            <span  class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </template>
            </p-column>
        </p-dataTable>
    </div>
    <!-- Add Role Modal -->
    <div bsModal #addRoleModal="bs-modal" class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModal" >
        <div *ngIf="editForm" class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="hideModal(addRoleModal)" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{'fe.adminRoles.adding' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                        <div [ngClass]="{'form-group': true, 'has-error has-feedback': editForm.get('name').hasError('notUnique')}">
                            <validation-messages [errors]="formErrors" inputName="roleName">
                                <label for="name">{{'fe.generalComponentContent.name' | translate}}</label>
                                <span *ngIf="editForm.get('name').hasError('notUnique')" class="glyphicon glyphicon-remove form-control-feedback pull-right" aria-hidden="true"></span>
                                <!-- <span *ngIf="editForm.get('name').hasError('notUnique')" class="label label-danger pull-right">{{'fe.adminRoles.roleUniqueMessage' | translate}}</span> -->
                                <control-messages [control]="editForm.controls.name"></control-messages>
                                <input maxlength="50" type="text" formControlName="name" class="form-control" id="name" [placeholder]="'fe.generalComponentContent.name' | translate">
                            </validation-messages>
                        </div>
                        <div class="form-group">
                            <label for="timeout">{{'fe.adminRoles.fieldTimeout' | translate}}</label>
                            <control-messages [control]="editForm.controls.timeoutForm"></control-messages>
                            <input type="text" formControlName="timeoutForm" class="form-control" id="timeout" [placeholder]="'fe.adminRoles.fieldTimeout' | translate" onlyNumber />
                            <p class="help-block">{{ 'fe.adminRoles.timeoutHelpMessage' | translate }}</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="hideModal(addRoleModal)">{{'fe.generalComponentContent.close' | translate}}</button>
                    <button type="button" class="btn btn-primary" (click)="updateOrAddRole(true, addRoleModal)" [disabled]="!editForm.valid && !editForm.get('name').hasError('notUnique')">{{'fe.generalComponentContent.save' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Role Modal -->
    <div bsModal #editRoleModal="bs-modal" class="modal fade" id="editRoleModal" tabindex="-1" role="dialog" aria-labelledby="editRoleModal">
        <div *ngIf="editForm" class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(editRoleModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{'fe.adminRoles.editing' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                        <div [ngClass]="{'form-group': true, 'has-error has-feedback': editForm.get('name').hasError('notUnique')}">
                            <validation-messages [errors]="formErrors" inputName="roleName">
                                <label for="name">{{'fe.generalComponentContent.name' | translate}}</label>
                                <control-messages [control]="editForm.controls.name"></control-messages>
                                <input type="text" formControlName="name" class="form-control" id="name" [placeholder]="'fe.generalComponentContent.name' | translate">
                            </validation-messages>
                        </div>
                        <div class="form-group">
                            <label for="timeout">{{'fe.adminRoles.fieldTimeout' | translate}}</label>
                            <control-messages [control]="editForm.controls.timeoutForm"></control-messages>
                            <input maxlength="19" type="text" formControlName="timeoutForm" class="form-control" id="timeout" [placeholder]="'fe.adminRoles.fieldTimeout' | translate" onlyNumber>
                            <p class="help-block">{{ 'fe.adminRoles.timeoutHelpMessage' | translate }}</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="hideModal(editRoleModal)">{{'fe.generalComponentContent.close' | translate}}</button>
                    <button type="button" class="btn btn-primary" (click)="updateOrAddRole(null, editRoleModal)" [disabled]="!editForm.valid">{{'fe.generalComponentContent.save' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Remove Role Modal -->
    <div bsModal #deleteRoleModal="bs-modal" class="modal fade" id="deleteRoleModal" tabindex="-1" role="dialog" aria-labelledby="deleteRoleModal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="hideModal(deleteRoleModal)" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{'fe.adminRoles.deleting' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <b>{{'fe.generalComponentContent.name' | translate}}:</b> {{selectedRole?.name}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="hideModal(deleteRoleModal)">{{'fe.generalComponentContent.no' | translate}}</button>
                    <button type="button" class="btn btn-primary" (click)="deleteRole(deleteRoleModal)">{{'fe.generalComponentContent.yes' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>