#cmp-company_management.kjgri .filter_box {
  background: whitesmoke;
  margin: 0 15px 15px;
  padding: 14px 0; }
#cmp-company_management.kjgri .detachFromInsurance {
  word-wrap: break-word;
  white-space: normal; }
#cmp-company_management.kjgri .ui-radiobutton-label {
  padding-left: 0; }
#cmp-company_management.kjgri .margin-bottom-10 {
  margin-bottom: 10px; }
#cmp-company_management.kjgri .margin-top-20 {
  margin-top: 20px; }
#cmp-company_management.kjgri .company_package-label {
  padding-right: 16px; }
#cmp-company_management.kjgri .locations .locations-list .panel .panel-body {
  padding: 8px 12px;
  position: relative; }
#cmp-company_management.kjgri .locations .locations-list .panel .panel-heading .accordion-heading {
  padding-right: 21px;
  position: relative;
  word-break: break-word; }
  #cmp-company_management.kjgri .locations .locations-list .panel .panel-heading .accordion-heading .heading-arrow {
    bottom: 0;
    height: 16px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0; }
#cmp-company_management.kjgri .locations .locations-list .panel .navigate_to {
  color: #597575;
  cursor: pointer;
  font-size: 24px;
  margin-left: 4px;
  position: relative;
  top: 3px; }
  #cmp-company_management.kjgri .locations .locations-list .panel .navigate_to:hover {
    transform: scale(1.06); }
#cmp-company_management.kjgri .locations .locations-list .panel-open .panel {
  box-shadow: 0 0 5px 0px rgba(51, 51, 51, 0.68);
  transform: scale(1.01); }
  #cmp-company_management.kjgri .locations .locations-list .panel-open .panel .panel-heading {
    background: #79c1ff !important; }
#cmp-company_management.kjgri .locations .locations-list .disabled .panel .panel-heading {
  background: #e67676; }
#cmp-company_management.kjgri .locations .locations-list .enabled .panel .panel-heading {
  background: #b6efc5;
  font-weight: bold; }
#cmp-company_management.kjgri .locations .locations-list .change_map_location-overlay {
  background: rgba(245, 245, 245, 0.75);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }
  #cmp-company_management.kjgri .locations .locations-list .change_map_location-overlay span {
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
    height: 28px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 0 5px #fff;
    top: 0; }
#cmp-company_management.kjgri .locations .locations-list .refresh_icon {
  position: relative;
  top: -9px; }
#cmp-company_management.kjgri .locations .add_location .add_icon {
  border-radius: 50%;
  margin-top: 7px;
  padding: 8px 12px; }
#cmp-company_management.kjgri #search-form {
  margin-top: 25px; }
  #cmp-company_management.kjgri #search-form .search-button {
    position: absolute;
    right: -60px;
    top: 0; }
  #cmp-company_management.kjgri #search-form .glyphicon-remove {
    cursor: pointer;
    line-height: 1.4;
    top: -20px;
    right: 15px;
    position: absolute; }
  #cmp-company_management.kjgri #search-form input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
#cmp-company_management.kjgri ul.search-list {
  padding: 0;
  list-style: none;
  z-index: 9999;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  top: 34px;
  box-shadow: 5px 5px 19px -8px black;
  max-width: 410px; }
  #cmp-company_management.kjgri ul.search-list > li {
    padding: 5px 10px 5px 10px;
    min-height: 30px;
    border: 1px solid darkgrey; }
    #cmp-company_management.kjgri ul.search-list > li:not(:last-child) {
      border-bottom: 0; }
    #cmp-company_management.kjgri ul.search-list > li:first-child {
      border-top: 0; }
    #cmp-company_management.kjgri ul.search-list > li:hover {
      background-color: #c1c0bf;
      cursor: pointer; }
#cmp-company_management.kjgri #map.edit_location {
  cursor: crosshair; }
#cmp-company_management.kjgri .edit_location-map-btn {
  margin-top: 10px; }

/*# sourceMappingURL=kjgri.companyManagement.cmp.css.map */
