#editDialog {
  mat-dialog-actions {
      float: right;
  }
  mat-dialog-content {
      padding: 20px 0;
      text-align: center;
  }
  .mat-dialog-title {
      margin: 0;
  }
  button:focus {
      outline: none;
  }
}
