<div id="editDialog">
  <!-- <h2 mat-dialog-title>Edit {{data.type}}</h2> -->
  <!-- <mat-dialog-content>Are you sure you want to delete {{data.value}}?</mat-dialog-content> -->
  <h2 mat-dialog-title>Edit</h2>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Page" name="page" id="page" required minlength="2">
    </mat-form-field>
    <!-- Position -->
    <mat-form-field>
      <input matInput type="text" name="position"/>
    </mat-form-field>
    <!-- language -->
    <mat-form-field>
      <input matInput placeholder="Language" name="language" id="language"  required minlength="2" maxlength="2">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="funkc()">klik</button>
    <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">Yes</button>
  </mat-dialog-actions>
</div>
