<div id="cmp-admin_users" class="app_content-container-cmp">
    <div *ngIf="componentAlert.show" class="alert_box">
        <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
            <span [innerHTML]="componentAlert.message"></span>
        </alert>
    </div>

    <h2 class="view-header clearfix">
        <div class="view-header-sub">
            {{'fe.adminUsers.mainHeader' | translate}}
        </div>
    </h2>

    <div class="container-fluid">
        <div class="component-filter_box">
            <form [formGroup]="filterForm" (ngSubmit)="loadFilteredUsers(filterForm.value)">
                <div class="col-md-4 form-group" *ngIf="_appService.isAuthorised(_constants.getROLES().SUPER_ADMIN)">
                    <label class="control-label" for="role">{{ 'fe.adminUsers.company' | translate }}</label>
                    <select formControlName="company" name="company" id="company" class="form-control" placeholder="Select company">
                    <option [value]="''">{{ 'fe.adminUsers.selectComapny' | translate }}</option>
                    <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
                </select>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" for="role">{{ 'fe.adminUsers.role' | translate }}</label>
                    <select formControlName="role" name="role" id="role" class="form-control" placeholder="Select role">
                    <option [value]="''">Select role</option>
                    <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option>
                </select>
                </div>
                <div class="col-md-4 form-group">
                    <label for="username" class="control-label">{{ 'fe.generalComponentContent.username' | translate }}</label>
                    <control-messages [control]="filterForm.controls.username"></control-messages>
                    <input type="text" formControlName="username" placeholder="username" class="form-control" />
                </div>
                <div class="col-md-offset-9 col-md-3 clearfix form-group">
                    <button type="submit" class="btn btn-primary pull-right" [disabled]="!filterForm.valid">{{ 'fe.adminUsers.apply' | translate }}</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid row form-group">
        <div class="col-md-2">
            <input #globalFilter type="text" class="form-control pull-left" placeholder="{{'fe.generalComponentContent.search' | translate}}">
        </div>
        <div *ngIf="_appService.isAuthorised([_constants.getROLES().SUPER_ADMIN, _constants.getROLES().ADMIN])" class="col-md-3 pull-right text-right">
            <button class="btn btn-success" (click)="showModal(addUserModal, 'add')">{{'fe.adminUsers.btnNewUser' | translate}}</button>
        </div>
    </div>
    <div class="container-fluid">
        <p-dataTable #dataTable [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" [value]="allUsers" [rows]="10" [paginator]="true" [rowsPerPageOptions]="pageSizes" [globalFilter]="globalFilter" reorderableColumns="true" class="table">
            <p-column field="username" [header]="'fe.generalComponentContent.username' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.username}}</div>
                </template>
            </p-column>
            <p-column field="email" [header]="'fe.generalComponentContent.email' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.email}}</div>
                </template>
            </p-column>
            <p-column field="kjcCompanies" [header]="'fe.adminUsers.activeCompany' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{'width': '130px'}">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.kjcCompanies?.name}}</div>
                </template>
            </p-column>
            <p-column field="roles" [header]="'fe.adminUsers.roles' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{'width': '150px'}">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.roles}}</div>
                </template>
            </p-column>
            <p-column field="enabled" [header]="'fe.adminUsers.colEnabled' | translate" sortable="true" [style]="{'width': '84px'}">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">
                        <button *ngIf="_appService.isAuthorised([_constants.getROLES().SUPER_ADMIN, _constants.getROLES().ADMIN])" [ngClass]="{'btn':true, 'btn-danger': !object.enabled, 'btn-success': object.enabled}" (click)="updateUserStatus(object)">
                                <span [ngClass]="{'glyphicon':true, 'glyphicon-remove': !object.enabled, 'glyphicon-ok': object.enabled}"></span>
                            </button>
                        <span *ngIf="!_appService.isAuthorised([_constants.getROLES().SUPER_ADMIN, _constants.getROLES().ADMIN])" [ngClass]="{'glyphicon':true, 'glyphicon-remove': !object.enabled, 'glyphicon-ok': object.enabled}"></span>
                    </div>
                </template>
            </p-column>
            <p-column field="timeout" [header]="'fe.adminUsers.colTimeout' | translate" sortable="true">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">
                        {{object.timeout || ""}}
                    </div>
                </template>
            </p-column>
            <p-column field="firstLogin" [header]="'fe.adminUsers.colFirstLogin' | translate" sortable="true">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">
                        {{object.firstLogin | date:'MMMM dd y, HH:mm:ss'}}
                    </div>
                </template>
            </p-column>
            <p-column field="lastLogin" [header]="'fe.adminUsers.colLastLogin' | translate" sortable="true">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">
                        {{object.lastLogin | date:'MMMM dd y, HH:mm:ss'}}
                    </div>
                </template>
            </p-column>
            <p-column field="logCounter" [header]="'fe.adminUsers.colLogCount' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{'width': '84px'}">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">
                        {{object.logCounter}}
                    </div>
                </template>
            </p-column>
            <p-column field="operations" [style]="{'width': '84px'}">
                <template pTemplate="header">
                    <button [disabled]="!filterForm.valid" class="btn btn-success" (click)="loadFilteredUsers(filterForm.value)">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                </template>
                <template let-object="rowData" pTemplate="body">
                    <div *ngIf="_appService.isAuthorised([_constants.getROLES().SUPER_ADMIN, _constants.getROLES().ADMIN])" class="text-center">
                        <button class="btn btn-warning" (click)="showModal(editUserModal, 'edit', object)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                    </div>
                    <div *ngIf="_appService.isAuthorised(_constants.getROLES().SUBADMIN)" class="text-center">
                        <button class="btn btn-primary" (click)="showModal(viewUserModal, 'edit', object)">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>
                    </div>
                </template>
            </p-column>
        </p-dataTable>
    </div>

    <!-- Edit User Modal -->
    <div bsModal #editUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true">
        <div *ngIf="editForm" class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal(editUserModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{'fe.adminUsers.editing' | translate}} <b>{{selectedUser?.username}}</b></h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-5 border_separator-box-right">
                                <div class="form-group">
                                    <validation-messages [errors]="formErrors" inputName="addUsername">
                                        <label for="username">{{'fe.generalComponentContent.username' | translate}}</label>
                                        <control-messages [control]="editForm.controls.username"></control-messages>
                                        <input maxlength="255" type="text" formControlName="username" class="form-control" id="username" [placeholder]="'fe.generalComponentContent.username' | translate">
                                    </validation-messages>
                                </div>
                                <div class="form-group">
                                    <label for="password">{{'fe.generalComponentContent.password' | translate}}</label>
                                    <div class="input-group">
                                        <input maxlength="255" [type]="editPassword" formControlName="password" class="form-control" id="password" [placeholder]="'fe.generalComponentContent.password' | translate" autocomplete="off">
                                        <div class="input-group-addon cursor-pointer" (click)="toggleEditPassword()"><i class="glyphicon glyphicon-eye-open"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 border_separator-box-left overlay_border">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <validation-messages [errors]="formErrors" inputName="email">
                                            <label for="email">{{'fe.generalComponentContent.email' | translate}}</label>
                                            <control-messages [control]="editForm.controls.email"></control-messages>
                                            <input maxlength="255" type="email" formControlName="email" class="form-control" id="email" maxlength="60" [placeholder]="'fe.generalComponentContent.email' | translate">
                                        </validation-messages>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="defaultLanguage">{{'fe.adminUsers.fieldDefaultLanguage' | translate}}</label>
                                        <select formControlName="defaultLanguage" class="form-control" id="defaultLanguage">
                                        <option *ngFor="let language of languages" [value]="language.languageCode">{{ language.languageText }}</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <validation-messages [errors]="formErrors" inputName="firstName">
                                            <label for="firstName">{{'fe.generalComponentContent.firstName' | translate}}</label>
                                            <control-messages [control]="editForm.controls.firstName"></control-messages>
                                            <input maxlength="255" type="text" formControlName="firstName" class="form-control" id="firstName" [placeholder]="'fe.generalComponentContent.firstName' | translate">
                                        </validation-messages>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <validation-messages [errors]="formErrors" inputName="lastName">
                                            <label for="lastName">{{'fe.generalComponentContent.lastName' | translate}}</label>
                                            <control-messages [control]="editForm.controls.lastName"></control-messages>
                                            <input maxlength="255" type="text" formControlName="lastName" class="form-control" id="lastName" [placeholder]="'fe.generalComponentContent.lastName' | translate">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <validation-messages [errors]="formErrors" inputName="securityNumber">
                                            <label for="securityNumber">{{'fe.generalComponentContent.securityNumber' | translate}}</label>
                                            <control-messages [control]="editForm.controls.securityNumber"></control-messages>
                                            <input maxlength="255" type="text" formControlName="securityNumber" class="form-control" id="securityNumber" [placeholder]="'fe.generalComponentContent.securityNumber' | translate">
                                        </validation-messages>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="enabled">{{'fe.adminUsers.fieldEnabled' | translate}}</label>
                                        <div class="checkbox">
                                            <p-checkbox formControlName="enabled" binary="true" [label]="'fe.adminUsers.enabled' | translate"></p-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <validation-messages [errors]="formErrors" inputName="date">
                                            <label for="faccountExpiryDate">{{ 'fe.adminUsers.fieldAccountExpiryDate' | translate }}</label>
                                            <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" (click)="clearFieldValue(editForm.controls.faccountExpiryDate)"></span>
                                            <p-calendar formControlName="faccountExpiryDate" [minDate]="today" showTime="showTime" dateFormat="yy-mm-dd" timeFormat="HH:mm:ss" yearNavigator="true" monthNavigator="true" [yearRange]="today.getFullYear()+':'+(today.getFullYear()+13)" [inputStyleClass]="'form-control'" [maxDate]="_appService.userProfile.accountExpiryDate" [readonlyInput]="true"></p-calendar>
                                        </validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="modal-hr_full">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="fpasswordTimestamp">{{'fe.adminUsers.fieldPasswordTimestamp' | translate}}</label>
                                    <input type="text" formControlName="fpasswordTimestamp" class="form-control" id="fpasswordTimestamp" [placeholder]="'fe.adminUsers.fieldPasswordTimestamp' | translate">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="flogCounter">{{'fe.adminUsers.fieldLogCount' | translate}}</label>
                                    <input type="text" formControlName="flogCounter" class="form-control" id="flogCounter" [placeholder]="'fe.adminUsers.fieldLogCount' | translate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="firstLogin">{{'fe.adminUsers.fieldFirstLogin' | translate}}</label>
                                <input type="text" formControlName="ffirstLogin" class="form-control" id="firstLogin" [placeholder]="'fe.adminUsers.fieldFirstLogin' | translate">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastLogin">{{'fe.adminUsers.fieldLastLogin' | translate}}</label>
                                <input type="text" formControlName="flastLogin" class="form-control" id="lastLogin" [placeholder]="'fe.adminUsers.fieldLastLogin' | translate">
                            </div>
                        </div>

                        <hr class="modal-hr_full">
                        <div class="form-group">
                            <label for="roles">{{'fe.adminUsers.fieldAuthorities' | translate}}</label>
                            <control-messages [control]="editForm.controls.selectedRoles"></control-messages>
                            <div class="row" *ngIf="!agencyLoaded">
                                <div *ngFor="let role of roles; let index = index" [ngClass]="{'col-md-6' : role.name!=_constants.getROLES().SUPER_ADMIN, 'no-padding-super-admin': _appService.isAuthorised(_constants.getROLES().SUPER_ADMIN) && index!=0, 'no-padding': !_appService.isAuthorised(_constants.getROLES().SUPER_ADMIN), 'container-fluid' : role.name?.includes('ADMIN') && !role.name?.includes('SUBADMIN')}">
                                    <div class="checkbox">
                                        <p-checkbox name="roles" [value]="role.name" [label]="role.name" formControlName="selectedRoles" (onChange)="validateRoleSelection(role.name, editForm.controls.selectedRoles, editForm.controls.selectedCompany, editForm)"></p-checkbox>
                                    </div>
                                    <hr class="form-hr" *ngIf="role.name?.includes('ADMIN')">
                                </div>
                            </div>
                        </div>
                        <hr class="modal-hr_full" *ngIf="_appService.isAuthorised(_constants.getROLES().SUPER_ADMIN)">
                        <div *ngIf="_appService.isAuthorised(_constants.getROLES().SUPER_ADMIN)" class="form-group position-relative">
                            <validation-messages [errors]="formErrors" inputName="company">
                                <label for="selectedCompanies">{{'fe.adminUsers.fieldCompanies' | translate}}</label>
                                <control-messages [control]="editForm.controls.selectedCompany"></control-messages>
                                <div class="row">
                                    <div *ngFor="let company of availableCompaniesChangeable" class="col-md-4">
                                        <div class="checkbox">
                                            <p-radioButton [value]="company.id" [label]="company.name + (company.code == 'defaultCompany' ? ' (' + ('fe.adminUsers.defaultCompany' | translate) + ')' : '')" name="editUserRadio" formControlName="selectedCompany"></p-radioButton>
                                        </div>
                                    </div>
                                </div>
                            </validation-messages>
                            <div class="content-overlay_box" *ngIf="isRoleSelected(_constants?.getROLES().SUPER_ADMIN, editForm)"></div>
                        </div>
                        <hr class="modal-hr_full">
                        <div class="form-group">
                            <label for="timeout">{{'fe.adminUsers.fieldTimeout' | translate}}</label>
                            <control-messages [control]="editForm.controls.timeout"></control-messages>
                            <input type="text" formControlName="timeout" class="form-control" id="timeout" [placeholder]="'fe.adminUsers.fieldTimeout' | translate" onlyNumber />
                            <p class="help-block">{{'fe.adminUsers.timeoutHelpMessage' | translate}}</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="hideModal(editUserModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                    <button type="button" class="btn btn-primary" (click)="updateUser(editForm, editUserModal)" [disabled]="!editForm.valid">{{'fe.generalComponentContent.save' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add User Modal -->
    <div bsModal #addUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addUserModal" aria-hidden="true">
        <div *ngIf="addForm" class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal(addUserModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{'fe.adminUsers.adding' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-5 border_separator-box-right">
                                <div class="form-group">
                                    <validation-messages [errors]="formErrors" inputName="addUsername">
                                        <label for="username">{{'fe.generalComponentContent.username' | translate}}</label>
                                        <control-messages [control]="addForm.controls.username"></control-messages>
                                        <input maxlength="255" type="text" formControlName="username" class="form-control" id="username" [placeholder]="'fe.generalComponentContent.username' | translate">
                                    </validation-messages>
                                </div>
                                <div class="form-group">
                                    <label for="password">{{'fe.generalComponentContent.password' | translate}}</label>
                                    <control-messages [control]="addForm.controls.password"></control-messages>
                                    <div class="input-group">
                                        <input maxlength="255" class="form-control" formControlName="password" [type]="password" (keyup)="checkPasswords(addForm.controls.password.value, addForm.controls.confirmPassword.value)" [placeholder]="'fe.generalComponentContent.password' | translate" autocomplete="off">
                                        <div class="input-group-addon cursor-pointer" (click)="togglePassword()"><i class="glyphicon glyphicon-eye-open"></i></div>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label for="confirmPassword">{{'fe.adminUsers.fieldConfirmPassword' | translate}}</label>
                                    <control-messages [control]="addForm.controls.confirmPassword"></control-messages>
                                    <input maxlength="255" class="form-control" formControlName="confirmPassword" [type]="password" (keyup)="checkPasswords(addForm.controls.password.value, addForm.controls.confirmPassword.value)" [placeholder]="'fe.adminUsers.fieldConfirmPassword' | translate">
                                </div>
                            </div>
                            <div class="col-md-7 border_separator-box-left overlay_border">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <validation-messages [errors]="formErrors" inputName="email">
                                            <label for="email">{{'fe.generalComponentContent.email' | translate}}</label>
                                            <control-messages [control]="addForm.controls.email"></control-messages>
                                            <input maxlength="255" type="email" formControlName="email" class="form-control" id="email" maxlength="60" [placeholder]="'fe.generalComponentContent.email' | translate">
                                        </validation-messages>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="defaultLanguage">{{'fe.adminUsers.fieldDefaultLanguage' | translate}}</label>
                                        <control-messages [control]="addForm.controls.defaultLanguage"></control-messages>
                                        <select formControlName="defaultLanguage" class="form-control" id="defaultLanguage">
                                            <option *ngFor="let language of languages" [value]="language.languageCode">{{ language.languageText }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <validation-messages [errors]="formErrors" inputName="firstName">
                                            <label for="firstName">{{'fe.generalComponentContent.firstName' | translate}}</label>
                                            <control-messages [control]="addForm.controls.firstName"></control-messages>
                                            <input maxlength="255" type="text" formControlName="firstName" class="form-control" id="firstName" [placeholder]="'fe.generalComponentContent.firstName' | translate">
                                        </validation-messages>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <validation-messages [errors]="formErrors" inputName="lastName">
                                            <label for="lastName">{{'fe.generalComponentContent.lastName' | translate}}</label>
                                            <control-messages [control]="addForm.controls.lastName"></control-messages>
                                            <input maxlength="255" type="text" formControlName="lastName" class="form-control" id="lastName" [placeholder]="'fe.generalComponentContent.lastName' | translate">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <validation-messages [errors]="formErrors" inputName="securityNumber">
                                            <label for="securityNumber">{{'fe.generalComponentContent.securityNumber' | translate}}</label>
                                            <control-messages [control]="addForm.controls.securityNumber"></control-messages>
                                            <input maxlength="255" type="text" formControlName="securityNumber" class="form-control" id="securityNumber" [placeholder]="'fe.generalComponentContent.securityNumber' | translate">
                                        </validation-messages>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="enabled">{{'fe.adminUsers.fieldEnabled' | translate}}</label>
                                        <div class="checkbox">
                                            <p-checkbox formControlName="enabled" binary="true" [label]="'fe.adminUsers.enabled' | translate"></p-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <validation-messages [errors]="formErrors" inputName="date">
                                            <label for="faccountExpiryDate">{{ 'fe.adminUsers.fieldAccountExpiryDate' | translate }}</label>
                                            <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" (click)="clearFieldValue(addForm.controls.faccountExpiryDate)"></span>
                                            <p-calendar formControlName="faccountExpiryDate" [minDate]="today" showTime="showTime" dateFormat="yy-mm-dd" timeFormat="HH:mm:ss" yearNavigator="true" monthNavigator="true" [yearRange]="today.getFullYear()+':'+(today.getFullYear()+13)" [inputStyleClass]="'form-control'" [maxDate]="_appService.userProfile.accountExpiryDate" [readonlyInput]="true"></p-calendar>
                                        </validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="modal-hr_full">
                        <div class="form-group">
                            <label for="roles">{{'fe.adminUsers.fieldAuthorities' | translate}}</label>
                            <control-messages [control]="addForm.controls.selectedRoles"></control-messages>
                            <div class="row" *ngIf="!agencyLoaded">
                                <div *ngFor="let role of roles; let index = index" [ngClass]="{'col-md-6' : role.name!=_constants.getROLES().SUPER_ADMIN, 'no-padding-super-admin': _appService.isAuthorised(_constants.getROLES().SUPER_ADMIN) && index!=0, 'no-padding': !_appService.isAuthorised(_constants.getROLES().SUPER_ADMIN), 'container-fluid' : role.name?.includes('ADMIN') && !role.name?.includes('SUBADMIN')}">
                                    <div class="checkbox">
                                        <p-checkbox name="roles" [value]="role.name" [label]="role.name" formControlName="selectedRoles" (onChange)="validateRoleSelection(role.name, addForm.controls.selectedRoles, addForm.controls.selectedCompany, addForm)"></p-checkbox>
                                    </div>
                                    <hr class="form-hr" *ngIf="role.name?.includes('ADMIN')">
                                </div>
                            </div>
                        </div>

                        <hr class="modal-hr_full" *ngIf="_appService.isAuthorised(_constants.getROLES().SUPER_ADMIN)">
                        <div *ngIf="_appService.isAuthorised(_constants.getROLES().SUPER_ADMIN)" class="form-group position-relative">
                            <validation-messages [errors]="formErrors" inputName="company">
                                <label for="selectedCompanies">{{'fe.adminUsers.fieldCompanies' | translate}}</label>
                                <control-messages [control]="addForm.controls.selectedCompany"></control-messages>
                                <div class="row">
                                    <div *ngFor="let company of availableCompaniesChangeable" class="col-md-4">
                                        <div class="checkbox">
                                            <p-radioButton [value]="company.id" [label]="company.name + (company.code == 'defaultCompany' ? ' (' + ('fe.adminUsers.defaultCompany' | translate) + ')' : '')" name="editUserRadio" formControlName="selectedCompany"></p-radioButton>
                                        </div>
                                    </div>
                                </div>
                            </validation-messages>
                            <div class="content-overlay_box" *ngIf="isRoleSelected(_constants?.getROLES().SUPER_ADMIN, addForm)"></div>
                        </div>
                        <div class="form-group">
                            <label for="timeout">{{'fe.adminUsers.fieldTimeout' | translate}}</label>
                            <control-messages [control]="addForm.controls.timeout"></control-messages>
                            <input type="text" formControlName="timeout" class="form-control" id="timeout" [placeholder]="'fe.adminUsers.fieldTimeout' | translate" onlyNumber="addForm.controls.timeout" />
                            <p class="help-block">{{'fe.adminUsers.timeoutHelpMessage' | translate}}</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="hideModal(addUserModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                    <button type="button" class="btn btn-primary" (click)="addUser(addForm, addUserModal)" [disabled]="!addForm.valid">{{'fe.generalComponentContent.save' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- View User Modal -->
    <div bsModal #viewUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewUserModal" aria-hidden="true">
        <div *ngIf="editForm" class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal(viewUserModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{'fe.adminUsers.viewing' | translate}} <b>{{selectedUser?.username}}</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>{{ 'fe.generalComponentContent.username' | translate }}</strong>
                                </div>
                                <div class="col-md-9">
                                    {{ editForm.controls.username.value }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>{{ 'fe.generalComponentContent.email' | translate }}</strong>
                                </div>
                                <div class="col-md-8">
                                    {{ editForm.controls.email.value }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>{{ 'fe.adminUsers.fieldDefaultLanguage' | translate }}</strong>
                                </div>
                                <div class="col-md-9">
                                    {{ editForm.controls.defaultLanguage.value }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>{{ 'fe.generalComponentContent.firstName' | translate }}</strong>
                                </div>
                                <div class="col-md-8">
                                    {{ editForm.controls.firstName.value }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>{{ 'fe.generalComponentContent.lastName' | translate }}</strong>
                                </div>
                                <div class="col-md-9">
                                    {{ editForm.controls.lastName.value }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>{{ 'fe.generalComponentContent.securityNumber' | translate }}</strong>
                                </div>
                                <div class="col-md-8">
                                    {{ editForm.controls.securityNumber.value }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>{{ 'fe.adminUsers.fieldEnabled' | translate }}</strong>
                                </div>
                                <div class="col-md-9">
                                    {{ editForm.controls.enabled.value }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>{{ 'fe.adminUsers.fieldTimeout' | translate }}</strong>
                                </div>
                                <div class="col-md-8">
                                    {{ editForm.controls.timeout.value }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>{{ 'fe.adminUsers.fieldLogCount' | translate }}</strong>
                                </div>
                                <div class="col-md-9">
                                    {{ editForm.controls.flogCounter.value }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="modal-hr_full">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>{{ 'fe.adminUsers.fieldAccountExpiryDate' | translate }}</strong>
                        </div>
                        <div class="col-md-8">
                            {{ editForm.controls.accountExpiryDate.value | date:'EEE MMM dd y H:mm:ss Z (z)' }}
                        </div>
                    </div>
                    <hr class="modal-hr_full">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>{{ 'fe.adminUsers.fieldPasswordTimestamp' | translate }}</strong>
                        </div>
                        <div class="col-md-8">
                            {{ editForm.controls.passwordTimestamp.value | date:'EEE MMM dd y H:mm:ss Z (z)' }}
                        </div>
                    </div>
                    <hr class="modal-hr_full">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>{{ 'fe.adminUsers.fieldFirstLogin' | translate }}</strong>
                        </div>
                        <div class="col-md-8">
                            {{ editForm.controls.firstLogin.value | date:'EEE MMM dd y H:mm:ss Z (z)' }}
                        </div>
                    </div>
                    <hr class="modal-hr_full">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>{{ 'fe.adminUsers.fieldLastLogin' | translate }}</strong>
                        </div>
                        <div class="col-md-8">
                            {{ editForm.controls.lastLogin.value | date:'EEE MMM dd y H:mm:ss Z (z)' }}
                        </div>
                    </div>
                    <hr class="modal-hr_full">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>{{ 'fe.adminUsers.fieldAuthorities' | translate }}</strong>
                        </div>
                        <div class="col-md-8">
                            {{ editForm.controls.selectedRoles.value }}
                        </div>
                    </div>
                    <hr class="modal-hr_full">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>{{ 'fe.adminUsers.fieldCompanies' | translate }}</strong>
                        </div>
                        <div class="col-md-8">
                            {{ editForm.controls.kjcCompanies.value?.name }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="hideModal(viewUserModal)">{{'fe.generalComponentContent.close' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>