<div id="cmp-style_management" class="app_content-container-cmp">
    <div *ngIf="componentAlert.show" class="alert_box">
        <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
            <span [innerHTML]="componentAlert.message"></span>
        </alert>
    </div>

    <h2 class="view-header">
        <div class="view-header-sub">
            {{'fe.styleManagement.mainHeader' | translate}}
        </div>
    </h2>

    <div class="container-fluid">
        <div class="row clearfix padding-bottom-10">
           <div class="col-md-3 pull-right text-right">
                <button class="btn btn-primary" (click)="showModal(editPinModal, 'editMapPin')">
                    {{ 'fe.styleManagement.editMapPin' | translate }}
                </button>
            </div>
        </div>
        <p-dataTable #dataTable [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" [value]="styles" [rows]="10" [paginator]="true" [rowsPerPageOptions]="pageSizes" [globalFilter]="globalFilter" reorderableColumns="true" class="table">
            <p-column field="numericIndexValue" [header]="'fe.styleManagement.numericIndexValue' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.numericIndexValue}}</div>
                </template>
            </p-column>
            <p-column field="indexValue" [header]="'fe.styleManagement.indexValue' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.indexValue}}</div>
                </template>
            </p-column>
            <p-column field="riskIndexMin" [header]="'fe.styleManagement.riskIndexMin' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.riskIndexMin}}</div>
                </template>
            </p-column>
            <p-column field="riskIndexMax" [header]="'fe.styleManagement.riskIndexMax' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.riskIndexMax}}</div>
                </template>
            </p-column>
            <p-column field="strokeWidth" [header]="'fe.styleManagement.strokeWidth' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.strokeWidth}}</div>
                </template>
            </p-column>
            <p-column field="description" [header]="'fe.styleManagement.description' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.description}}</div>
                </template>
            </p-column>
            <p-column field="fill" [header]="'fe.styleManagement.fill' | translate" sortable="true">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center" [ngStyle]="{'background-color': object.fill, 'height': '34px'}"></div>
                </template>
            </p-column>
            <p-column field="stroke" [header]="'fe.styleManagement.stroke' | translate" sortable="true">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center" [ngStyle]="{'background-color': object.stroke, 'height': '34px'}"></div>
                </template>
            </p-column>
            <p-column field="operations" [style]="{'width': '112px'}">
                <template pTemplate="header">
                    <button class="btn btn-success" (click)="showModal(styleModal, 'addStyle')">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </template>
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">
                        <button class="btn btn-warning" (click)="showModal(styleModal, 'editStyle', object)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="showModal(deleteStyleModal, 'deleteStyle', object)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </template>
            </p-column>
        </p-dataTable>
    </div>

    <!-- Add/Edit Style Modal -->
    <div bsModal #editPinModal="bs-modal" [config]="{ignoreBackdropClick: true}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editPinModal" aria-hidden="true">
        <div *ngIf="styleForm" class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(editPinModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title"> {{ 'fe.styleManagement.editMapPin' | translate }} </h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label>{{ 'fe.styleManagement.changeMapPinImage' | translate }}</label>
                    </div>
                    <div class="map_pin-box">
                        <div class="picture-btn">
                            <label for="map_pin_image"><span class="glyphicon glyphicon-pencil"></span></label>
                            <input type="file" id="map_pin_image" (change)="onMapPinImageChange($event)">
                        </div>
                        <img *ngIf="mapPinIcon" [src]="'data:image/jpg;base64,' + mapPinIcon" class="map_pin-image">
                    </div>
                    <div class="help-block">{{ 'fe.styleManagement.pinImageNote' | translate }}</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="!mapPinIconBlob" (click)="changeMapPinImage(mapPinIconBlob, editPinModal)">{{'fe.generalComponentContent.save' | translate}}</button>
                    <button type="button" class="btn btn-default" (click)="hideModal(editPinModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add/Edit Style Modal -->
    <div bsModal #styleModal="bs-modal" [config]="{ignoreBackdropClick: true}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="styleModal" aria-hidden="true">
        <div *ngIf="styleForm" class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <form [formGroup]="styleForm" (ngSubmit)="styleFormSubmit(styleModal)" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="hideModal(styleModal)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                        <h4 class="modal-title">{{ (styleForm.controls.id.value?'fe.styleManagement.edit':'fe.styleManagement.add') | translate}}</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="form-group col-md-6">
                            <label for="fill">{{ 'fe.styleManagement.fill' | translate }}</label>
                            <span *ngIf="styleFormCopy.fill==''" class="label label-danger pull-right">Required</span>
                            <div class="input-group">
                                <input class="form-control" name="fill" [(colorPicker)]="styleFormCopy.fill" [(cpToggle)]="toggles.fill" [style.background]="styleFormCopy.fill" [cpOutputFormat]="'rgba'" readonly/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="toggleColorPicker('fill')"><span class="glyphicon glyphicon-edit"></span></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="stroke">{{ 'fe.styleManagement.stroke' | translate }}</label>
                            <span *ngIf="styleFormCopy.stroke==''" class="label label-danger pull-right">Required</span>
                            <div class="input-group">
                                <input class="form-control" name="stroke" [(colorPicker)]="styleFormCopy.stroke" [(cpToggle)]="toggles.stroke" [style.background]="styleFormCopy.stroke" [cpOutputFormat]="'rgba'" readonly/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="toggleColorPicker('stroke')"><span class="glyphicon glyphicon-edit"></span></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="strokeWidth">{{ 'fe.styleManagement.strokeWidth' | translate }}</label>
                            <control-messages [control]="styleForm.controls.strokeWidth"></control-messages>
                            <input type="text" class="form-control" formControlName="strokeWidth" name="strokeWidth" placeholder="{{ 'fe.styleManagement.strokeWidth' | translate }}" onlyNumber />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="description">{{ 'fe.styleManagement.description' | translate }}</label>
                            <control-messages [control]="styleForm.controls.description"></control-messages>
                            <textarea class="form-control" formControlName="description" name="description" placeholder="{{ 'fe.styleManagement.description' | translate }}"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                        <tabset #tabs>
                            <tab heading="{{ 'fe.styleManagement.riskTabHeader' | translate }}">
                                <div class="form-group col-md-12 margin-top-10">
                                    <label for="isRiskUndefined">{{ 'fe.styleManagement.isRiskUndefined' | translate }}</label>
                                    <control-messages [control]="styleForm.controls.isRiskUndefined"></control-messages>
                                    <p-checkbox (onChange)="isEnabled($event, 'isRiskUndefined')" styleClass="form-control" formControlName="isRiskUndefined" name="isRiskUndefined" binary="true"></p-checkbox>
                                </div>
                                <div class="form-group col-md-12">
                                    <validation-messages [errors]="formErrors" inputName="indexValue">
                                        <label for="indexValue">{{ 'fe.styleManagement.indexValue' | translate }}</label>
                                        <control-messages [control]="styleForm.controls.indexValue"></control-messages>
                                        <input (keydown)="isEnabled($event, 'indexValue')" class="form-control" formControlName="indexValue" name="indexValue" placeholder="{{ 'fe.styleManagement.indexValue' | translate }}" />
                                    </validation-messages>
                                </div>
                                <div class="form-group col-md-12">
                                    <validation-messages [errors]="formErrors" inputName="numericIndexValue">
                                        <label for="numericIndexValue">{{ 'fe.styleManagement.numericIndexValue' | translate }}</label>
                                        <control-messages [control]="styleForm.controls.numericIndexValue"></control-messages>
                                        <input (keydown)="isEnabled($event, 'numericIndexValue')" class="form-control" formControlName="numericIndexValue" name="numericIndexValue" placeholder="{{ 'fe.styleManagement.numericIndexValue' | translate }}" onlyDecimal />
                                    </validation-messages>
                                </div>
                            </tab>
                            <tab heading="{{ 'fe.styleManagement.forecastTabHeader' | translate }}">
                                <div class="form-group col-md-12 margin-top-10">
                                    <label for="isForecastUndefined">{{ 'fe.styleManagement.isForecastUndefined' | translate }}</label>
                                    <control-messages [control]="styleForm.controls.isForecastUndefined"></control-messages>
                                    <p-checkbox (onChange)="isEnabled($event, 'isForecastUndefined')" styleClass="form-control" formControlName="isForecastUndefined" name="isForecastUndefined" binary="true"></p-checkbox>
                                </div>
                                <div class="form-group col-md-12">
                                    <validation-messages [errors]="formErrors" inputName="minAndMax">
                                        <label for="minAndMax">{{ 'fe.styleManagement.minAndMax' | translate }} {{ styleForm.controls.minAndMax.value[0] }} - {{ styleForm.controls.minAndMax.value[1] }}</label>
                                        <control-messages [control]="styleForm.controls.minAndMax"></control-messages>
                                        <p-slider (onChange)="isEnabled($event, 'minAndMax')" (mousedown)="returnFalse($event)" formControlName="minAndMax" name="minAndMax" [min]="0" [max]="11" [range]="true" [step]="1"></p-slider>
                                        <p class="row">
                                            <span class="col-md-5 col-xs-4 col-lg-5 col-sm-5 text-left">
                                                0
                                            </span>
                                            <span class="col-md-2 col-xs-4 col-lg-2 col-sm-2 text-center">
                                                5-6
                                            </span>
                                            <span class="col-md-5 col-xs-4 col-lg-5 col-sm-5 text-right">
                                                11
                                            </span>
                                        </p>
                                    </validation-messages>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="hideModal(styleModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                        <button type="submit" class="btn btn-success" [disabled]="styleForm.invalid">{{'fe.generalComponentContent.save' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Style Modal -->
    <div bsModal #deleteStyleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteStyleModal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(deleteStyleModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">{{ 'fe.generalComponentContent.remove' | translate}}</h4>
                </div>
                <div class="modal-body clearfix">
                    <p>Are you sure you want to remove this item?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="hideModal(deleteStyleModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                    <button type="button" class="btn btn-success" (click)="removeStyle(deleteStyleModal)">{{'fe.generalComponentContent.remove' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>