#cmp-style_management .padding-bottom-0 {
  padding-bottom: 0px; }
#cmp-style_management .padding-bottom-5 {
  padding-bottom: 5px; }
#cmp-style_management .padding-bottom-10 {
  padding-bottom: 10px; }
#cmp-style_management .padding-bottom-15 {
  padding-bottom: 15px; }
#cmp-style_management .padding-bottom-20 {
  padding-bottom: 20px; }
#cmp-style_management .padding-bottom-25 {
  padding-bottom: 25px; }
#cmp-style_management .padding-bottom-30 {
  padding-bottom: 30px; }
#cmp-style_management .padding-bottom-35 {
  padding-bottom: 35px; }
#cmp-style_management .padding-bottom-40 {
  padding-bottom: 40px; }
#cmp-style_management .padding-bottom-45 {
  padding-bottom: 45px; }
#cmp-style_management .padding-bottom-50 {
  padding-bottom: 50px; }
#cmp-style_management .padding-bottom-55 {
  padding-bottom: 55px; }
#cmp-style_management .padding-bottom-60 {
  padding-bottom: 60px; }
#cmp-style_management .padding-bottom-65 {
  padding-bottom: 65px; }
#cmp-style_management .padding-bottom-70 {
  padding-bottom: 70px; }
#cmp-style_management .padding-bottom-75 {
  padding-bottom: 75px; }
#cmp-style_management .padding-bottom-80 {
  padding-bottom: 80px; }
#cmp-style_management .padding-bottom-85 {
  padding-bottom: 85px; }
#cmp-style_management .padding-bottom-90 {
  padding-bottom: 90px; }
#cmp-style_management .padding-bottom-95 {
  padding-bottom: 95px; }
#cmp-style_management .padding-bottom-100 {
  padding-bottom: 100px; }
#cmp-style_management .padding-top-0 {
  padding-top: 0px; }
#cmp-style_management .padding-top-5 {
  padding-top: 5px; }
#cmp-style_management .padding-top-10 {
  padding-top: 10px; }
#cmp-style_management .padding-top-15 {
  padding-top: 15px; }
#cmp-style_management .padding-top-20 {
  padding-top: 20px; }
#cmp-style_management .padding-top-25 {
  padding-top: 25px; }
#cmp-style_management .padding-top-30 {
  padding-top: 30px; }
#cmp-style_management .padding-top-35 {
  padding-top: 35px; }
#cmp-style_management .padding-top-40 {
  padding-top: 40px; }
#cmp-style_management .padding-top-45 {
  padding-top: 45px; }
#cmp-style_management .padding-top-50 {
  padding-top: 50px; }
#cmp-style_management .padding-top-55 {
  padding-top: 55px; }
#cmp-style_management .padding-top-60 {
  padding-top: 60px; }
#cmp-style_management .padding-top-65 {
  padding-top: 65px; }
#cmp-style_management .padding-top-70 {
  padding-top: 70px; }
#cmp-style_management .padding-top-75 {
  padding-top: 75px; }
#cmp-style_management .padding-top-80 {
  padding-top: 80px; }
#cmp-style_management .padding-top-85 {
  padding-top: 85px; }
#cmp-style_management .padding-top-90 {
  padding-top: 90px; }
#cmp-style_management .padding-top-95 {
  padding-top: 95px; }
#cmp-style_management .padding-top-100 {
  padding-top: 100px; }
#cmp-style_management .margin-bottom-0 {
  margin-bottom: 0px; }
#cmp-style_management .margin-bottom-5 {
  margin-bottom: 5px; }
#cmp-style_management .margin-bottom-10 {
  margin-bottom: 10px; }
#cmp-style_management .margin-bottom-15 {
  margin-bottom: 15px; }
#cmp-style_management .margin-bottom-20 {
  margin-bottom: 20px; }
#cmp-style_management .margin-bottom-25 {
  margin-bottom: 25px; }
#cmp-style_management .margin-bottom-30 {
  margin-bottom: 30px; }
#cmp-style_management .margin-bottom-35 {
  margin-bottom: 35px; }
#cmp-style_management .margin-bottom-40 {
  margin-bottom: 40px; }
#cmp-style_management .margin-bottom-45 {
  margin-bottom: 45px; }
#cmp-style_management .margin-bottom-50 {
  margin-bottom: 50px; }
#cmp-style_management .margin-bottom-55 {
  margin-bottom: 55px; }
#cmp-style_management .margin-bottom-60 {
  margin-bottom: 60px; }
#cmp-style_management .margin-bottom-65 {
  margin-bottom: 65px; }
#cmp-style_management .margin-bottom-70 {
  margin-bottom: 70px; }
#cmp-style_management .margin-bottom-75 {
  margin-bottom: 75px; }
#cmp-style_management .margin-bottom-80 {
  margin-bottom: 80px; }
#cmp-style_management .margin-bottom-85 {
  margin-bottom: 85px; }
#cmp-style_management .margin-bottom-90 {
  margin-bottom: 90px; }
#cmp-style_management .margin-bottom-95 {
  margin-bottom: 95px; }
#cmp-style_management .margin-bottom-100 {
  margin-bottom: 100px; }
#cmp-style_management .margin-top-0 {
  margin-top: 0px; }
#cmp-style_management .margin-top-5 {
  margin-top: 5px; }
#cmp-style_management .margin-top-10 {
  margin-top: 10px; }
#cmp-style_management .margin-top-15 {
  margin-top: 15px; }
#cmp-style_management .margin-top-20 {
  margin-top: 20px; }
#cmp-style_management .margin-top-25 {
  margin-top: 25px; }
#cmp-style_management .margin-top-30 {
  margin-top: 30px; }
#cmp-style_management .margin-top-35 {
  margin-top: 35px; }
#cmp-style_management .margin-top-40 {
  margin-top: 40px; }
#cmp-style_management .margin-top-45 {
  margin-top: 45px; }
#cmp-style_management .margin-top-50 {
  margin-top: 50px; }
#cmp-style_management .margin-top-55 {
  margin-top: 55px; }
#cmp-style_management .margin-top-60 {
  margin-top: 60px; }
#cmp-style_management .margin-top-65 {
  margin-top: 65px; }
#cmp-style_management .margin-top-70 {
  margin-top: 70px; }
#cmp-style_management .margin-top-75 {
  margin-top: 75px; }
#cmp-style_management .margin-top-80 {
  margin-top: 80px; }
#cmp-style_management .margin-top-85 {
  margin-top: 85px; }
#cmp-style_management .margin-top-90 {
  margin-top: 90px; }
#cmp-style_management .margin-top-95 {
  margin-top: 95px; }
#cmp-style_management .margin-top-100 {
  margin-top: 100px; }
#cmp-style_management .margin-right-0 {
  margin-right: 0px; }
#cmp-style_management .margin-right-5 {
  margin-right: 5px; }
#cmp-style_management .margin-right-10 {
  margin-right: 10px; }
#cmp-style_management .margin-right-15 {
  margin-right: 15px; }
#cmp-style_management .margin-right-20 {
  margin-right: 20px; }
#cmp-style_management .margin-right-25 {
  margin-right: 25px; }
#cmp-style_management .margin-right-30 {
  margin-right: 30px; }
#cmp-style_management .margin-right-35 {
  margin-right: 35px; }
#cmp-style_management .margin-right-40 {
  margin-right: 40px; }
#cmp-style_management .margin-right-45 {
  margin-right: 45px; }
#cmp-style_management .margin-right-50 {
  margin-right: 50px; }
#cmp-style_management .margin-right-55 {
  margin-right: 55px; }
#cmp-style_management .margin-right-60 {
  margin-right: 60px; }
#cmp-style_management .margin-right-65 {
  margin-right: 65px; }
#cmp-style_management .margin-right-70 {
  margin-right: 70px; }
#cmp-style_management .margin-right-75 {
  margin-right: 75px; }
#cmp-style_management .margin-right-80 {
  margin-right: 80px; }
#cmp-style_management .margin-right-85 {
  margin-right: 85px; }
#cmp-style_management .margin-right-90 {
  margin-right: 90px; }
#cmp-style_management .margin-right-95 {
  margin-right: 95px; }
#cmp-style_management .margin-right-100 {
  margin-right: 100px; }
#cmp-style_management .margin-left-0 {
  margin-left: 0px; }
#cmp-style_management .margin-left-5 {
  margin-left: 5px; }
#cmp-style_management .margin-left-10 {
  margin-left: 10px; }
#cmp-style_management .margin-left-15 {
  margin-left: 15px; }
#cmp-style_management .margin-left-20 {
  margin-left: 20px; }
#cmp-style_management .margin-left-25 {
  margin-left: 25px; }
#cmp-style_management .margin-left-30 {
  margin-left: 30px; }
#cmp-style_management .margin-left-35 {
  margin-left: 35px; }
#cmp-style_management .margin-left-40 {
  margin-left: 40px; }
#cmp-style_management .margin-left-45 {
  margin-left: 45px; }
#cmp-style_management .margin-left-50 {
  margin-left: 50px; }
#cmp-style_management .margin-left-55 {
  margin-left: 55px; }
#cmp-style_management .margin-left-60 {
  margin-left: 60px; }
#cmp-style_management .margin-left-65 {
  margin-left: 65px; }
#cmp-style_management .margin-left-70 {
  margin-left: 70px; }
#cmp-style_management .margin-left-75 {
  margin-left: 75px; }
#cmp-style_management .margin-left-80 {
  margin-left: 80px; }
#cmp-style_management .margin-left-85 {
  margin-left: 85px; }
#cmp-style_management .margin-left-90 {
  margin-left: 90px; }
#cmp-style_management .margin-left-95 {
  margin-left: 95px; }
#cmp-style_management .margin-left-100 {
  margin-left: 100px; }
#cmp-style_management .top-0 {
  top: 0px; }
#cmp-style_management .top-5 {
  top: 5px; }
#cmp-style_management .top-10 {
  top: 10px; }
#cmp-style_management .top-15 {
  top: 15px; }
#cmp-style_management .top-20 {
  top: 20px; }
#cmp-style_management .top-25 {
  top: 25px; }
#cmp-style_management .top-30 {
  top: 30px; }
#cmp-style_management .top-35 {
  top: 35px; }
#cmp-style_management .top-40 {
  top: 40px; }
#cmp-style_management .top-45 {
  top: 45px; }
#cmp-style_management .top-50 {
  top: 50px; }
#cmp-style_management .top-55 {
  top: 55px; }
#cmp-style_management .top-60 {
  top: 60px; }
#cmp-style_management .top-65 {
  top: 65px; }
#cmp-style_management .top-70 {
  top: 70px; }
#cmp-style_management .top-75 {
  top: 75px; }
#cmp-style_management .top-80 {
  top: 80px; }
#cmp-style_management .top-85 {
  top: 85px; }
#cmp-style_management .top-90 {
  top: 90px; }
#cmp-style_management .top-95 {
  top: 95px; }
#cmp-style_management .top-100 {
  top: 100px; }
#cmp-style_management .middle-point {
  margin: 0 auto; }
#cmp-style_management h3 {
  margin: 15px 0; }
#cmp-style_management .color-picker .type-policy {
  display: none; }
#cmp-style_management .map_pin-icon input {
  visibility: hidden; }
#cmp-style_management .map_pin-box {
  margin-bottom: 23px;
  position: relative;
  top: 9px; }
  #cmp-style_management .map_pin-box .picture-btn {
    bottom: -9px;
    left: -4px;
    position: absolute;
    transform: scale(0.7);
    z-index: 2; }
    #cmp-style_management .map_pin-box .picture-btn input {
      position: absolute;
      top: 1px;
      visibility: hidden; }
    #cmp-style_management .map_pin-box .picture-btn label {
      background: rgba(0, 0, 0, 0.4);
      color: white;
      cursor: pointer;
      font-size: 19px;
      padding: 7px 8px 3px;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.74); }
#cmp-style_management .map_pin-image {
  border: 1px solid #aaa;
  padding: 9px;
  width: 87px; }

/*# sourceMappingURL=kjgri.style.cmp.css.map */
