#cmp-company_management {
    // .ui-datatable .ui-datatable-data {
    //     > tr > td {
    //         padding: 0;
    //     }
        
    //     tr:hover {
    //         background-color: rgb(234, 234, 234);
    //         cursor: pointer;
    //     }
    // }
    
    .company_list-item-box {
        cursor: pointer;
        padding: .75em;

        &.selected_company { 
            background: #337AB7;
            color: rgb(255, 255, 255);
        }
    }

    .company_panel {
        border-left: 1px solid rgb(234, 234, 234);
        height: 100%;
        
        .default_company {
            font-size: 13px;
            position: relative;
            top: -3px;
        }
    }

    .checkbox {
        margin-bottom: 0;
        margin-top: 0;
    }

    .edit_default_style-btn {
        margin-right: 16px;
    }

    .tab-content {
        padding-top: 8px;
    }

    .tab_box {
        border: 1px solid rgb(183, 183, 183);
        padding: 7px;
    }

    .size_exceded {
        color: #D9534F;
    }

    .file_input-picture {
        .picture-wrapper {
            height: 204px;
            margin-bottom: 7px;
            position: relative;

            .picture-box {
                background: url() no-repeat left center;
                background-size: contain;
                height: 204px;
                position: relative;
                z-index: 1;
            }

            .picture-loading {
                left: 11px;
                position: absolute;
                top: 61px;
                transform: scale(1);
                width: 90px;
                z-index: 0;
            }
        }

        .help-block {
            margin-top: 49px;
        }

        .picture-btn {
            bottom: -42px;
            left: 0;
            position: absolute;
            z-index: 2;

            label {
                background: rgba(0, 0, 0, 0.4);
                color: rgb(255, 255, 255);
                cursor: pointer;
                font-size: 19px;
                padding: 7px 8px 3px;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.74);
            }

            input {
                position: absolute;
                top: 1px;
                visibility: hidden;
            }
        }
    }
}