<div id="cmp-login" class="app_content-container-cmp height-100percent">
	<div id="login-wrapper">
		<div class="margin-bottom-20">
			<img class="img-responsive center-block" [src]="_appService.applicationData.serviceProviderLogoUrl">
		</div>
		<h3 class="text-center login-header">{{'fe.login.signIn' | translate}}</h3>
		<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
			<div class="form-group">
				<label>{{ 'fe.generalComponentContent.username' | translate }}</label>
				<span class="label label-danger pull-right" *ngIf="!loginForm.controls.username && formClicked">{{'fe.generalComponentContent.required' | translate}}</span>
				<input type="text" class="form-control" name="username" placeholder="{{'fe.generalComponentContent.username' | translate}}" formControlName="username" autofocus>
			</div>
			<div class="form-group">
				<label>{{ 'fe.generalComponentContent.password' | translate }}</label>
				<span class="label label-danger pull-right" *ngIf="!loginForm.controls.password && formClicked">{{'fe.generalComponentContent.required' | translate}}</span>
				<input type="password" class="form-control" name="password" placeholder="{{'fe.generalComponentContent.password' | translate}}" formControlName="password" />
				<div class="text-right">
					<a routerLink="/password_change" *ngIf="!loginSuccessful">{{'fe.login.forgotPassword' | translate}}</a>
				</div>
			</div>
			<div *ngIf="captchaImage" class="form-group">
				<validation-messages [errors]="registrationFormErrors" inputName="captcha">
					<div *ngIf="captchaImage" class="text-center">
						<img class="img-captcha" [src]="'data:image/jpeg;base64,' + captchaImage" />
					</div>
					<span class="label label-danger pull-right" *ngIf="!loginForm.controls.captcha && formClicked">{{'fe.generalComponentContent.required' | translate}}</span>
					<label [attr.for]="captcha">{{'fe.login.enterText' | translate}}:</label>
					<div class="input-group">
						<input class="form-control" formControlName="captcha" type="text" placeholder="{{'fe.registration.captcha' | translate}}">
						<div class="input-group-addon cursor-pointer" (click)="getCaptcha()"><i class="glyphicon glyphicon-refresh"></i></div>
					</div>
				</validation-messages>
			</div>
			<div class="form-group text-center">
				<input type="submit" class="btn btn-primary" [disabled]="loginSuccessful" value="{{'fe.login.signIn' | translate}}">
			</div>
			<div class="form-group text-center" *ngIf="!loginSuccessful && _appService.frontendGenerics.signUp">
				<a routerLink="/registration">{{'fe.login.signUp' | translate}}</a>
			</div>
			<div class="alert alert-danger" role="alert" *ngIf="!loginSuccessful && submitted">
				{{'fe.login.loginFailed' | translate}}
			</div>
			<div class="alert alert-danger break-word" role="alert" *ngIf="captchaError">
				{{ captchaError | translate }}
			</div>
			<!--<div class="form-group" *ngIf="loginSuccessful && companiesMap.length > 1">
				<h4>{{'fe.login.companyStyle' | translate}}</h4>
				<select class="form-control" [(ngModel)]="selectedCompany" [ngModelOptions]="{standalone: true}">
					<option [value]="null">{{'fe.login.selectCompany' | translate}}</option>
					<option *ngFor="let company of companiesMap" [value]="company.key">{{company.value}}</option>
				</select>
			</div>-->
			<!--<div class="form-group text-center" *ngIf="loginSuccessful && companiesMap.length > 1">
				<button type="button" class="btn btn-primary" (click)="selectCompany(selectedCompany, companyCssPrefix)" [disabled]="selectedCompany == ''">{{'fe.login.continue' | translate}}</button>
				<button type="button" class="btn btn-default" (click)="cancelCompany(form)">{{'fe.generalComponentContent.cancel' | translate}}</button>
			</div>-->
		</form>
	</div>
</div>