#cmp-login {
    #login-wrapper {
        margin: 220px auto 0;
        width: 290px;

        .login-header {
            margin-bottom: 32px;
        }

        .break-word {
            word-wrap: break-word;
        }

        // input.ng-valid[required].ng-dirty {
        //     border-right: 5px solid #42A948;
        // }

        // input.ng-invalid.ng-dirty {
        //     border-right: 5px solid #a94442;
        // }
    }
}
