<div id="cmp-company_panel" class="app_content-container-cmp">
    <div *ngIf="componentAlert.show" class="alert_box">
        <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
            <span [innerHTML]="componentAlert.message"></span>
        </alert>
    </div>
    <h2 class="view-header">
        <div class="view-header-sub">
            {{ 'fe.companyPanel.mainHeader' | translate }}
        </div>
    </h2>

    <div class="container-fluid row">
        <div class="col-md-3 border_separator-box-right">
            <h3>{{ 'fe.companyPanel.companyDetails' | translate }}</h3>
            <form [formGroup]="companyForm">
                <div class="form-group">
                    <validation-messages [errors]="formErrors" inputName="name">
                        <label for="company_name">{{'fe.companyPanel.companyName' | translate}}</label>
                        <control-messages [control]="companyForm.controls.name"></control-messages>
                        <input type="text" formControlName="name" class="form-control" id="company_name" [placeholder]="'fe.companyPanel.companyName' | translate">
                    </validation-messages>
                </div>
                <div class="form-group">
                    <validation-messages [errors]="formErrors" inputName="description">
                        <label for="description">{{'fe.generalComponentContent.description' | translate}}</label>
                        <control-messages [control]="companyForm.controls.description"></control-messages>
                        <input type="text" formControlName="description" class="form-control" id="description" [placeholder]="'fe.generalComponentContent.description' | translate">
                    </validation-messages>
                </div>
                <div class="form-group">
                    <validation-messages [errors]="formErrors" inputName="passwordTimeout">
                        <label for="password_timeout">{{'fe.companyPanel.passwordTimeout' | translate}}</label>
                        <input type="text" formControlName="passwordTimeout" class="form-control" id="password_timeout" [placeholder]="'fe.companyPanel.passwordTimeout' | translate">
                        <p class="help-block">{{'fe.generalComponentContent.passwordTimeoutHelp' | translate}}</p>
                    </validation-messages>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!companyForm.valid" (click)="updateCompany(companyForm.value)">{{'fe.generalComponentContent.save' | translate}}</button>
                </div>
            </form>
        </div>
        <div class="col-md-9 border_separator-box-left overlay_border">
            <h3>{{ 'fe.companyPanel.companyStyle' | translate }}</h3>
            <div class="clearfix">
                <tabset>
                    <tab [heading]="'fe.companyPanel.currentStyle' | translate" [active]="tabsActivity.currentStyle" (select)="selectTab('currentStyle', true)">
                        <div class="tab_box">
                            <div class="container-fluid double_row">
                                <div class="col-md-4 form-group" *ngFor="let rule of company.activeCss">
                                    <label>{{rule.name}}</label>
                                    <div class="input-group">
                                        <input class="form-control" [(colorPicker)]="cssBundle.activeCss[rule.key].value" [(cpToggle)]="cssBundle.activeCss[rule.key].toggle" [style.background]="cssBundle.activeCss[rule.key].value" [cpOutputFormat]="'rgba'" readonly/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" (click)="toggleColorPicker(cssBundle.activeCss[rule.key])"><span class="glyphicon glyphicon-edit"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" (click)="editCompanyStyle(cssBundle.activeCss)">{{'fe.generalComponentContent.save' | translate}}</button>
                        </div>
                    </tab>
                    <tab [heading]="'fe.companyPanel.previousStyle' | translate" [active]="tabsActivity.previousStyle" (select)="selectTab('previousStyle', true)">
                        <div class="tab_box" *ngIf="company.previousCss">
                            <div class="container-fluid double_row">
                                <div class="col-md-4 form-group" *ngFor="let rule of company.previousCss; let i = index;">
                                    <label>{{rule.name}}</label>
                                    <div class="input-group">
                                        <input class="form-control" [style.background]="cssBundle.previousCss[rule.key].value" readonly/>
                                    </div>
                                </div>
                            </div>
                            <hr class="form-hr">
                            <div>
                                <label>{{'fe.companyPanel.resetCompanyStyleToPrevious' | translate}}</label>
                                <div>
                                    <button type="button" class="btn btn-warning" (click)="resetCompanyStyleToPrevious()">{{'fe.generalComponentContent.reset' | translate}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="help-block tab_box" *ngIf="!company.previousCss">
                            {{'fe.companyPanel.noPreviousCss' | translate}}
                        </div>
                    </tab>
                    <tab [heading]="'fe.companyPanel.defaultStyle' | translate" [active]="tabsActivity.defaultStyle" (select)="selectTab('defaultStyle', true)">
                        <div class="tab_box">
                            <div class="container-fluid double_row">
                                <div class="col-md-4 form-group" *ngFor="let rule of company.defaultCss; let i = index;">
                                    <label>{{rule.name}}</label>
                                    <div class="input-group">
                                        <input class="form-control" [style.background]="cssBundle.defaultCss[rule.key].value" readonly/>
                                    </div>
                                </div>
                            </div>
                            <hr class="form-hr">
                            <div>
                                <label>{{'fe.companyPanel.resetCompanyStyleToDefault' | translate}}</label>
                                <div>
                                    <button type="button" class="btn btn-warning" (click)="resetCompanyStyleToDefault()">{{'fe.generalComponentContent.reset' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>