<div id="addCategory">
  <h1 class="dialog-title">Add Category </h1>
  <mat-dialog-content>
    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
      <mat-form-field>
        <input matInput formControlName="name" type="text" placeholder="Category Name" autocomplete="off" [(ngModel)]="name">
      </mat-form-field>
      <mat-error *ngIf="categoryForm.get('name').touched && categoryForm.get('name').hasError('required')">
        Please enter category name!
      </mat-error>
      <mat-dialog-actions class="buttons">
        <button type="submit" mat-raised-button color="warn" [disabled]="categoryForm.invalid">Add category</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
