// Core variables and mixins
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
$white: #fff;

.box-active {
    color: $gray-lighter;
    background-color: $brand-primary;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

#cmp-history {
    @mixin mod($n, $max, $attrs...) {
        @each $attr in $attrs {
            $i: 0;
            @while $i <= $max {
                .#{$attr}-#{$i} {
                    #{$attr}: #{$i}px;
                    @content;
                }
                .#{$attr}-#{$i} {
                    @extend #{$attr}-#{$i} !optional
                }
                $i: $i+$n;
            }
        }
    }

    @include mod(5, 100, padding-bottom, padding-top, margin-bottom, margin-top, padding-left);
    
    .ui-cell-data {
        display: table;
        width: 100%;
    }
    .ui-datatable .ui-datatable-data > tr > td {
        padding: 0 !important;
    }
    .box {
        border: 1px solid $gray-lighter;
        border-radius: 2px;
        margin-bottom: 10px;
        margin-top: 10px;

        &:hover {
            @extend .box-active;
        }

        & > .inner-box {
            padding: 15px;
        }
    }
    .risk_index-style_legend {
        padding: 7px 8px 7px;

        .item {
            border-right: 1px solid #aaa;
            display: inline-block;
            font-size: 15px;
            margin: 0 3px 0 12px;
            padding-bottom: 3px;
            padding-right: 18px;

            & > .range {
                display: inline-block;
            }

            & > .color_box {
                height: 21px;
                margin-left: 5px;
                position: relative;
                display: inline-block;
                top: 5px;
                width: 36px;
            }
        }
    }
}