.box-active, #cmp-history .box:hover {
  color: #eeeeee;
  background-color: #337ab7;
  cursor: pointer; }

textarea {
  resize: vertical; }

#cmp-history .padding-bottom-0 {
  padding-bottom: 0px; }
#cmp-history .padding-bottom-5 {
  padding-bottom: 5px; }
#cmp-history .padding-bottom-10 {
  padding-bottom: 10px; }
#cmp-history .padding-bottom-15 {
  padding-bottom: 15px; }
#cmp-history .padding-bottom-20 {
  padding-bottom: 20px; }
#cmp-history .padding-bottom-25 {
  padding-bottom: 25px; }
#cmp-history .padding-bottom-30 {
  padding-bottom: 30px; }
#cmp-history .padding-bottom-35 {
  padding-bottom: 35px; }
#cmp-history .padding-bottom-40 {
  padding-bottom: 40px; }
#cmp-history .padding-bottom-45 {
  padding-bottom: 45px; }
#cmp-history .padding-bottom-50 {
  padding-bottom: 50px; }
#cmp-history .padding-bottom-55 {
  padding-bottom: 55px; }
#cmp-history .padding-bottom-60 {
  padding-bottom: 60px; }
#cmp-history .padding-bottom-65 {
  padding-bottom: 65px; }
#cmp-history .padding-bottom-70 {
  padding-bottom: 70px; }
#cmp-history .padding-bottom-75 {
  padding-bottom: 75px; }
#cmp-history .padding-bottom-80 {
  padding-bottom: 80px; }
#cmp-history .padding-bottom-85 {
  padding-bottom: 85px; }
#cmp-history .padding-bottom-90 {
  padding-bottom: 90px; }
#cmp-history .padding-bottom-95 {
  padding-bottom: 95px; }
#cmp-history .padding-bottom-100 {
  padding-bottom: 100px; }
#cmp-history .padding-top-0 {
  padding-top: 0px; }
#cmp-history .padding-top-5 {
  padding-top: 5px; }
#cmp-history .padding-top-10 {
  padding-top: 10px; }
#cmp-history .padding-top-15 {
  padding-top: 15px; }
#cmp-history .padding-top-20 {
  padding-top: 20px; }
#cmp-history .padding-top-25 {
  padding-top: 25px; }
#cmp-history .padding-top-30 {
  padding-top: 30px; }
#cmp-history .padding-top-35 {
  padding-top: 35px; }
#cmp-history .padding-top-40 {
  padding-top: 40px; }
#cmp-history .padding-top-45 {
  padding-top: 45px; }
#cmp-history .padding-top-50 {
  padding-top: 50px; }
#cmp-history .padding-top-55 {
  padding-top: 55px; }
#cmp-history .padding-top-60 {
  padding-top: 60px; }
#cmp-history .padding-top-65 {
  padding-top: 65px; }
#cmp-history .padding-top-70 {
  padding-top: 70px; }
#cmp-history .padding-top-75 {
  padding-top: 75px; }
#cmp-history .padding-top-80 {
  padding-top: 80px; }
#cmp-history .padding-top-85 {
  padding-top: 85px; }
#cmp-history .padding-top-90 {
  padding-top: 90px; }
#cmp-history .padding-top-95 {
  padding-top: 95px; }
#cmp-history .padding-top-100 {
  padding-top: 100px; }
#cmp-history .margin-bottom-0 {
  margin-bottom: 0px; }
#cmp-history .margin-bottom-5 {
  margin-bottom: 5px; }
#cmp-history .margin-bottom-10 {
  margin-bottom: 10px; }
#cmp-history .margin-bottom-15 {
  margin-bottom: 15px; }
#cmp-history .margin-bottom-20 {
  margin-bottom: 20px; }
#cmp-history .margin-bottom-25 {
  margin-bottom: 25px; }
#cmp-history .margin-bottom-30 {
  margin-bottom: 30px; }
#cmp-history .margin-bottom-35 {
  margin-bottom: 35px; }
#cmp-history .margin-bottom-40 {
  margin-bottom: 40px; }
#cmp-history .margin-bottom-45 {
  margin-bottom: 45px; }
#cmp-history .margin-bottom-50 {
  margin-bottom: 50px; }
#cmp-history .margin-bottom-55 {
  margin-bottom: 55px; }
#cmp-history .margin-bottom-60 {
  margin-bottom: 60px; }
#cmp-history .margin-bottom-65 {
  margin-bottom: 65px; }
#cmp-history .margin-bottom-70 {
  margin-bottom: 70px; }
#cmp-history .margin-bottom-75 {
  margin-bottom: 75px; }
#cmp-history .margin-bottom-80 {
  margin-bottom: 80px; }
#cmp-history .margin-bottom-85 {
  margin-bottom: 85px; }
#cmp-history .margin-bottom-90 {
  margin-bottom: 90px; }
#cmp-history .margin-bottom-95 {
  margin-bottom: 95px; }
#cmp-history .margin-bottom-100 {
  margin-bottom: 100px; }
#cmp-history .margin-top-0 {
  margin-top: 0px; }
#cmp-history .margin-top-5 {
  margin-top: 5px; }
#cmp-history .margin-top-10 {
  margin-top: 10px; }
#cmp-history .margin-top-15 {
  margin-top: 15px; }
#cmp-history .margin-top-20 {
  margin-top: 20px; }
#cmp-history .margin-top-25 {
  margin-top: 25px; }
#cmp-history .margin-top-30 {
  margin-top: 30px; }
#cmp-history .margin-top-35 {
  margin-top: 35px; }
#cmp-history .margin-top-40 {
  margin-top: 40px; }
#cmp-history .margin-top-45 {
  margin-top: 45px; }
#cmp-history .margin-top-50 {
  margin-top: 50px; }
#cmp-history .margin-top-55 {
  margin-top: 55px; }
#cmp-history .margin-top-60 {
  margin-top: 60px; }
#cmp-history .margin-top-65 {
  margin-top: 65px; }
#cmp-history .margin-top-70 {
  margin-top: 70px; }
#cmp-history .margin-top-75 {
  margin-top: 75px; }
#cmp-history .margin-top-80 {
  margin-top: 80px; }
#cmp-history .margin-top-85 {
  margin-top: 85px; }
#cmp-history .margin-top-90 {
  margin-top: 90px; }
#cmp-history .margin-top-95 {
  margin-top: 95px; }
#cmp-history .margin-top-100 {
  margin-top: 100px; }
#cmp-history .padding-left-0 {
  padding-left: 0px; }
#cmp-history .padding-left-5 {
  padding-left: 5px; }
#cmp-history .padding-left-10 {
  padding-left: 10px; }
#cmp-history .padding-left-15 {
  padding-left: 15px; }
#cmp-history .padding-left-20 {
  padding-left: 20px; }
#cmp-history .padding-left-25 {
  padding-left: 25px; }
#cmp-history .padding-left-30 {
  padding-left: 30px; }
#cmp-history .padding-left-35 {
  padding-left: 35px; }
#cmp-history .padding-left-40 {
  padding-left: 40px; }
#cmp-history .padding-left-45 {
  padding-left: 45px; }
#cmp-history .padding-left-50 {
  padding-left: 50px; }
#cmp-history .padding-left-55 {
  padding-left: 55px; }
#cmp-history .padding-left-60 {
  padding-left: 60px; }
#cmp-history .padding-left-65 {
  padding-left: 65px; }
#cmp-history .padding-left-70 {
  padding-left: 70px; }
#cmp-history .padding-left-75 {
  padding-left: 75px; }
#cmp-history .padding-left-80 {
  padding-left: 80px; }
#cmp-history .padding-left-85 {
  padding-left: 85px; }
#cmp-history .padding-left-90 {
  padding-left: 90px; }
#cmp-history .padding-left-95 {
  padding-left: 95px; }
#cmp-history .padding-left-100 {
  padding-left: 100px; }
#cmp-history .ui-cell-data {
  display: table;
  width: 100%; }
#cmp-history .ui-datatable .ui-datatable-data > tr > td {
  padding: 0 !important; }
#cmp-history .box {
  border: 1px solid #eeeeee;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 10px; }
  #cmp-history .box > .inner-box {
    padding: 15px; }
#cmp-history .risk_index-style_legend {
  padding: 7px 8px 7px; }
  #cmp-history .risk_index-style_legend .item {
    border-right: 1px solid #aaa;
    display: inline-block;
    font-size: 15px;
    margin: 0 3px 0 12px;
    padding-bottom: 3px;
    padding-right: 18px; }
    #cmp-history .risk_index-style_legend .item > .range {
      display: inline-block; }
    #cmp-history .risk_index-style_legend .item > .color_box {
      height: 21px;
      margin-left: 5px;
      position: relative;
      display: inline-block;
      top: 5px;
      width: 36px; }

/*# sourceMappingURL=kjgri.history.cmp.css.map */
