<div id="cmp-history" class="app_content-container-cmp">
    <div *ngIf="componentAlert.show" class="alert_box">
        <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
            <span [innerHTML]="componentAlert.message"></span>
        </alert>
    </div>

    <h2 class="view-header">
        <div class="view-header-sub">
            {{'fe.history.mainHeader' | translate}}
        </div>
    </h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{{ 'fe.history.companyDetails' | translate }}</h3>
                    </div>
                    <div class="panel-body">
                        <div *ngIf="_appService.isAuthorised([_constants.getROLES().SUPER_ADMIN, _constants.getROLES().PLATINUM_A, _constants.getROLES().GOLD_A, _constants.getROLES().SILVER_A])" class="row">
                            <div class="col-md-12">
                                <lazyload-dropdown [label]="'fe.history.clientCompany' | translate" [(ngModel)]="selectedClientCompany" (onChange)="clientCompanyChanged()" [value]="clientCompanies" [placeholder]="'fe.generalComponentContent.select' | translate" [filterPlaceholder]="'fe.generalComponentContent.search' | translate" display="name"></lazyload-dropdown>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <lazyload-dropdown [label]="'fe.history.companyLocation' | translate" [(ngModel)]="selectedCompanyLocation" (onChange)="clientCompanyLocationChanged()" [value]="companyLocations" [placeholder]="'fe.generalComponentContent.select' | translate" [filterPlaceholder]="'fe.generalComponentContent.search' | translate" display="name"></lazyload-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{{ 'fe.history.typeOfHistory' | translate }}</h3>
                    </div>
                    <div class="panel-body">
                        <div *ngIf="selectedCompanyLocation" class="row">
                            <div class="col-md-3">
                                <div [ngClass]="{'box text-center center-block': true, 'box-active': selectedModule=='pdf'}">
                                    <div [ngClass]="{'inner-box': true}" (click)="getHistoryFor('pdf');toDate=null;fromDate=null;">
                                        <h4><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ 'fe.history.pdfHeader' | translate }}</h4>
                                        <p>{{ 'fe.history.planDesc' | translate }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div [ngClass]="{'box text-center center-block': true, 'box-active': selectedModule=='risk'}">
                                    <div [ngClass]="{'inner-box': true}" (click)="getHistoryFor('risk');toDate=null;fromDate=null;">
                                        <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ 'fe.history.riskIndexHeader' | translate }}</h4>
                                        <p>{{ 'fe.history.riskDesc' | translate }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div [ngClass]="{'box text-center center-block': true, 'box-active': selectedModule=='forecast'}">
                                    <div [ngClass]="{'inner-box': true}" (click)="getHistoryFor('forecast');toDate=null;fromDate=null;">
                                        <h4><i class="fa fa-sun-o" aria-hidden="true"></i> {{ 'fe.history.forecastHeader' | translate }}</h4>
                                        <p>{{ 'fe.history.forecastDesc' | translate }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div [ngClass]="{'box text-center center-block': true, 'box-active': selectedModule=='alert'}">
                                    <div [ngClass]="{'inner-box': true}" (click)="getHistoryFor('alert');toDate=null;fromDate=null;">
                                        <h4><i class="fa fa-bell-o" aria-hidden="true"></i> {{ 'fe.history.alertsHeader' | translate }}</h4>
                                        <p>{{ 'fe.history.alertsDesc' | translate }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="selectedModule && selectedModule!='forecast'">
                            <div class="col-md-12">
                                <h4>{{ 'fe.history.searchFilter' | translate }}</h4>
                                <form class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="name">{{ 'fe.generalComponentContent.fromDate' | translate }}</label>
                                            <p-calendar name="fromDate" [(ngModel)]="fromDate" [maxDate]="today" dateFormat="d M yy" readonlyInput="readonlyInput" [showIcon]="true" (onSelect)="onDateFromChange($event)"></p-calendar>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="name">{{ 'fe.generalComponentContent.toDate' | translate }}</label>
                                            <p-calendar name="toDate" [(ngModel)]="toDate" [maxDate]="today" dateFormat="d M yy" [minDate]="fromDate" readonlyInput="readonlyInput" [showIcon]="true"></p-calendar>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary" (click)="getHistoryFor(selectedModule, fromDate, toDate)">{{ 'fe.generalComponentContent.apply' | translate }}</button>
                                            <button type="button" class="btn btn-primary" (click)="getHistoryFor(selectedModule);toDate = null;fromDate = null;">{{ 'fe.generalComponentContent.clear' | translate }}</button>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label for="name">{{ 'fe.history.risks' | translate }}</label>
                                        <span *ngIf="!selectedSubrisk" class="label label-danger pull-right">Required</span>
                                        <p-accordion [multiple]="true">
                                            <p-accordionTab *ngFor="let risk of risks; let riskKey = index;" header="{{ risk?.name }} ({{ risk?.dicRiskSubtypeses.length }} types)">
                                                <p-radioButton *ngFor="let subrisk of risk.dicRiskSubtypeses" [value]="subrisk" label="{{ subrisk?.name }}" [(ngModel)]="selectedSubrisk" [ngModelOptions]="{standalone: true}" (ngModelChange)="onSubtypeSelected($event)"></p-radioButton>
                                                <div *ngIf="!(risk.dicRiskSubtypeses.length>0)">
                                                    <p class="text-muted">{{ 'fe.generalComponentContent.noResultsFound' | translate }}</p>
                                                </div>
                                            </p-accordionTab>
                                        </p-accordion>
                                    </div>-->
                                </form>
                            </div>
                        </div>
                        <div *ngIf="!selectedCompanyLocation" class="row">
                            <div class="col-md-12">
                                <p class="text-muted">{{ 'fe.history.noLocationSelected' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 *ngIf="selectedModule">{{ currentModule?.plural | translate }}</h3>
                        <h3 *ngIf="!selectedModule">{{ 'fe.history.historyOfHeader' | translate }}</h3>
                    </div>
                    <div class="panel-body">
                        <div *ngIf="selectedModule=='risk' || selectedModule=='forecast'" class="row padding-bottom-10">
                            <div class="col-md-12">
                                <button class="btn btn-primary text-left" (click)="showModal(chartModal, null, 'chart')">
                                    <h4><i class="fa fa-line-chart" aria-hidden="true"></i> {{ 'fe.history.displayChart' | translate }}</h4>
                                </button>
                                <!-- Risk index style legend-->
                            </div>
                        </div>
                        <div *ngIf="selectedCompanyLocation && selectedModule && histories" class="row">
                            <div class="col-md-12">
                                <p-dataTable #dataTable [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" [value]="histories" [rows]="10" [paginator]="true" [rowsPerPageOptions]="pageSizes" [globalFilter]="globalFilter" class="table" [responsive]="true">
                                    <p-column *ngFor="let column of currentModule.columns; let i = index" [field]="typeOf(column) === 'function'?(currentModule.moduleName=='risk' || currentModule.moduleName=='forecast'? column().column+'.value':column().column):column" [header]="(typeOf(column) === 'function'?column().header:'fe.history.'+column) | translate" [sortable]="true">
                                        <template let-object="rowData" pTemplate="body">
                                            <div [ngStyle]="styleClasses((object[typeOf(column) === 'function'?column().column:column]))" class="text-center">{{ (typeOf(column) === 'function') ? column(object).value : object[column].value }}</div>
                                        </template>
                                    </p-column>
                                    <p-column *ngIf="currentModule.moduleName!='risk' && currentModule.moduleName!='forecast'" field="operations" [style]="{'width': '64px'}">
                                        <template let-object="rowData" pTemplate="body">
                                            <div class="text-center">
                                                <button class="btn btn-primary" (click)="preview(object, previewModal)">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </button>
                                            </div>
                                        </template>
                                    </p-column>
                                </p-dataTable>
                            </div>
                        </div>
                        <div class="row" *ngIf="!selectedCompanyLocation || !selectedModule || (selectedModule && (selectedModule=='risk' || selectedModule=='forecast') && selectedSubrisk)">
                            <div class="col-md-12">
                                <p *ngIf="!selectedCompanyLocation && !selectedModule" class="text-muted">{{ 'fe.history.noLocationAndHistoryType' | translate }}</p>
                                <p *ngIf="!selectedCompanyLocation && selectedModule" class="text-muted">{{ 'fe.history.noLocationSelected' | translate }}</p>
                                <p *ngIf="selectedCompanyLocation && !selectedModule" class="text-muted">{{ 'fe.history.noHistoryType' | translate }}</p>
                                <p *ngIf="!((selectedModule=='risk' || selectedModule=='forecast') && selectedSubrisk)" class="text-muted">{{ 'fe.history.noRiskSubtypeSelected' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Preview Modal -->
    <div bsModal #previewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="previewModal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(previewModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">{{ 'fe.generalComponentContent.preview' | translate }}</h4>
                </div>
                <div class="modal-body clearfix" [innerHTML]="previewModel | safeHtml">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="hideModal(previewModal)">{{'fe.generalComponentContent.close' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Chart Modal -->
    <div bsModal #chartModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chartModal" aria-hidden="true">
        <div *ngIf="currentModule && (currentModule.moduleName=='risk' || currentModule.moduleName=='forecast')" class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(chartModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">{{ 'fe.history.chartTitle' | translate}}</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>{{ 'fe.history.subriskListTitle' | translate }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngFor="let column of currentModule.columns">
                            <div *ngIf="(typeOf(column) === 'function'?column().column:column) != 'dateKey'" class="col-md-3">
                                <p-checkbox [value]="typeOf(column) === 'function'?column().column:column" [label]="('fe.history.'+(typeOf(column) === 'function'?column().column:column)) | translate" name="chartColumns" [(ngModel)]="chartColumns" (onChange)="updateChartData($event)"></p-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>{{ 'fe.history.graphTitle' | translate }}</h4>
                        </div>
                    </div>
                    <div class="row" *ngIf="chartData">
                        <div class="col-md-12">
                            <p-chart #chart type="line" [data]="chartData"></p-chart>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="hideModal(chartModal)">{{'fe.generalComponentContent.close' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>