.nav-link{
    color:#000000;
    margin-left:25px;
}
.carousel-item img {
  min-width: 100%;
  height: 500px;
  max-height: 700px;
}
#whiteButton {
    margin-left:15px;
    background-color:white;
}

.row{
    margin-top:4%;
}
.container{
    width: 70%;
}