#cmp-report_management {
    .report-list {

        .delete-button {
            float: right;
            width: 30px;
            padding: 3px !important;
        }

        .edit-button {
            float: left;
            width: 30px;
            padding: 3px !important;
        }

        .status-button {
            width: 30px;
            padding: 3px !important;
        }

        .search-span {
            float: left;
        }

        .nopadding {
            padding-left: 0px !important;
            margin-right: 0px !important;
        }

        .item {
            cursor: pointer;
            font-size: 16px;

            &:nth-child(even) {
                background: #f9f9f9;
            }
            
            td {
                padding: 10px;
                vertical-align: middle;
            }
            
            &:hover {
                background: #f3f3f3;
            }

            .col-controls {
                padding: 0;
                text-align: center;
                width: 115px;
            }

            &.item-active {
                background: rgb(51, 122, 183) !important;
                color: rgb(255, 255, 255);
            }
        }
        
        table {
            margin-bottom: 0;            
        }

        li:first-child td {
            border: none;
        }

        .list-refresh_btn {
            color: rgb(51, 122, 183);
            cursor: pointer;
            font-size: 21px;
            left: 3px;
            top: 4px;

            &:hover {
                color: rgb(255, 255, 255)!important;
                text-shadow: 0 0 4px rgb(51, 122, 183), 0 0 4px rgb(51, 122, 183), 0 0 4px rgb(51, 122, 183), 0 0 4px rgb(51, 122, 183);
            }
        }
    }

    .form-box {
        background: rgb(248, 248, 248);
        margin-top: 22px;
        padding: 2px 0 10px;

        .form-header {
            border-bottom: 1px solid rgb(231, 231, 231);
            padding-bottom: 10px;

            .report_type {
                color: rgb(51, 122, 183);
                float: right;
            }
        }
    }

    .ui-growl {
        bottom: 0;
        top: auto;
    }

    .dropdown-input {
        position: absolute;
        right: 5px;
        top: 35px;
    }

    .position-relative {
        position: relative;
    }
    
    // .ui-dropdown-panel .ui-dropdown-filter-container {
    //     display: block;
    // }
}

    .disabled-day {
        background: rgb(217, 83, 79);
        opacity: 1 !important;
    }

    .enable-day {
        background: #5cb85c;    
    }