<div id="cmp-generics" class="app_content-container-cmp">
    <div *ngIf="componentAlert.show" class="alert_box">
        <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
            <span [innerHTML]="componentAlert.message"></span>
        </alert>
    </div>
    <h2 class="view-header">
        <div class="view-header-sub">
            {{'fe.generics.mainHeader' | translate}}
        </div>
    </h2>
    <div class="container-fluid filters filtersContainer">
        <div class="col-md-4">
            <span class="label_text">
                {{'fe.generalComponentContent.category' | translate}}
                <span class="pull-right">
                    <button type="button" class="btn btn-warning button_icon" [disabled]="!selectedCategory?.name" (click)="showModal(editCategoryModal, 'editCategory', selectedCategory['name'])">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-danger button_icon" [disabled]="!selectedCategory?.name" (click)="showModal(confirmationModal, 'deleteCategory', selectedCategory.name)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-success button_icon" (click)="resetNewGenericObject();showNewGenericForm=true;insertNewSubcategory=false;selectedDate='';disableCategoryAndSubcategory=false;">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-close button_icon" (click)="getAllGenerics();selectedSubcategory=null;selectedCategory=null;showNewGenericForm=false;">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </span>
            </span>
            <select [(ngModel)]="selectedCategory" (ngModelChange)="getSubcategories()" [disabled]="!categories" class="form-control">
                <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <span class="label_text">
                {{'fe.generalComponentContent.subcategory' | translate}}
                <span class="pull-right">
                    <button type="button" class="btn btn-warning button_icon" [disabled]="!selectedSubcategory" (click)="showModal(editSubcategoryModal, 'editSubCategory', selectedSubcategory)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-danger button_icon" [disabled]="!selectedSubcategory" (click)="showModal(confirmationModal, 'deleteSubCategory', selectedSubcategory)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="submit" class="btn btn-success pull-right button_icon" [disabled]="!selectedCategory?.name" (click)="resetNewGenericObject();showNewGenericForm=true;selectedDate='';newGeneric.category=selectedCategory.name;insertNewSubcategory=true;disableCategoryAndSubcategory=false;">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </span>
            </span>
            <select [(ngModel)]="selectedSubcategory" (ngModelChange)="getFilteredData()" [disabled]="!selectedCategory?.name" class="form-control">
                <option *ngFor="let s of subcategories" [ngValue]="s">{{s}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-success addParamBtn" [disabled]="!selectedCategory?.name || !selectedSubcategory" (click)="showNewGenericForm=true;selectedDate='';newGeneric.category=selectedCategory.name;newGeneric.subcategory=selectedSubcategory;disableCategoryAndSubcategory=true">
                <span class="glyphicon glyphicon-plus addGlyph" aria-hidden="true"></span>{{'fe.generics.addParameter' | translate}}
            </button>
        </div>
    </div>
    <div class="container-fluid" *ngIf="showNewGenericForm">
        <form #newGenericForm="ngForm">
            <table class="form-group table_form">
                <tr>
                    <td *ngIf="insertNewSubcategory==false && disableCategoryAndSubcategory==false">
                        <span class="label_text">{{'fe.generalComponentContent.category' | translate}}</span>
                        <span *ngIf="newCategory.errors?.required && newCategory.touched" class="label label-danger pull-right">
                            {{'fe.generalComponentContent.required' | translate}}
                        </span>
                        <input type="text" required name="newCategory" #newCategory="ngModel" [(ngModel)]="newGeneric.category" class="form-control">
                    </td>
                    <td *ngIf="disableCategoryAndSubcategory==false">
                        <span class="label_text">{{'fe.generalComponentContent.subcategory' | translate}}</span>
                        <span *ngIf="newSubcategory && newSubcategory.errors?.required && newSubcategory.touched" class="label label-danger pull-right">
                            {{'fe.generalComponentContent.required' | translate}}
                        </span>
                        <div *ngIf="insertNewSubcategory==true" class="input-group">
                            <div class="input-group-addon">{{selectedCategory.name}}.</div>
                            <input type="text" name="newSubcategory" #newSubcategory="ngModel" [(ngModel)]="newGeneric.subcategory" required class="form-control">
                        </div>
                        <input *ngIf="insertNewSubcategory==false && disableCategoryAndSubcategory==false" type="text" name="newSubcategory" #newSubcategory="ngModel" [(ngModel)]="newGeneric.subcategory" required class="form-control">
                    </td>
                    <td *ngIf="disableCategoryAndSubcategory==true">
                        <span class="label_text">{{'fe.generalComponentContent.name' | translate}}</span>
                        <span *ngIf="newName.errors?.required && newName.touched" class="label label-danger pull-right">
						    {{'fe.generalComponentContent.required' | translate}}
						</span>
                        <div class="input-group">
                            <div class="input-group-addon">{{selectedCategory.name}}.{{selectedSubcategory}}.</div>
                            <input type="text" name="newName" #newName="ngModel" [(ngModel)]="newGeneric.name" required class="form-control">
                        </div>
                    </td>
                    <td *ngIf="disableCategoryAndSubcategory==false">
                        <span class="label_text">{{'fe.generalComponentContent.name' | translate}}</span>
                        <span *ngIf="newName.errors?.required && newName.touched" class="label label-danger pull-right">
                            {{'fe.generalComponentContent.required' | translate}}
                        </span>
                        <input type="text" name="newName" #newName="ngModel" [(ngModel)]="newGeneric.name" required class="form-control">
                    </td>
                    <td>
                        <span class="label_text">{{'fe.generalComponentContent.type' | translate}}</span>
                        <span *ngIf="keyType.errors?.required && keyType.touched" class="label label-danger pull-right">
                            {{'fe.generalComponentContent.required' | translate}}
                         </span>
                        <select #keyType="ngModel" [(ngModel)]="newGeneric.genericModel.keyType" (ngModelChange)="keyTypeChange($event)" name="keyType" class="form-control" required>
                            <option *ngFor="let s of customDataTypes" [ngValue]="s" >{{s}}</option>
                        </select>
                    </td>
                    <td>
                        <span class="label_text">{{'fe.generalComponentContent.value' | translate}}</span>
                        <span *ngIf="newValue  && newValue.errors?.required && newValue.touched" class="label label-danger pull-right">
                            {{'fe.generalComponentContent.required' | translate}}
                         </span>
                        <input *ngIf="newGeneric.genericModel.keyType=='Integer'" type="text" name="newValue" #newValue="ngModel" [(ngModel)]="newGeneric.genericModel.value" required class="form-control" onlyNumber [allowedNegative]="true">
                        <input *ngIf="newGeneric.genericModel.keyType=='String'" type="text" name="newValue" #newValue="ngModel" [(ngModel)]="newGeneric.genericModel.value" required class="form-control">
                        <input *ngIf="newGeneric.genericModel.keyType=='Decimal'" type="text" step="0.01" name="newValue" #newValue="ngModel" [(ngModel)]="newGeneric.genericModel.value" required class="form-control" onlyDecimal>
                        <p-calendar [dateFormat]="'dd/mm/yy'" [dataType]="'string'" [style]="{'display':'block','width':'100%'}" [inputStyle]="{'width':'100%'}" *ngIf="newGeneric.genericModel.keyType=='Date'" name="newValue" #newValue="ngModel" [(ngModel)]="selectedDate" required></p-calendar>
                        <p-inputMask styleClass="timeInput" placeholder="hh:mm:ss" *ngIf="newGeneric.genericModel.keyType=='Time'" mask="99:99:99" name="newValue" #newValue="ngModel" [(ngModel)]="newGeneric.genericModel.value" required></p-inputMask>
                        <div *ngIf="newGeneric.genericModel.keyType=='Boolean'">
                            <p-checkbox binary="true" name="newValue" [(ngModel)]="newGeneric.genericModel.value" [label]="newGeneric.genericModel.value ? 'true' : 'false'"></p-checkbox>
                        </div>

                    </td>
                    <td>
                        <span class="label_text">{{'fe.generalComponentContent.description' | translate}}</span>
                        <span *ngIf="newDescription.errors?.required && newDescription.touched" class="label label-danger pull-right">
                            {{'fe.generalComponentContent.required' | translate}}
                        </span>
                        <input type="text" name="newDescription" #newDescription="ngModel" [(ngModel)]="newGeneric.genericModel.description" required class="form-control">
                    </td>

                </tr>
                <tr>
                    <td colspan="20" class="text-center">
                        <button type="button" [disabled]="!newGenericForm.valid" class="btn btn-primary" (click)="insertNewGeneric();showNewGenericForm=false;">{{'fe.generalComponentContent.submit' | translate}}</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>


    <div bsModal #confirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(confirmationModal)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                    <h4 class="modal-title">{{'fe.generics.deleteQuestion' | translate}} {{itemType}}</h4>
                    <div class="modal-body">
                        <div class="modal-class"> {{itemToDelete}} ?</div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default modal-cancel" (click)="hideModal(confirmationModal);$event.stopPropagation()">{{'fe.generalComponentContent.cancel' | translate}}</button>
                        <button class="btn btn-primary modal-delete" (click)="confirmDelete(confirmationModal);$event.stopPropagation()">{{'fe.generalComponentContent.confirm' | translate}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div bsModal #editCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(editCategoryModal)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                    <h4 class="modal-title">{{'fe.generics.editCategory' | translate}}</h4>
                    <div class="modal-body">
                        <div class="modal-class">
                            <span *ngIf="editSelCategory.errors?.required && editSelCategory.touched" class="label label-danger pull-right">
                                {{'fe.generalComponentContent.required' | translate}}
                            </span>
                            <input type="text" required name="editSelCategory" #editSelCategory="ngModel" [(ngModel)]="editedCategory" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default modal-cancel" (click)="hideModal(editCategoryModal);$event.stopPropagation()">{{'fe.generalComponentContent.cancel' | translate}}</button>
                        <button class="btn btn-primary modal-delete" (click)="editSelectedCategory(editCategoryModal);$event.stopPropagation()">{{'fe.generalComponentContent.confirm' | translate}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div bsModal #editSubcategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(editSubcategoryModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">{{'fe.generics.editSubcategory' | translate}}</h4>
                    <div class="modal-body">
                        <div class="modal-class">
                            <table class="form-group table_form">
                                <tr>
                                    <td>
                                        <span *ngIf="editSelSubcategory.errors?.required && editSelSubcategory.touched" class="label label-danger pull-right">
                                            {{'fe.generalComponentContent.required' | translate}}
                                        </span>
                                        <div class="input-group">
                                            <div class="input-group-addon">{{selectedCategory?.name}}.</div>
                                            <input type="text" required name="editSelSubcategory" #editSelSubcategory="ngModel" [(ngModel)]="editedSubcategory" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default modal-cancel" (click)="hideModal(editSubcategoryModal);$event.stopPropagation()">{{'fe.generalComponentContent.cancel' | translate}}</button>
                        <button class="btn btn-primary modal-delete" (click)="editSelectedSubcategory(editSubcategoryModal);$event.stopPropagation()">{{'fe.generalComponentContent.confirm' | translate}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <p-dataTable [value]="generics" [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5, 10, 15, 20, 25, 50, 100, 250, 500]" [globalFilter]="globalFilter" reorderableColumns="true" class="table" reorderableColumns="true">
            <p-column field="key" [header]="'fe.generalComponentContent.key' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '30%' }"></p-column>
            <p-column field="value" [header]="'fe.generalComponentContent.value' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '20%' }"></p-column>
            <p-column field="keyType" [header]="'fe.generics.keyType' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '10%' }"></p-column>
            <p-column field="description" [header]="'fe.generalComponentContent.description' | translate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '40%' }"></p-column>
            <p-column field="operations" [style]="{'width': '84px'}">
                <template pTemplate="header">
                    <button class="btn btn-success" (click)="refreshData()">
						<span class="glyphicon glyphicon-refresh"></span>
					</button>
                </template>
                <template let-generic="rowData" pTemplate="body">
                    <button class="btn btn-warning edit-button" (click)="showModal(genericsModal, 'editGeneric', generic)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
                    <button class="btn btn-danger delete-button" (click)="showModal(confirmationModal, 'deleteGeneric',generic.key)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
                </template>
            </p-column>
        </p-dataTable>
    </div>

    <div bsModal #genericsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-center editGenericModal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(genericsModal)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    <h4 class="modal-title">{{'fe.generalComponentContent.edit' | translate}}</h4>
                </div>
                <form #editGeneric="ngForm">
                    <div class="modal-body">
                        <table class="form-group table_form">
                            <tr>
                                <td>
                                    <span class="label_text">{{'fe.generalComponentContent.key' | translate}}</span>
                                    <span *ngIf="editName.errors?.required && editName.touched" class="label label-danger pull-right">
                                        {{'fe.generalComponentContent.required' | translate}}
                                    </span>
                                    <div class="input-group">
                                        <div class="input-group-addon">{{editableGeneric.category}}.{{editableGeneric.subcategory}}.</div>
                                        <input type="text" name="editName" #editName="ngModel" [(ngModel)]="editableGeneric.name" [disabled]="true" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <span class="label_text">{{'fe.generalComponentContent.type' | translate}}</span>
                                    <span *ngIf="keyType.errors?.required && keyType.touched" class="label label-danger pull-right">
                                        {{'fe.generalComponentContent.required' | translate}}
                                    </span>
                                    <select #keyType="ngModel" [(ngModel)]="editableGeneric.genericModel.keyType" name="keyType" class="form-control" [disabled]="true" required>
                                        <option *ngFor="let s of customDataTypes" [ngValue]="s" >{{s}}</option>
                                    </select>
                                </td>
                                <td>
                                    <span class="label_text">{{'fe.generalComponentContent.value' | translate}}</span>
                                    <span *ngIf="editValue  && editValue.errors?.required && editValue.touched" class="label label-danger pull-right">
                                        {{'fe.generalComponentContent.required' | translate}}
                                    </span>
                                    <input *ngIf="editableGeneric.genericModel.keyType=='Integer'" type="number" name="newValue" #newValue="ngModel" [(ngModel)]="editableGeneric.genericModel.value" required class="form-control">
                                    <input *ngIf="editableGeneric.genericModel.keyType=='String'" type="text" name="newValue" #newValue="ngModel" [(ngModel)]="editableGeneric.genericModel.value" required class="form-control">
                                    <input *ngIf="editableGeneric.genericModel.keyType=='Decimal'" type="number" step="0.01" name="newValue" #newValue="ngModel" [(ngModel)]="editableGeneric.genericModel.value" required class="form-control">
                                    <p-calendar [dateFormat]="'dd/mm/yy'" [dataType]="'string'" [style]="{'display':'block','width':'100%'}" [inputStyle]="{'width':'100%'}" *ngIf="editableGeneric.genericModel.keyType=='Date'" name="newValue" #newValue="ngModel" [(ngModel)]="selectedDate" required></p-calendar>
                                    <p-inputMask styleClass="timeInput" placeholder="hh:mm:ss" *ngIf="editableGeneric.genericModel.keyType=='Time'" mask="99:99:99" name="newValue" #newValue="ngModel" [(ngModel)]="editableGeneric.genericModel.value" required></p-inputMask>
                                    <div *ngIf="editableGeneric.genericModel.keyType=='Boolean'">
                                        <p-checkbox binary="true" name="newValue" [(ngModel)]="editableGeneric.genericModel.value" [label]="editableGeneric.genericModel.value ? 'true' : 'false'"></p-checkbox>
                                    </div>
                                </td>
                                <td>
                                    <span class="label_text">{{'fe.generalComponentContent.description' | translate}}</span>
                                    <span *ngIf="editDescription.errors?.required && editDescription.touched" class="label label-danger pull-right">
                                        {{'fe.generalComponentContent.required' | translate}}
                                    </span>
                                    <input type="text" name="editDescription" #editDescription="ngModel" [(ngModel)]="editableGeneric.genericModel.description" required class="form-control">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="hideModal(genericsModal);$event.stopPropagation()">{{'fe.generalComponentContent.cancel' | translate}}</button>
                        <button type="button" [disabled]="!editGeneric.valid" class="btn btn-warning" (click)="updateGeneric(genericsModal);$event.stopPropagation()">{{'fe.generalComponentContent.edit' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>