#cmp-generics{
    .btn-close {
        color: red;
    }

    .delete-button {
        float: right;
        width: 30px;
        padding: 3px !important;
    }

    .edit-button {
        float: left;
        width: 30px;
        padding: 3px !important;
    }
    .table_form {

        table {
           margin-bottom: 10px;
        }

        margin-top: 15px;
        width: 100%;

        td {
           padding: 5px 10px 5px 10px;
        }

        td:first-child {
           padding-left: 0;
        }

        td:last-child {
           padding-right: 0;
        }
    }
    .filtersContainer{
        background: #eef0f3;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 26px;
    }
    .button_icon {
        border-radius: 50%;
        color: #fff;
        font-size: 10px;
        float: left;
        height: 21px;
        margin-bottom: 2px;
        padding: 3px 5px;
        position: relative;
        width: 21px;
    }
    .editGenericModal{
        width: 80%;
    }
    .timeInput{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #555;
        display: block;
        font-weight: normal;
        height: 34px;
        line-height: 1.42857143;
        padding: 6px 12px;
        width: 100%;
    }
    .addGlyph{
         margin-right:4px;
    }
    .addParamBtn{
        margin-top:22px
    }

    .ui-chkbox-label {
        margin-top: 5px !important;
        cursor: pointer !important;
    }
}