#cmp-admin-email-configs{
    .add-edit-form {
        background: #EFF1F4;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .glyphicon-eye-open {
        cursor: pointer;
        top: 4px; 
    }

    .glyphicon-eye-open:hover {
        color: green; 
    }

    .mandatory-label {
        color: red;
    }

    .gif-loading-refresh-table {
        width: 30px;
    }

    .textarea-description-input {
        resize: vertical;
    }

    .modal-add-edit-form {
        width: 25%;
    }

    .delete-email-configs {
        text-align: center; 
        color: red;
    }

    .btn-edit-delete-table {
        text-align: center;
    }

    .edit-button {
        float: left;
        width: 30px;
        padding: 3px !important; 
    }

    .delete-button {
        float: right;
        width: 30px;
        padding: 3px !important;
    }

    .dialog-delete-email-configs {
        width: 550px;
    }
}