@import '~@angular/material/theming';
@import '../app.component.scss';

// Helper classes
.display-none{ 
  display: none;
}

#reports {
  width: 100%;
  
  // Form
  form {
    display: flex;
    align-items: center;
    padding: 15px 0px
  }
  .mat-form-field {
    width: 80%;
  }
  mat-checkbox {
    width: 80%;
    margin-top: 15px;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
    background: $warn;
    margin-right: 10px;
    color: #fff;
  }
  form .btn {
    width: 420px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: $warn;
    cursor: inherit;
    display: block;
  }
  #params {
    margin: 50px 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .card-label {
    color: $primary;
  }
  .parameter-values {
    max-width: 185px;
    word-break: break-word;
  }
  .mat-card {
    margin: 0 10px;
    margin-bottom: 20px;
  }
  .mat-card-content {
    margin:50px 0 20px 0;
  }
  .mat-card-title {
    font-size: 20px;
    color: $gray;
  }

  .mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #required {
    margin-top: 0;
    margin-bottom: -0px;
    background-color: $warn;
    width: 60px;
    padding-left: 3px;
    color: white;
    border-radius: 4px;
    font-size: 13px;
    margin-left: 340px;
  }

  // Form card
  .form-card {
    width: 450px;
    height: 270px;
  }
  .form-wrapper{ 
    margin-top: 100px;
    align-items: center;
  }

  .upload-icon {
    margin-right: 10px;
  }
}
