@import '~@angular/material/theming';
@import '../app.component.scss';

#reports{
    min-width: 100%;
}
.topForm{
    margin-left: 10%;
    margin-top: 2%;
}
.topForm .mat-form-field{
    margin-right: 20px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    background: #64FFDA;
    margin-right: 10px;
}

form .btn{
    width: 400px;
    height: 60px;
    padding-top: 17px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #64FFDA;
    cursor: inherit;
    display: block;
}
#params{
    margin-right: 20%;
    margin-top:3%;
}
.mat-card{
    background: #64FFDA;
    margin-top: 1%;
    margin-left: 10%;
    margin-right:20%;
}
.mat-card-content{
    margin-top: 30px;
}
.ediBtn{
    background:$warn;
    width: 200px;
}
.createBtn{
    background:$warn;
    width: 200px!important;
    padding-top: 7px!important;
    height: 40px!important;
    margin-left: 15px;
}
#required{
    margin-top: 0;
    margin-bottom: -0px;
    background-color: #d9534f;
    width: 60px;
    padding-left: 3px;
    color: white;
    border-radius: 4px;
    font-size: 13px;
    margin-left: 340px;

}