@import '../app.component.scss';
#scheduler {
  width: 80%;
  margin: 200px auto;

  table {
    width: 100%;
  }
  tr.mat-header-row {
    background: linear-gradient(to right, $primary, $accent)!important;
  }
   th.mat-header-cell {
    color: white;
    font-size: 1em;
  }
  td::selection {
    background: $primary;
  }
  th::selection {
    background: $primary;
  }
}
