<div id="addJob">
  <h1 class="dialog-title">Add Job </h1>
  <!-- <div *ngIf="data"> -->
  <mat-dialog-content>
    <h3 class="dialog-subtitle">Basic information</h3>
    <form [formGroup]="addJobForm" autocomplete="off">
      <div class="basic-inputs">
        <!-- Job Name -->
        <mat-form-field>
          <input formControlName="jobName" matInput name="jobName" type="text" placeholder="Job Name">
        </mat-form-field>
        <mat-error *ngIf="jobName.touched && jobName.errors">
          Job name is
          <strong>required</strong>
        </mat-error>
        <!-- Cron Expression -->
        <mat-form-field>
          <input formControlName="cronExpression" matInput name="cronExpression" type="text" placeholder="Cron Expression">
        </mat-form-field>
      </div>
      <div class="basic-inputs" *ngIf="classLoading">
        <!-- Class Loading true/false  -->
        <div class="checkbox">
          <mat-checkbox formControlName="classLoading" color="warn" (change)="doCheck($event)" [checked]="isChecked" [disabled]="this.classLoading.length == 0">
            Class Loading </mat-checkbox>
        </div>
        <!-- ClassLoading -->
        <mat-form-field *ngIf="classLoading.length > 0">
          <mat-select formControlName="kjcClasses" placeholder="KjcClasses" required name="name">
            <mat-option *ngFor="let job of classLoading; let i = index" [value]="job">{{job.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="classLoading.length == 0" class="no-data">
          No classes to show.
        </div>
      </div>
      <hr>
      <div class="basic-inputs">
        <h5 class="label"> Add Job Type & Status</h5>
        <!-- Job Type -->
        <mat-form-field>
          <mat-select formControlName="jobType" placeholder="Job Type" required name="typeName">
            <mat-option *ngFor="let job of jobTypes; let i = index" [value]="job">{{job.typeName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="jobType.touched && jobType.errors">
            Job type is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <!-- Status -->
        <mat-form-field>
          <input formControlName="status" matInput name="status" placeholder="Status">
        </mat-form-field>
        <mat-error *ngIf="status.touched && status.errors">
          Status is
          <strong>required</strong>
        </mat-error>
      </div>
      <!-- ----------- JOB PARAMS -------------- -->
      <div class="params-container">
        <div class="flex row">
          <div class="flex column params">
            <h5 class="label"> Add Job Params</h5>
            <!--  Param Name -->
            <mat-form-field class="param-field">
              <input formControlName="name" matInput name="name" placeholder="Name">
            </mat-form-field>
            <mat-error *ngIf="nameError">
              Param name is
              <strong>required</strong>
            </mat-error>
            <!-- Param Value -->
            <mat-form-field class="param-field">
              <input formControlName="value" matInput name="value" placeholder="Value">
            </mat-form-field>
            <mat-error *ngIf="valueError">
              Param value is
              <strong>required</strong>
            </mat-error>
            <!-- Description -->
            <mat-form-field class="param-field">
              <input formControlName="description" matInput name="description" placeholder="Description">
            </mat-form-field>
            <button class="param-button" mat-stroked-button color="primary" (click)="addJobParam()">Add</button>
            <div class="param-message" *ngIf="paramMesssage">
              <strong>Param with this name exists.</strong>
            </div>
          </div>
          <div class="added-params">
            <h5 class="label"> Added Params</h5>
            <div *ngFor="let param of paramsArray; let i = index">
              <span class="params-show">
                <mat-icon class="unselect-icon" (click)="removeJobParam(param, i)">close</mat-icon>
                {{i+1}}. {{param.name}}
                <i *ngIf="selectedParam != i" class="material-icons params-expand-icon" (click)="expandParamsInfo(i)">
                  expand_more
                </i>
                <i *ngIf="expand == true && selectedParam == i" class="material-icons params-expand-icon" (click)="expandParamsInfo(i)">
                  expand_less
                </i>
              </span>
              <div *ngIf="expand == true && selectedParam == i">
                <div class="params-expanded">
                  <span class="param-value">
                    <strong>Value: </strong>
                    <br> {{param.value}}
                  </span>
                  <span class="param-description">
                    <strong>Description: </strong>
                    <br> {{param.description}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!-- Notifications -->
      <div class="basic-inputs">
        <h5 class="label">Choose notifications from list</h5>
        <mat-form-field>
          <mat-select formControlName="listNotificationses" placeholder="Notifications" multiple required>
            <mat-option *ngFor="let job of notification; let i = index" [value]="job">{{job.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <hr>
      <!-- Categories -->
      <h3 class="dialog-subtitle">Select categories & weight for each category</h3>
      <div class="categories">
        <div class="categories-box">
          <h5 class="label">Choose categories</h5>
          <div *ngFor="let category of categories | filter: listCategoryWeight : 'categories_add'">
            <mat-checkbox color="warn" (change)="checked($event, category)" labelPosition="after" multiple>
              {{category.categoryName}}
            </mat-checkbox>
          </div>
        </div>
        <!-- Selected Categories -->
        <div class="selected-categories">
          <h5 class="label">Choose weight for selected categories</h5>
          <div>
            <div *ngFor="let selected of listCategoryWeight; let i = index" class="selected-categories-box">
              <mat-icon class="unselect-icon" *ngIf="selected.category.categoryName" (click)="unchecked(selected)">close</mat-icon>
              <span>{{selected.category.categoryName}}</span>
              <mat-slider color="warn" max="5" min="1" step="1" thumbLabel="true" tickInterval="5" [value]="selected.weight" (change)="sliderChange($event, selected)">
              </mat-slider>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="buttons">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="warn" (click)="addJob()" [disabled]="jobName.errors || jobType.errors || status.errors">Submit</button>
  </mat-dialog-actions>
  <!-- </div> -->
</div>