<div id="cmp-package_management" class="app_content-container-cmp">
    <div *ngIf="componentAlert.show" class="alert_box">
        <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
            <span [innerHTML]="componentAlert.message"></span>
        </alert>
    </div>

    <h2 class="view-header">
        <div class="view-header-sub">
            {{'fe.packageManagement.mainHeader' | translate}}
        </div>
    </h2>

    
    <div class="container-fluid">
        <p-dataTable #dataTable [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" [value]="packages" [rows]="10" [paginator]="true" [rowsPerPageOptions]="pageSizes" [globalFilter]="globalFilter" reorderableColumns="true" class="table">
            <p-column field="code" [header]="'fe.packageManagement.code' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.code}}</div>
                </template>
            </p-column>
            <p-column field="clientCompanyType" [header]="'fe.packageManagement.clientCompanyType' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.clientCompanyType}}</div>
                </template>
            </p-column>
            <p-column field="name" [header]="'fe.generalComponentContent.name' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.name}}</div>
                </template>
            </p-column>
            <p-column field="numberOfAccounts" [header]="'fe.packageManagement.numberOfAccounts' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.numberOfAccounts}}</div>
                </template>
            </p-column>
            <p-column field="numberOfLocations" [header]="'fe.packageManagement.numberOfLocations' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.numberOfLocations}}</div>
                </template>
            </p-column>
            <p-column field="duration" [header]="'fe.packageManagement.duration' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">{{object.duration}}</div>
                </template>
            </p-column>
            <p-column field="operations" [style]="{'width': '112px'}">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center">
                        <button class="btn btn-warning" (click)="showModal(packageModal, 'editPackage', object)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </div>
                </template>
            </p-column>
        </p-dataTable>
    </div>

    <!-- Add/Edit Style Modal -->
    <div bsModal #packageModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="packageModal" aria-hidden="true">
        <div *ngIf="packageForm" class="modal-dialog modal-lg modal-dialog-center">
            <div class="modal-content">
                <form [formGroup]="packageForm" (ngSubmit)="packageFormSubmit(packageModal)" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="hideModal(packageModal)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title">{{ 'fe.packageManagement.edit' | translate}}</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="form-group col-md-12">
                            <p><strong>{{ 'fe.packageManagement.code' | translate }}</strong> <br/>{{ packageForm.controls.code.value }}</p>
                        </div>
                        <div class="form-group col-md-12">
                            <p><strong>{{ 'fe.packageManagement.clientCompanyType' | translate }}</strong> <br/>{{ packageForm.controls.clientCompanyType.value }}</p>
                        </div>
                        <div class="form-group col-md-12">
                            <p><strong>{{ 'fe.packageManagement.name' | translate }}</strong> <br/>{{ packageForm.controls.name.value }}</p>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="numberOfAccounts">{{ 'fe.packageManagement.numberOfAccounts' | translate }}</label>
                            <control-messages [control]="packageForm.controls.numberOfAccounts"></control-messages>
                            <input type="text" class="form-control" formControlName="numberOfAccounts" name="numberOfAccounts" placeholder="{{ 'fe.packageManagement.numberOfAccounts' | translate }}" onlyNumber />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="numberOfLocations">{{ 'fe.packageManagement.numberOfLocations' | translate }}</label>
                            <control-messages [control]="packageForm.controls.numberOfLocations"></control-messages>
                            <input type="text" class="form-control" formControlName="numberOfLocations" name="numberOfLocations" placeholder="{{ 'fe.packageManagement.numberOfLocations' | translate }}" onlyNumber />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="duration">{{ 'fe.packageManagement.duration' | translate }}</label>
                            <control-messages [control]="packageForm.controls.duration"></control-messages>
                            <input type="text" class="form-control" formControlName="duration" name="duration" placeholder="{{ 'fe.packageManagement.duration' | translate }}" onlyNumber />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="hideModal(packageModal)">{{'fe.generalComponentContent.cancel' | translate}}</button>
                        <button type="submit" class="btn btn-success" [disabled]="packageForm.invalid">{{'fe.generalComponentContent.save' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>