<div id="cmp-categories" class="app_content-container-cmp">
    <div *ngIf="componentAlert.show" class="alert_box">
        <alert [type]="componentAlert.type" [dismissible]="componentAlert.dismissible" (close)="this._utilityService.setAlert(this.componentAlert)">
            <span [innerHTML]="componentAlert.message"></span>
        </alert>
    </div>

    <h2 class="view-header clearfix">
        <div class="view-header-sub">
            {{'fe.classLoading.mainHeaderCategory' | translate}}
        </div>
    </h2>

    <div class="container-fluid form-group">
        <span class="pull-right">
            <button class="btn btn-success" (click)="showModal(lgModal, 'addCategory')">
                {{'fe.classLoading.addNewCategory' | translate}}
            </button>
        </span>
    </div>

    <div class="container-fluid">
        <p-dataTable #tableCategories [emptyMessage]="'fe.generalComponentContent.noResultsFound' | translate" [value]="allCategories" [rows]="10" [paginator]="true" [rowsPerPageOptions]="pageSizes" reorderableColumns="true" class="table">
            <p-column field="name" [header]="'fe.classLoading.categoryName' | translate" sortable="true" [filter]="true" filterMatchMode="contains">
                <template let-object="rowData" pTemplate="body">
                    <div class="text-center" [tooltip]="object.name" placement="top">{{object.name}}</div>
                </template>
            </p-column>
            <p-column field="operations" [style]="{'width': '84px'}">
                <template pTemplate="header">
                    <span>
                        <button class="btn btn-success" (click)="refreshTable(tableCategories)">
                            <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    </span>
                </template>
                <template let-object="rowData" pTemplate="body">
                    <div>
                        <button class="btn btn-warning edit-button" (click)="showModal(lgModal, 'editCategory', object)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn btn-danger delete-button" (click)="showModal(lgModal, 'deleteCategory', object)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </template>
            </p-column>
        </p-dataTable>
    </div>

    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div *ngIf="operation == 'addCategory'" class="modal-dialog modal-md modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(lgModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">{{'fe.classLoading.addNewCategory' | translate}}</h4>
                </div>
                <form #addForm="ngForm" (ngSubmit)="addCategory(lgModal)">
                    <div class="modal-body">
                        <validation-messages [errors]="categoryFormErrors">
                            <label>{{'fe.classLoading.fieldCategory' | translate}}</label>
                            <span *ngIf="!categoryAdd" class="label label-danger pull-right">{{'fe.generalComponentContent.required' | translate}}</span>
                            <input name="categoryName" [(ngModel)]="categoryAdd" maxlength="50" class="form-control" required />
                        </validation-messages>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default modal-cancel" (click)="hideModal(lgModal);$event.stopPropagation()">{{'fe.generalComponentContent.cancel' | translate}}</button>
                        <button type="submit" [disabled]="!addForm.valid" (click)="$event.stopPropagation()" class="btn btn-primary">{{'fe.generalComponentContent.add' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>

        <div *ngIf="operation == 'editCategory'" class="modal-dialog modal-md modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(lgModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">{{categoryEditName}}</h4>
                </div>
                <form #editForm="ngForm" (ngSubmit)="editCategorySubmit(lgModal)">
                    <div class="modal-body">
                        <div>
                            <validation-messages [errors]="categoryEditFormErrors" inputName="categoryEdit">
                                <label>{{'fe.classLoading.fieldCategory' | translate}}</label>
                                <span *ngIf="!categoryEditObject.name" class="label label-danger pull-right">{{'fe.generalComponentContent.required' | translate}}</span>
                                <input name="categoryName" [(ngModel)]="categoryEditObject.name" maxlength="50" class="form-control" required />
                            </validation-messages>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default modal-cancel" (click)="hideModal(lgModal);$event.stopPropagation()">{{'fe.generalComponentContent.cancel' | translate}}</button>
                        <button type="submit" [disabled]="!editForm.valid" (click)="$event.stopPropagation()" class="btn btn-primary modal-delete">{{'fe.generalComponentContent.edit' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>

        <div *ngIf="operation == 'deleteCategory'" class="modal-dialog modal-md modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideModal(lgModal)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">{{'fe.classLoading.deleteCategory' | translate}}:</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <b>{{'fe.generalComponentContent.name' | translate}}:</b> {{categoryDeleteObject.name}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default modal-cancel" (click)="hideModal(lgModal);$event.stopPropagation()">{{'fe.classLoading.btnCancel' | translate}}</button>
                    <button class="btn btn-primary modal-delete" (click)="deleteCategory(categoryDeleteObject.id, lgModal);$event.stopPropagation()">{{'fe.classLoading.btnConfirm' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>