<div style="display:flex">
    <app-panel></app-panel>
    <h1>Categories</h1>
    <div id="classCategories">
        <div id="myTable">
            <button color="warn" matTooltip="Add Category" matTooltipPosition="above" (click)="openAddDialog()" mat-mini-fab>
            <i class="material-icons plus">add</i> 
        </button>
            <div *ngIf="dataSource">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="categoryName">
                        <th mat-header-cell *matHeaderCellDef> Category Name </th>
                        <td mat-cell *matCellDef="let category"> {{category.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="editing">
                        <th mat-header-cell *matHeaderCellDef> Editing</th>
                        <td mat-cell *matCellDef="let category">
                            <i matTooltip="Edit category" matTooltipPosition="above" class="material-icons" (click)="openEditDialog(category)"> edit </i>
                            <i matTooltip="Delete category" matTooltipPosition="above" class="material-icons" (click)="deleteCategory(category.id,'category',category.name)"> delete </i>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>