@import '../app.component.scss';
#classCategories {
  width: 100%;

table{
    min-width: 500px;
    // margin-top: 15px;
    // margin-left: 8px;
}
button{
    background: $warn;
    float:right;
    margin-top: 12px;
    margin-right: 8px;
    margin-bottom: 10px;
}
#classCategories{
    width:100%;
    margin-top: 6%;
}
}

