<div id="editJob">
    <h1>Edit</h1>
    <form class="addJob-container">
      <mat-form-field>
        <input matInput name="jobName" [(ngModel)]="currentJob.jobName" type="text" placeholder="Job Name">
        <!-- <mat-error >
            Job Name is required.
          </mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput name="cronExpression" [(ngModel)]="currentJob.cronExpression" placeholder="Cron Expression">
        <!-- <mat-error *ngIf="cronExpression.touched && cronExpression.errors">
            Cron Expression is required.
          </mat-error> -->
      </mat-form-field>
      <button type="submit" mat-raised-button class="editButton" (click)="editJob()">Save</button>
    </form>
  </div>
