<div id="editJob">
    <h1>Edit</h1>
    <form class="addJob-container">
      <mat-form-field>
        <!-- JOB Name? -->
        <input matInput name="eventName" [(ngModel)]="currentJob.eventName" type="text" placeholder="Event Name" autocomplete="off">
        <!-- <mat-error >
            Job Name is required.
          </mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput name="jobName" placeholder="Job Name" autocomplete="off">
        <mat-select name="jobName" placeholder="Job Name"  [(ngModel)]="currentJob.jobName"required>
            <mat-option *ngFor="let job of events" [value]="job.jobs.jobName" >{{job.jobName}}</mat-option>
          </mat-select>
        <!-- <mat-error *ngIf="cronExpression.touched && cronExpression.errors">
            Cron Expression is required.
          </mat-error> -->
      </mat-form-field>
      <mat-form-field>
          <input matInput name="eventType" placeholder="Event Type" autocomplete="off">
        <mat-select name="eventType" placeholder="Event Type"  [(ngModel)]="currentJob.eventType" required>
            <mat-option *ngFor="let job of events" [value]="job.eventType" >{{job.eventType}}</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="cronExpression.touched && cronExpression.errors">
              Cron Expression is required.
            </mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <input matInput name="cronExpression" [(ngModel)]="currentJob.jobs.cronExpression" placeholder="Definition" autocomplete="off">
            <!-- <mat-error *ngIf="cronExpression.touched && cronExpression.errors">
                Cron Expression is required.
              </mat-error> -->
          </mat-form-field>
          <mat-form-field>
              <textarea matInput name="description"  [(ngModel)]="currentJob.description" placeholder="Description"></textarea>
              <!-- <mat-error *ngIf="cronExpression.touched && cronExpression.errors">
                  Cron Expression is required.
                </mat-error> -->
            </mat-form-field>
      <button type="submit" mat-raised-button class="editButton" (click)="editJob()">Save</button>
    </form>
  </div>
